body{
  font-family: Ubuntu, Helvetica, Arial, sans-serif !important;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
																	supported by Chrome and Opera */
}
label.table-header{
	display: flex !important;
	cursor: pointer;
	&.ordered{
		@extend %fa-icon;
		@extend .fas;
		&.asc{
			&:before{
				content: fa-content($fa-var-sort-up);
				font-size: $sort-order-size;
				margin-right: $sort-order-margin-right;
				position: relative;
				top: 5px;
			}
		}
		&.desc{
			&:before{
				content: fa-content($fa-var-sort-down);
				font-size: $sort-order-size;
				margin-right: $sort-order-margin-right;
				position: relative;
				top: -5px;
			}
		}
	}
	&.unordered{
		@extend %fa-icon;
		@extend .fas;
		&:before{
			content: fa-content($fa-var-sort);
			font-size: $sort-order-size;
			margin-right: $sort-order-margin-right;
		}
	}
}
.page-link{
	padding: 7px 8px !important;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes form_opacity_spin { 0% { opacity: 1; } 100% { opacity: 0.5; } }
@-webkit-keyframes form_opacity_spin { 0% { opacity: 1;} 100% { opacity: 0.5; } }
@keyframes form_opacity_spin { 0% { opacity: 1;} 100% { opacity: 0.5; } }
.spin{
	animation:spin 2s linear infinite;
}
.card{
	margin-bottom: 10px;
}
.bg-custom1{
	background-color: #fffabe;
}
.view-homework-content{
	border: 1px solid #eaeaea;
	padding: 30px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 8px 2px #bbbbbb;
}
.teachers-list{
	padding-left: 0px;
}

.table-container{
	position: relative;
	width: 100%;
	overflow-x: scroll;
	table{
		tr{
			&.inactive{
				font-style: italic;
				background-color: #ffc3c3 !important;
				color: #656565;
			}
		}
	}
}

@media (max-width: 990px){
	.modal-dialog {
		max-width: 95% !important;
	}
	.container{
		max-width: 100%!important;
			margin-right: 0px !important;
			margin-left: 0px !important;
			padding-left: 0px !important;
			padding-right: 0px !important;
	}
	.row{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	#app{
		margin-top: 0px !important;
	}
	/*
	.panel-student-top-header{
		&.container{
			max-width: 100%!important;
				margin-right: 0px !important;
				margin-left: 0px !important;
				padding-left: 0px !important;
				padding-right: 0px !important;
		}
		.row{
			margin-left: 0px !important;
			margin-right: 0px !important;
		}
	}
	*/
}

.user-picture, .card-img-top{
	max-width: 150px;
	position: relative;
	border-radius: 10px;
	border: 2px solid #bfaaff;
	box-shadow: 0px 0px 6px 0px #848484;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}