<template>
	<div class="about">
		<h1>Este espacio no existe</h1>
		<div>
			<div v-if=" user_type_current ===true ">
				<router-link :to="{name: 'panel_student'}">Ir a panel</router-link>
			</div>
			<div v-if=" user_type_current ===false ">
				<router-link :to="{name: 'panel_teacher'}">Ir a panel</router-link>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				user_type_current:null,
			}
		},
		mounted(){
			if(this.$dev_mode){
				console.log("profile = ",this.$store.state.profile)
			}
			if(this.$store.state.profile.user_type !== null && this.$store.state.profile.user_type !== undefined){
				this.user_type_current = this.$store.state.profile.user_type
			}
		},
		computed:{
			user_type:{
				get(){
					const val = this.$store.state.profile
					return (val && typeof val.user_type == 'boolean') ? val.user_type : null
				}
			},
		},
		watch:{
			user_type(new_val,old_val){
				if(this.$dev_mode)console.log("watching user_type",new_val)
				if(new_val ===false || new_val === true){
					this.user_type_current = new_val
				}
			},
		},
	}
</script>
<style lang=scss scoped>
	
</style>
