<template>
	<div>
		<panel-student-top-header />
		<b-modal
			id="modal_view_homework"
			name="modal_view_homework"
			title="Actividad del curso"
			ok-only
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			button-size=sm
			:size=" view.homework.content == '' ? 'md' : 'xl' " 
			header-bg-variant=dark
			header-text-variant=light
		>
			<div>
				<h3>{{ view.homework.title }}</h3>
				<i>Curso: {{ view.homework.course.name }}, Aula / Salón: {{ view.homework.classroom.title }}</i>
				<hr />
				<div style="position: relative;width: 100%;"
					v-if=" !view.homework.filenames || view.homework.filenames.length == 0 ">
						
					<div v-if=" view.homework.content !== '' "
						v-html=" view.homework.content " 
						class="view-homework-content"></div>
					<h6 v-else>Actividad sin descripción</h6>
				</div>
				<div v-else>
					<b-row v-if=" view.homework.content !== '' " >
						<b-col lg=7 md=6 sm=12 style="margin-top: 50px;">
							<div 
								v-html=" view.homework.content " 
								class="view-homework-content"></div>
						</b-col>
						<b-col lg=5 md=6 sm=12>
							<b-tabs content-class="mt-3">
								<b-tab 
									v-for="(it,idx) in view.homework.filenames" 
									:title=" `#${idx+1}` " :key = "idx" :active = "idx == 0"
								>
									<panel-student-homework-view-block 
										:src=" `${url_base}/homeworks/${view.homework.folder}/${it[0]}` " 
										/>
									<p style="text-align: center;">
										Tamaño: {{ it[1] }} MB
									</p>

								</b-tab>
							</b-tabs>
						</b-col>
					</b-row>
					<div v-else>
						<b-tabs content-class="mt-3">
							<b-tab 
								v-for="(it,idx) in view.homework.filenames" 
								:title=" `#${idx+1}` " :key = "idx" :active = "idx == 0"
							>
								<panel-student-homework-view-block 
									:src=" `${url_base}/homeworks/${view.homework.folder}/${it[0]}` " 
									/>
								<p style="text-align: center;">
									Tamaño: {{ it[1] }} MB
								</p>

							</b-tab>
						</b-tabs>
					</div>
				</div>
				<hr />
				<div class="view-homework-files"
					v-if=" 
							view.homework.filename1 || 
							view.homework.filename2 || 
							view.homework.filename3 || 
							view.homework.filename4 || 
							view.homework.filename5 
					">
					<p>Listado de archivos de esta actividad:</p>
					<filename-icon-display 
						v-if=" view.homework.filename1 " 
						:src=" `${url_base}/homeworks/${view.homework.folder}/${view.homework.filename1}` " 
						:size="view.homework.fs1" 
						:mode="`modal`"
					/><br v-if=" view.homework.filename1 " />
					<filename-icon-display 
						v-if=" view.homework.filename2 " 
						:src=" `${url_base}/homeworks/${view.homework.folder}/${view.homework.filename2}` " 
						:size="view.homework.fs2" 
						:mode="`modal`"
					/><br v-if=" view.homework.filename2 " />
					<filename-icon-display 
						v-if=" view.homework.filename3 " 
						:src=" `${url_base}/homeworks/${view.homework.folder}/${view.homework.filename3}` " 
						:size="view.homework.fs3" 
						:mode="`modal`"
					/><br v-if=" view.homework.filename3 " />
					<filename-icon-display 
						v-if=" view.homework.filename4 " 
						:src=" `${url_base}/homeworks/${view.homework.folder}/${view.homework.filename4}` " 
						:size="view.homework.fs4" 
						:mode="`modal`"
					/><br v-if=" view.homework.filename4 " />
					<filename-icon-display 
						v-if=" view.homework.filename5 " 
						:src=" `${url_base}/homeworks/${view.homework.folder}/${view.homework.filename5}` " 
						:size="view.homework.fs5" 
						:mode="`modal`"
					/>
				</div>
				<div 
					class="mt-3" 
					v-if=" 
						view.homework.homework_options_radio_or_checkbox && 
						view.homework.homework_options.options.length > 0 
						">
					<b-form-group  
						v-if=" view.homework.homework_options_radio_or_checkbox == 'radio' "
						label="Elija la respuesta correcta según la pregunta de la tarea">
						<b-form-radio-group 
							stacked 
							v-model=" view.homework.homework_options.selected "
							:options=" view.homework.homework_options.options "
							name="radio-options"
						/>
					</b-form-group>
					<b-form-group  
						v-if=" view.homework.homework_options_radio_or_checkbox == 'checkbox' "
						label="Elija las respuestas correctas según la pregunta de la tarea">
						<b-form-checkbox-group 
							stacked 
							v-model=" view.homework.homework_options.selected "
							:options=" view.homework.homework_options.options "
							class="mb-3"
							value-field="item"
							text-field="name"
						/>
					</b-form-group>
				</div>
				<div v-if="view.homework.rating">
					<hr />
					<div>Calificación: {{ view.homework.rating.rating }}</div>
					<div>Detalle: {{ view.homework.rating.details }}</div>
				</div>
				<div class="ml-1 mt-1">
					<i v-if=" view.homework.of_type " style="color:#208e8e;font-weight: bold;">
						Actividad de tipo 
						<span v-if=" view.homework.of_type == 1 ">
							Tareas / Exámenes / Pruebas del curso
						</span>
						<span v-if=" view.homework.of_type == 5 ">
							Clases y/o materiales relacionadas al curso
						</span>
						<span v-if=" view.homework.of_type == 2 ">
							Observaciones relacionadas al curso
						</span>
						<span v-if=" view.homework.of_type == 3 ">
							Notificación sobre los exámenes del curso
						</span>
						<span v-if=" view.homework.of_type == 4 ">
							Notificación sobre las calificaciones del curso
						</span>
					</i><br />
					<i v-if="view.homework.created_at">Actividad creada el: {{ view.homework.created_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}<br /></i>
					<i v-if="view.homework.due_date">Fecha límite de entrega: {{ view.homework.due_date | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}<br /></i>
					
				</div>
			</div>
		</b-modal>
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<div style="text-align: left;">
				<h5>Listado de Actividades</h5>
				<span>{{ homeworks.total_records }} registros filtrados</span>
			</div>

			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:homeworks.current_page<=1}" @click="paginationChangeHomework(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:homeworks.current_page<=1}" @click="paginationChangeHomework(homeworks.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(homeworks.current_page,homeworks.total_pages)" 
							:class="{active:homeworks.current_page==page}"
							@click="page!='...' ? paginationChangeHomework(page) : ''"
						>
							<a v-if="homeworks.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:homeworks.current_page>=homeworks.total_pages}"
							@click="paginationChangeHomework(homeworks.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeHomework (homeworks.total_pages)"
							:class="{disabled:homeworks.current_page>=homeworks.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					:disabled="homeworks.list_wait "
					size=sm 
					variant=info 
					:text="`Registros por página: ${ homeworks.regs_x_page }`" 
					class="m-md-2 ml-1">
					<b-dropdown-item 
						v-for="it in 5" 
						:key="it" 
						@click=" changePaginationHomework(it * 10) ">
						{{ it * 10 }} Registros
					</b-dropdown-item>
				</b-dropdown>
				<div class="mt-1">
					<b-form-group style="display: inline-block;max-width: 200px;margin-right: 5px;"
						label="Año"
						>
						<b-form-select 
							:disabled="homeworks.list_wait "
							v-model="filters.academic_years.selected" 
							:options=" filters.academic_years.options " />
					</b-form-group>
					<b-form-group style="display: inline-block;max-width: 300px;margin-right: 5px;"
						label="Curso"
						>
						<b-form-select 
						:disabled="homeworks.list_wait "
						v-model="filters.courses.selected" 
						:options=" filters.courses.options " />
					</b-form-group>
					<b-btn 
						:disabled="homeworks.list_wait " 
						style="margin-right: 5px;" 
						variant=success 
						size=sm 
						@click=" getHomeworksList "
					>
						Filtrar Año / Curso
					</b-btn>
				</div>
			</div>

			<div style="text-align: left;">

				<b-row>
					<b-col lg=4 md=6 sm=12>
						<b-form-group>
							<slot name="label">
								<label>
									Filtrar por día/mes
								</label>&nbsp;
								<b-btn 
									@click=" filters.timestamp_date.value = '' "
									variant=outline-danger 
									size=sm 
									title="Limpiar" 
									v-b-tooltip.hover.v-info>
									<fas icon=times />
								</b-btn>
								<b-btn class="ml-1"
									variant=success 
									size=sm
									@click=" getHomeworksList ">
									Filtrar
								</b-btn>
							</slot>
							<b-form-radio-group
								v-model="filters.timestamp_date_type.selected"
								:options="filters.timestamp_date_type.options"
							></b-form-radio-group>
							<date-picker 
								:placeholder="`Ej: ${$moment().format('DD/MM/YYYY')}`"
								:disabled="homeworks.list_wait "
								v-model="filters.timestamp_date.value" 
								:config="filters.timestamp_date.options"
							></date-picker>
						</b-form-group>
					</b-col>
				</b-row>
			</div>

			<div style="text-align: left;">
				<b-row>
					<b-col lg=6 md=6 sm=12>
						<b-form-group 
							label="Actividad de Tipo:"
						> 
							<b-form-radio-group class="noselect"
								:disabled="homeworks.list_wait "
								stacked 
								name="search-radios-filters-of-type"
								v-model=" filters.of_type.selected" 
								:options=" filters.of_type.options "/>
						</b-form-group>
					</b-col>
					<b-col lg=6 md=6 sm=12>
						<b-form-group style="display: none;"
							label="Archivos"
						> 
							<b-form-radio-group class="noselect"
								:disabled="homeworks.list_wait "
								stacked 
								name="search-radios-filters-with-files"
								v-model=" filters.with_files.selected" 
								:options=" filters.with_files.options "/>
						</b-form-group>
					</b-col>
				</b-row>
			</div>

			<b-input-group>
				<template v-slot:append>
					<b-btn 
						:disabled=" homeworks.list_wait "
						variant=primary 
						size=sm 
						@click=" getHomeworksList ">
						Buscar
					</b-btn>
				</template>
				<b-form-input 
					:disabled=" homeworks.list_wait "
					placeholder="Tipee aquí alguna palabra relacionada al título de la actividad"
					name="search-fullname"
					v-model=" homeworks.search_word " 
					v-on:keyup.enter=" getHomeworksList "
					trim />
			</b-input-group>
			<div class="table-container">
				<table class="table table-hover table-stripped table-borderer">
					<thead>
						<th>
							<b-btn :disabled="homeworks.list_wait" variant=success size=sm @click=" getHomeworksList ">
								<fas icon="sync" :class='{spin : homeworks.list_wait }' />
							</b-btn>
						</th>
						<th @click="getOrderActionHomework('year')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'year',
									unordered : homeworks.order.by != 'year', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Año
							</label>
						</th>
						<th @click="getOrderActionHomework('homework_title')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_title',
									unordered : homeworks.order.by != 'homework_title', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Título de actividad
							</label>
						</th>
						<th v-if=" filters.of_type.selected == 1 " @click="getOrderActionHomework('homework_rating')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_rating',
									unordered : homeworks.order.by != 'homework_rating', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Calificación
							</label>
						</th>
						<th @click="getOrderActionHomework('homework_due_date')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_due_date',
									unordered : homeworks.order.by != 'homework_due_date', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Fecha límite
							</label>
						</th>
						<th @click="getOrderActionHomework('homework_created_at')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_created_at',
									unordered : homeworks.order.by != 'homework_created_at', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Creado el
							</label>
						</th>
						<th @click="getOrderActionHomework('homework_updated_at')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_updated_at',
									unordered : homeworks.order.by != 'homework_updated_at', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Actualizado el
							</label>
						</th>
						<th @click="getOrderActionHomework('course_name')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'course_name',
									unordered : homeworks.order.by != 'course_name', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Curso
							</label>
						</th>
						<th @click="getOrderActionHomework('classroom_title')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'classroom_title',
									unordered : homeworks.order.by != 'classroom_title', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Aula / Salón
							</label>
						</th>
						<th></th>
					</thead>
					<tbody v-if=" homeworks_computed.length>0 ">
						<tr v-for="(it,idx) in homeworks_computed" :key="idx+1">
							<td>
								{{(homeworks.current_page-1)*homeworks.regs_x_page + idx + 1}}
							</td>
							<td>{{ it.classroom.academic_year_id }}</td>
							<td>
								{{it.title}}<br />
								<b-btn 
									class="mt-3"
									:disabled="homeworks.list_wait " 
									variant=outline-primary 
									size=sm 
									@click="viewHomework(it)" 
									v-b-modal.modal_view_homework
								>Ampliar</b-btn>
								<div v-if=" it.filename1 || it.filename2 || it.filename3 || it.filename4 || it.filename5 ">
									<strong><i>archivos adjuntos</i></strong>
									<filename-icon-display 
										v-if=" it.filename1 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename1}` " 
										:size="it.fs1" 
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename2 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename2}` " 
										:size="it.fs2" 
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename3 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename3}` " 
										:size="it.fs3" 
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename4 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename4}` " 
										:size="it.fs4" 
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename5 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename5}` " 
										:size="it.fs5" 
										:mode="`modal`"
									/>
								</div>
							</td>
							<td v-if=" filters.of_type.selected == 1 ">
								<div>
									<span v-if="it.rating && it.rating.rating">{{ it.rating.rating }}</span>
									<span v-else>--</span>
									<div v-if="it.rating && it.rating.details" style="font-style: italic;">
										{{ it.rating.details }}
									</div>
								</div>
							</td>
							<td>
								{{it.due_date | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a')}}
							</td>
							<td>
								{{it.created_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a')}}
							</td>
							<td>
								{{it.updated_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a')}}
							</td>
							<td>{{ it.course.name }}</td>
							<td>{{ it.classroom.title }}</td>
							<td></td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=9>Sin registros</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')

	const url_base = process.env.VUE_APP_SERVER_API_URL
	const url_api = `${url_base}`
	const url_api_students = `${url_api}/students`
	const url_api_students_homeworks = `${url_api_students}/homeworks`
	export default{
		data(){
			return {
				url_base,
				homeworks:{
					search_word:'',
					list_wait:false,
					list:[{id:null,title:''}],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'title',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				view:{
					homework:{
						id:null,
						title:'',
						content:'',
						filenames:[],
						course:{id:null,name:''},
						classroom:{id:null,title:'',description:''},
						homework_options:{
							selected:null,
							options:[
								{text:'',value:null, item: null, name: ''},
							],
						}
					},
				},
				filters:{
					of_type:{
						selected:1,
						options:[
							{text:'Tareas / Exámenes / Pruebas del curso',value:1},
							{text:'Clases y/o materiales relacionadas al curso',value:5},
							{text:'Observaciones relacionadas al curso',value:2},
							{text:'Notificación sobre los exámenes del curso',value:3},
							{text:'Notificación sobre las calificaciones del curso',value:4},
						],
					},
					with_files:{
						selected:null,
						options:[
							{text:'CON Archivos', value: 1},
							{text:'SIN Archivos', value: 0},
							{text:'Todos', value: null},
						],
					},
					academic_years:{
						selected:null,
						options:[{text:'Todos los años',value:null}],
					},
					courses:{
						selected:null,
						options:[{text:'Todos los cursos',value:null}],
					},
					timestamp_date_type:{
						selected:'created_at',
						options:[
							{text:'Por fecha de creación', value:'created_at'},
							{text:'Por fecha de actualización', value:'updated_at'},
						],
					},
					timestamp_date:{
						value:'',
						options:{
							debug: false,
							format: 'L',
							timeZone:this.timezone,
							locale:'es',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_student'}
					},
					{
						text:'Actividades del curso',
						to:null
					},
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Listado de actividades')
			this.getHomeworksList()
		},
		methods:{
			is_video(str){
				const nn = this.fileExtension(str)
				if(nn == 'mp4')return nn
				if(nn == 'mpeg4')return nn
				if(nn == 'flv')return nn
				return false
			},
			fileExtension(ff){
				return ff.split('.').pop().toLowerCase() 
			},
			changePaginationHomework(tt){
				this.homeworks.regs_x_page = tt
				this.getHomeworksList()
			},
			getOrderActionHomework(str){
				if(this.homeworks.wait_list )return
				this.homeworks.order.by_last = this.homeworks.order.by
				this.homeworks.order.orientation_last = this.homeworks.order.orientation
				this.homeworks.order.by = str
				this.homeworks.order.orientation = !this.homeworks.order.orientation
				this.getHomeworksList()

			},
			pag(current,total){
				return pag(current,total);
			},
			paginationChangeHomework(page){
				if(this.homeworks.wait_list )return
				if(this.homeworks.current_page==this.homeworks.total_pages && this.homeworks.current_page==page)return
				if(this.homeworks.current_page==page && page==1)return;
				if(page>0 && page<=this.homeworks.total_pages){
					this.homeworks.current_page = page;
					this.getHomeworksList();
				}
			},
			viewHomework(it){
				if(this.$dev_mode)console.log("current homework = ",it)
				const arr = []
				if(it.filename1 && this.is_video(it.filename1))arr.push([it.filename1,it.fs1])
				if(it.filename2 && this.is_video(it.filename2))arr.push([it.filename2,it.fs2])
				if(it.filename3 && this.is_video(it.filename3))arr.push([it.filename3,it.fs3])
				if(it.filename4 && this.is_video(it.filename4))arr.push([it.filename4,it.fs4])
				if(it.filename5 && this.is_video(it.filename5))arr.push([it.filename5,it.fs5])
				if(this.$dev_mode){
					console.log("total videos = ",arr)
				}
				this.view.homework = it
				this.view.homework.filenames = arr
			},
			getHomeworksList(){
				if(this.homeworks.list_wait)return
				this.homeworks.list_wait = true
				this.axios.get(url_api_students_homeworks,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						timestamp_date: this.filters.timestamp_date.value,
						timestamp_date_type: this.filters.timestamp_date_type.selected,
						search_word : this.homeworks.search_word,
						of_type:this.filters.of_type.selected,
						with_files:this.filters.with_files.selected,
						year:this.filters.academic_years.selected,
						course_id:this.filters.courses.selected,
						order_by:this.homeworks.order.by,
						order_orientation:this.homeworks.order.orientation,
						page:this.homeworks.current_page,
						regs_x_page:this.homeworks.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.homeworks.list_wait = false
					this.homeworks.list = response.data.values

					this.homeworks.order.by = response.data.order_by
					this.homeworks.order.orientation = response.data.order_orientation

					this.homeworks.current_page = response.data.current_page
					this.homeworks.total_pages = response.data.total_pages
					this.homeworks.total_records = response.data.total_records
					this.homeworks.regs_x_page = response.data.regs_x_page

					this.filters.academic_years.options = response.data.academic_years
					this.filters.courses.options = response.data.courses

					this.homeworks_format_total_of_type(response.data.total_of_types)

					if(response.data.year)this.filters.academic_years.selected = response.data.year
					if(response.data.course_id)this.filters.courses.selected = response.data.course_id

				}).catch(err =>{
					this.homeworks.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			homeworks_format_total_of_type(arr_data){
				if(this.$dev_mode)console.log("analizando, ",arr_data)
				const ff = (id,arr) => {
					if(this.$dev_mode)console.log(`buscando ${id} en ${arr}`)
					if(Array.isArray(arr)){
						for(const obj of arr){
							if(this.$dev_mode){
								console.log(`types: ${typeof obj[0]}, ${typeof id}`)
							}
							if(obj[0] == id) return obj[1]
						}
					}
					return 0
				}
				this.filters.of_type.options.forEach((tt,idx) => {
					if(/\(\d+\)/.test(tt.text)){
						tt.text = tt.text.replace(/\(\d+\)/,`(0)`)
					}else{
						tt.text += ' (0)'
					}
				})
				this.filters.of_type.options.forEach((tt,idx) => {
					tt.text = tt.text.replace(/\(\d+\)/,`(${ff(tt.value,arr_data)})`)
				})
			},
		},
		watch:{
			'filters.of_type.selected':function(new_val, old_val){
				this.getHomeworksList()
			},
			'filters.with_files.selected':function(new_val, old_val){
				this.getHomeworksList()
			},
		},
		computed:{
			homeworks_computed(){
				return this.homeworks.list.filter(hh => hh.id != null)
			},
		},
		props:{

		}
	}
</script>
<style lang=scss scoped>
	.table-container{
		width: 100%;
		position: relative;
		overflow-x: scroll;
		table{
			th{
				text-align: left;
			}
			td{
				text-align: left;
			}
		}
	}
	.view-homework-files{
		margin-top: 10px;
		>div{
			display: inline-block;
		}
	}
</style>