<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			
			<b-modal 
				ref='modal_parent_form'
				id="modal_parent_form" 
				title=" Búsqueda y registro de parientes "
				ok-only 
				ok-title="Cerrar cuadro" 
				ok-variant=dark
				size=lg 
			>
				<b-container>
					<label>Buscar pariente por nombre o apellido</label>
					<b-input-group>
						<template v-slot:append>
							<b-btn 
								:disabled="parents.search_list_wait"
								variant=primary 
								size=sm 
								@click="parentSearch">
								Buscar
							</b-btn>
						</template>
						<b-form-input 
							:disabled="parents.search_list_wait"
							placeholder="Tipee aquí el nombre y/o apellidos del pariente"
							name="search-fullname"
							v-model=" parents.search_word " 
							v-on:keyup.enter=" parentSearch "
							trim />
					</b-input-group><br />
					<div style="max-height: 200px;overflow-y: scroll">
						<table class="table table-hover table-borderer table-stripped table-dark">
							<thead>
								<th>#</th>
								<th>Pariente</th>
							</thead>
							<tbody v-if="parents.search_list.length>0">
								<tr v-for=" (it,idx) in parents.search_list " :key="idx">
									<td>{{ idx + 1 }}</td>
									<td>
										{{ it.fullname }}
										<b-btn 
											variant=info 
											size=sm 
											@click=" selectParentForStudent(it) "
										>
											Seleccionar
										</b-btn>
										<b-btn 
											class="ml-1"
											variant=danger 
											size=sm 
											@click=" destroyParentFromListFilter(it) "
										>
											<b-icon-trash />
										</b-btn>
									</td>
								</tr>
							</tbody>
							<tbody v-else>
								<tr>
									<td colspan="2">Sin resultados</td>
								</tr>
							</tbody>
						</table>
					</div>
					<hr />
					<h5>Cree un nuevo registro de pariente en caso no exista por favor</h5>
					<b-card bg-variant="light" header-bg-variant=warning header-text-variant=dark>
						<div slot="header">Nuevo Pariente</div>
						<b-card-text>
							<b-form-group
								label="Parentesco:"
							>
								<b-dropdown :text="`Parentesco: ${parents.form.parent_type}`" size=sm variant=primary>
									<b-dropdown-item :active=" parents.form.parent_type == a " v-for="(a,b) in parents.types" @click=" parents.form.parent_type = a " :key="b">{{ a }}</b-dropdown-item>
								</b-dropdown>
							</b-form-group>
							<b-form-group
								label="Pariente (Apellidos y Nombres)"
							>
								<b-form-input  
									v-model=" parents.form.fullname " 
									trim />
							</b-form-group>
							<b-form-group
								label="#Documento"
							>
								<b-form-input  
									v-model=" parents.form.document_number " 
									trim />
							</b-form-group>
							<b-form-group
							>
								<label slot="label" style="width:100%;">
									Cumpleaños:
								</label>
								<date-picker 
									v-model="parents.form.onomastic.value" 
									:config="parents.form.onomastic.options"
								></date-picker>
							</b-form-group>
							<b-form-group
								label="Teléfono1"
							>
								<b-form-input  
									v-model=" parents.form.phone_number1 " 
									trim />
							</b-form-group>
							<b-form-group
								label="Teléfono2"
							>
								<b-form-input  
									v-model=" parents.form.phone_number2 " 
									trim />
							</b-form-group>
							<b-form-group
								label="Email1"
							>
								<b-form-input  
									v-model=" parents.form.email1 " 
									trim />
							</b-form-group>
							<b-form-group
								label="Email2"
							>
								<b-form-input  
									v-model=" parents.form.email2 " 
									trim />
							</b-form-group>
							<b-btn 
								variant=success 
								size=sm 
								@click=" saveNewParentForStudent " 
								:disabled=" actions_disabled ">
								<fas icon="save"/>&nbsp;
								Crear registro de nuevo pariente&nbsp;<b-spinner v-show="parents.form.wait" small label="Spinning"></b-spinner>
							</b-btn>
						</b-card-text>
					</b-card>
				</b-container>
			</b-modal>
			<b-card>
				<div slot="header">
					<h4>
						Información Personal del alumno: {{ info.fullname }}
						<b-btn 
							variant=success 
							size=sm 
							@click=" saveInfo " 
							:disabled=" actions_disabled ">
							<fas icon="save"/>&nbsp;Guardar&nbsp;
							<fas icon=sync class="spin" v-if=" info.wait " />
						</b-btn>
					</h4>
					<div style="text-align: left;">
						<b-spinner v-show="info.wait" small type="grow" label="Spinning"></b-spinner>
						<span v-show="info.wait">Espere por favor...</span>
						<span v-show="info.wait">( {{ info.uploaded_percentage }}% )</span>
					</div>
				</div>
				<b-row>
					<b-col md=4 sm=12 lg=3>
						<b-card
							title="Foto"
							:img-src="info.picture_preview_url ? info.picture_preview_url : icon_child"
							img-alt="Image"
							img-top
							tag="article"
						>
							<b-card-text>
								Perfil del alumno
							</b-card-text>

							<b-form-file style="text-align: left;" 
								ref="info_picture"
								v-model="info.picture"
								placeholder="Elija la imagen..."
								drop-placeholder="Suelte aquí la imagen..."
								browse-text = "Buscar" 
								accept="image/*"
							>
								<span slot="file-name">Listo</span>
							</b-form-file>
						</b-card>
					</b-col>
					<b-col md=8 sm=12 lg=9>
						<b-card style="text-align: left;">
							<b-card-text>
								<b-form-group
									id="student-personal-information-name"  
									label="Apellidos y Nombres del Alumno"
									label-for="input-student-personal-information-name"
								>
									<b-form-input 
										id="input-student-personal-information-name" 
										v-model="info.fullname" 
										trim />
								</b-form-group>
								<b-form-group
									id="student-personal-information-document-number"  
									label="#Documento del alumno"
									label-for="input-student-personal-information-document-number"
								>
									<b-form-input 
										id="input-student-personal-information-document-number" 
										v-model="info.document_number" 
										trim />
								</b-form-group>
								<b-form-group
									id="student-personal-information-birthday"  
									label="Fecha de nacimiento del alumno"
									label-for="input-student-personal-information-birthday"
									:description="`Edad: ${yearsOld} años`"
								>
									<date-picker 
										v-model="info.onomastic.value" 
										:config="info.onomastic.options" 
										@dp-hide="onomastic_hide" 
										@dp-change="onomastic_change"
									></date-picker>
								</b-form-group>
								<b-row>
									<b-col lg=8 sm=12 md=7>
										<b-form-group
											id="student-personal-information-username"  
											label-for="input-student-personal-information-username"
										>
											<span slot="label">
												Usuario de acceso (min 10 caract.)
												<b-btn variant=danger size=sm @click="info.username = '' ">
													<fas icon=times />  
												</b-btn>
											</span>
											<b-form-input 
												id="input-student-personal-information-username" 
												v-model="info.username" 
												trim />
										</b-form-group>
										<b-btn variant=info size=sm @click=" info.password_form_group_visible = !info.password_form_group_visible ">Configurar password</b-btn>
										<b-form-group
											id="student-personal-information-password" 
											label-for="input-student-personal-information-password" 
											v-if=" info.password_form_group_visible "
										>
											<span slot="label">
												Clave de acceso (min 10 caract.)
												<b-btn variant=danger size=sm @click="info.password = '' ">
													<fas icon=times />  
												</b-btn>
											</span>
											<b-input-group size="md">
												<b-btn variant=danger size=sm slot="append" @click="info.password_visible = !info.password_visible">
													<fas :icon="`${info.password_visible ? 'eye':'eye-slash'}`" />
												</b-btn>
												<b-form-input 
													id="input-student-personal-information-password" 
													v-model="info.password"
													autocomplete="false" 
													:type="`${info.password_visible ? 'text':'password'}`" 
													trim />
											</b-input-group>
										</b-form-group>
									</b-col>
									<b-col lg=4 sm=12 md=5>
										<label>Estado:</label><br />
										<toggle-button 
											v-model="info.active"
											:color="{checked: 'rgb(18, 154, 18)', unchecked: '#FF0000', disabled: '#CCCCCC'}"
											:labels="{checked: 'ACTIVO', unchecked: 'INACTIVO'}" 
											:width="100" 
											:sync="true"
											/><br />
										<label>Sexo:</label><br />
										<toggle-button 
											v-model="info.sex"
											:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
											:labels="{checked: 'VARÓN', unchecked: 'MUJER'}" 
											:width="100" 
											:sync="true"
											/>
									</b-col>
								</b-row>
							</b-card-text>

						</b-card>
					</b-col>
				</b-row>
			</b-card><br />
			<b-card>
				<div slot="header">
					<h3>
						<b-btn 
							variant=info 
							size=sm 
							v-b-modal.modal_parent_form 
							:disabled=" actions_disabled ">
							Agregar pariente
						</b-btn>
						Parientes del alumno
					</h3>
				</div>
				<b-card-text>
					<div style="text-align: left;margin-bottom: 10px;">
						<b-btn 
							:disabled=" actions_disabled "
							variant=warning 
							size=sm 
							v-if=" parents.selected.length>0 " 
							@click=" parents.modify_selected = !parents.modify_selected "
							>
							{{ !parents.modify_selected ? 'Deshabilitar modificación' : 'Modificar datos' }}
						</b-btn>&nbsp;
						<b-btn 
							:disabled=" actions_disabled " 
							variant=primary 
							size=sm 
							v-if=" parents.selected.length>0 && !parents.modify_selected" 
							@click=" saveParentsModification "
							>
							Guardar modificación&nbsp;<fas v-if=" parents.selected_modified_wait " icon=sync class=spin />
						</b-btn>&nbsp;
						<b-btn 
							variant=success 
							size=sm  
							:disabled=" actions_disabled " 
							@click=" setSelectedParentsToStudent ">
							<fas icon="save"/>&nbsp;
							Vincular pariente(s) a estudiante&nbsp;
							<fas v-if=" parents.selected_set_wait " icon="sync" class="spin" />
						</b-btn>
					</div>
					<b-row>
						<b-col style="margin-bottom: 5px;" lg=6 md=6 sm=12 v-for="(it,idx) in parents.selected " :key="idx">
							<b-card style="border-color: #ba9d0f;box-shadow: 1px 1px 7px 0px #ccad3c;">
								<div slot="header">
									{{it.fullname}}
									<b-btn 
									style="float:right;" 
									variant=primary 
									size=sm 
									@click=" removeParentAssociationRecord(it) " 
									:disabled=" actions_disabled ">
										Retirar&nbsp;<b-spinner small label="Spinning" v-show="parents.remove_association_wait"></b-spinner>
									</b-btn>
								</div>
								<b-card-text style="text-align: left;">
									<b-form-group
										label="Pariente"
									>
										<b-form-input 
											:disabled=" actions_disabled " 
											v-model="it.fullname" 
											trim />
									</b-form-group>
									<b-dropdown :disabled=" parents.modify_selected " :text="`Parentesco: ${it.parent_type}`" size=sm variant=outline-primary>
										<b-dropdown-item :active=" it.parent_type == a " :disabled="parents.modify_selected " v-for="(a,b) in parents.types" @click=" it.parent_type = a " :key="b">{{ a }}</b-dropdown-item>
									</b-dropdown>
									<b-form-group
										label="Documento"
									>
										<b-form-input 
											:disabled=" parents.modify_selected " 
											v-model="it.document_number" 
											trim />
									</b-form-group>
									<b-form-group
										label="Teléfono1"
									>
										<b-form-input 
											:disabled=" parents.modify_selected " 
											v-model="it.phone_number1" 
											trim />
									</b-form-group>
									<b-form-group
										label="Teléfono2"
									>
										<b-form-input 
											:disabled=" parents.modify_selected " 
											v-model="it.phone_number2" 
											trim />
									</b-form-group>
									<b-btn 
										variant=outline-danger 
										size=sm @click=" destroyParentRecord(it) " 
										:disabled=" actions_disabled ">
										Eliminar totalmente&nbsp;<b-spinner small label="Spinning" v-show="parents.destroy_parent_wait"></b-spinner>
									</b-btn>
								</b-card-text>
							</b-card>
						</b-col>
					</b-row>
				</b-card-text>
			</b-card>
		</b-container>
	</div>
</template>
<script>
	const Swal = require('sweetalert2')

	const url_api_students = `${process.env.VUE_APP_SERVER_API_URL}/students`
	const url_api_parents = `${process.env.VUE_APP_SERVER_API_URL}/parents`
	const url_api_teacher_students = `${url_api_students}/for-teachers`
	const url_api_teacher_find_parent = `${url_api_parents}/for-teachers/find-parents-for-student`
	const url_api_teacher_set_parents = `${url_api_parents}/for-teachers/set-parents-for-student`
	const url_api_teacher_modify_parents_data = `${url_api_parents}/for-teachers/modify-parents-data`
	const url_api_teacher_new_parent_for = `${url_api_parents}/for-teachers/create-new-parent-for`
	const url_api_teacher_destroy_parent_for = `${url_api_parents}/for-teachers/destroy-parent-for`
	const url_api_teacher_remove_parent_for = `${url_api_parents}/for-teachers/remove-parent-for`
	const url_api_parents_teachers = `${url_api_parents}/for-teachers`

	import icon_child from '@/assets/icon_child.png'
	export default{
		tag:'panel-teacher-student-form',
		data(){
			return {
				wait:false,
				icon_child,
				info:{
					wait:false,
					username:'',
					document_number:'',
					password_form_group_visible:false,
					password_visible:false,
					password:'',
					fullname:'',
					picture:null,
					picture_preview_url:null,
					sex:false,
					active:false,
					uploaded_percentage:0,
					onomastic:{
						value:'',
						options:{
							locale:'es',
							format: 'DD/MM/YYYY',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},  
					},
				},
				parents:{
					form:{
						fullname:'',
						parent_type:'MADRE',
						document_number:'',
						phone_number1:'',
						phone_number2:'',
						email1:'',
						email2:'',
						address1:'',
						address2:'',
						onomastic:{
							value:'',
							options:{
								locale:'es',
								format: 'DD/MM/YYYY',
								useCurrent: true,
								defaultDate: '',
								icons: {
									time: 'fa fa-clock',
									date: 'fa fa-calendar',
									up: 'fa fa-arrow-up',
									down: 'fa fa-arrow-down',
									previous: 'fa fa-chevron-left',
									next: 'fa fa-chevron-right',
									today: 'fa fa-calendar-check',
									clear: 'fa fa-trash-alt',
									close: 'fa fa-times-circle'
								} 
							},  
						},
					},
					types:[
						'ABUELO',
						'ABUELA',
						'APODERADO',
						'APODERADA',
						'HERMANO',
						'HERMANA',
						'MADRE',
						'PADRE',
						'PRIMO',
						'PRIMA',
						'TIO',
						'TIA',
						'OTRO',
						'OTRA',
					],
					modify_selected: true,
					destroy_parent_wait:false,
					remove_association_wait:false,
					selected_modified_wait:false,
					selected_set_wait:false,
					selected:[],
					search_word: '',
					search_list_wait:false,
					search_list:[],
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Alumnos',
						to:{name: 'panel_teacher_student'},
					},
					{
						text:'Datos de alumno',
						to:null,
					}
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Información del alumno')
			this.getInfo()
		},
		methods:{
			getInfo(){
				if(this.wait)return
				this.wait = true
				this.info.id = this.$router.history.current.params.id
				this.axios({
					method:'GET',
					url:`${url_api_teacher_students}/${this.info.id}`,
				}).then( response =>{
					console.log(response)
					this.wait = false
					const dd = response.data
					if( 'onomastic' in dd){
						const onomastic = dd['onomastic']
						dd.onomastic = onomastic && /\d{4}-\d{2}-\d{2}/.test(onomastic) ? this.$moment(onomastic,'YYYY-MM-DD').format('DD/MM/YYYY') : ''
					}
					this.info.id = dd.id
					this.info.document_number = dd.document_number
					this.info.username = dd.username
					this.info.fullname = dd.fullname
					this.info.active = dd.active
					this.info.sex = dd.sex
					this.info.onomastic.value = dd.onomastic
					this.info.picture_preview_url = dd.picture_filename_uri ? `${process.env.VUE_APP_SERVER_API_URL}/${dd.picture_filename_uri}` : null
					this.parents.selected = dd.parents
				}).catch(err =>{
					this.wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
							Swal.fire(
								{
									title:'Error',
									text:'Informar sobre este error a dirección',
									icon:'warning',
								}
							)
					}
				})
			},
			saveInfo(){

				Swal.fire({
					title: 'Actualizar los datos del alumno ?',
					text: "Evite duplicar el registro de alumnos por favor",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){
						if(this.info.wait)return
						this.info.wait = true
						this.info.uploaded_percentage = 0
						const formData = new FormData()
						const data = {}
						if(this.info.picture instanceof File){
							formData.append('file', this.info.picture)
						}
						for(const idx in this.info){
							const val = this.info[idx]
							if(typeof val =='string' || typeof val == 'number' || typeof val == 'boolean'){
								if(this.info.picture instanceof File){
									formData.append(idx,val)
								}else{
									data[idx] = val
								}
							}
						}
						if(this.info.picture instanceof File){
							formData.delete('picture_preview_url')
							formData.append('onomastic',this.info.onomastic.value)
						}else{
							delete data['picture_preview_url']
							data['onomastic'] = this.info.onomastic.value
						}
						this.axios({
							url:(`${url_api_teacher_students}${this.info.id ? `/${this.info.id}` : ''}`),
							method:(this.info.id ? 'PUT':'POST'),
							headers:{
								'Content-Type': ((this.info.picture instanceof File) ? 'multipart/form-data': 'application/json'),
								'Accept': 'application/json',
							},
							data:((this.info.picture instanceof File) ? formData: data),
							onUploadProgress: ( progressEvent ) => {
								this.info.uploaded_percentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
							},
						}).then(response =>{
							this.info.wait = false
							if(this.$dev_mode)console.log(response)
							this.$refs['info_picture'].reset()
							this.info.picture = null
							Swal.fire(
								{
									title:'Datos guardados',
									html:'',
									icon:'success',
								}
							)
							this.getInfo()
						}).catch(err=>{
							this.info.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire(
									{
										title:'Error',
										text:'Informar sobre este error a dirección',
										icon:'warning',
									}
								)
							}
						})
					}
				})
			},
			parentSearch(){
				if( this.parents.search_list_wait )return
				this.parents.search_list_wait = true
				this.axios({
					method:'GET',
					url:`${url_api_teacher_find_parent}`,
					params:{
						word: this.parents.search_word,
					}
				}).then( response =>{
					console.log(response)
					this.parents.search_list_wait = false
					this.parents.search_list = response.data.values
				}).catch(err =>{
					this.parents.search_list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
							Swal.fire(
								{
									title:'Error',
									text:'Error al buscar',
									icon:'warning',
								}
							)
					}
				}) 
			},
			selectParentForStudent(it){
				const found = this.parents.selected.filter(pp => pp.id == it.id )
				if(found.length==0){
					this.parents.selected.push(it)
				}
				console.log("total parientes seleccionados = ",this.parents.selected.length)
			},
			setSelectedParentsToStudent(){
				if(this.parents.selected.length==0){
					return
				}
				Swal.fire({
					title: 'Desea vincular estos parientes al estudiante?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if(this.parents.selected_set_wait)return
						this.parents.selected_set_wait = true
						const ids = this.parents.selected.map(dd => dd.id)
						this.axios({
							method:'PUT',
							url:`${url_api_teacher_set_parents}/${this.info.id}`,
							data:{ids},
						}).then( response =>{
							console.log(response)
							this.parents.selected_set_wait = false
							Swal.fire(
								{
									title:'Parientes vinculados',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.parents.selected_set_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al vincular parientes al alumno',
											icon:'warning',
										}
									)
							}
						}) 
					}
				})

			},
			saveParentsModification(){
				if(this.parents.selected.length==0){
					return
				}
				Swal.fire({
					title: 'Guardar datos modificados de los parientes?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					console.log("swal result = ",result)
					if(result.value === true){
					if(this.parents.selected_modified_wait)return
						this.parents.selected_modified_wait = true
						const parents = this.parents.selected.map(dd => {
							const data = {}
							for(const idy in dd){
								const val = dd[idy]
								if(typeof val == 'string' || typeof val =='number' || typeof val == 'boolean'){
									data[idy] = val
								}
							}
							return data
						})
						this.axios({
							method:'POST',
							url:`${url_api_teacher_modify_parents_data}`,
							data:{parents},
						}).then( response =>{
							console.log(response)
							this.parents.selected_modified_wait = false
							Swal.fire(
								{
									title:'Se modificó los datos de los parientes del estudiante',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.parents.selected_modified_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							let msg = 'Error al modificar los datos de los parientes del estudiante'
							if( err && err.response ){
								if( err.response.data ){
									if( err.response.data.record && err.response.data.record.fullname ){
										msg = ` Revisar los datos del pariente ${err.response.data.record.fullname}, quizás el #documento ya existe `
									}
								}
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:msg,
											icon:'warning',
										}
									)
							}
						}) 
					}
				})

			},
			saveNewParentForStudent(){
				Swal.fire({
					title: 'Guardar datos modificados de los parientes?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					console.log("swal result = ",result)
					if(result.value === true){
					if(this.parents.form.wait)return
						this.parents.form.wait = true
						const parent = {}
						for(const idx in this.parents.form){
							const val = this.parents.form[idx]
								if(typeof val == 'string' || typeof val =='number' || typeof val == 'boolean'){
									parent[idx] = val
								}
						}
						if(this.parents.form.onomastic.value){
							parent['onomastic'] = this.parents.form.onomastic.value
						}
						this.axios({
							method:'PUT',
							url:`${url_api_teacher_new_parent_for}/${this.info.id}`,
							data:{parent},
						}).then( response =>{
							console.log(response)
							this.parents.form.wait = false
							this.parents.selected.push(response.data)
							Swal.fire(
								{
									title:'Se creo nuevo registro de pariente para el estudiante',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.parents.form.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							let msg = 'Error al crear nuevo pariente para el estudiante'
							if( err && err.response ){
								if(err.response.data){
									if(err.response.data.msg){
										msg = err.response.data.msg
									}
								}
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:msg,
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			destroyParentFromListFilter(it){
				Swal.fire({
					title: 'Desea eliminar los datos de este pariente?',
					text: "Esta acción no se podrá deshacer y tendrá que volver a crear al pariente en caso quiera vincularlo a un alumno",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					console.log("swal result = ",result)
					if(result.value === true){
						if(this.parents.destroy_parent_wait)return
						this.parents.destroy_parent_wait = true
						this.axios({
							method:'DELETE',
							url:`${url_api_parents_teachers}/${it.id}`,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.parents.destroy_parent_wait = false
							this.parents.search_list = this.parents.search_list.filter(pp => pp.id != it.id)
							Swal.fire(
								{
									title:'Se eliminó la información del pariente',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.parents.destroy_parent_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									const msg = err && err.response.data ? err.response.data.msg : 'Error al eliminar los datos del pariente';
									Swal.fire(
										{
											title:'Error',
											text:msg,
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			destroyParentRecord(it){
				Swal.fire({
					title: 'Desea eliminar los datos de este pariente y desvincularlo del alumno?',
					text: "Esta acción no se podrá deshacer y tendrá que volver a crear al pariente en caso sea necesario",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					console.log("swal result = ",result)
					if(result.value === true){
						if(this.parents.destroy_parent_wait)return
						this.parents.destroy_parent_wait = true
						this.axios({
							method:'PUT',
							url:`${url_api_teacher_destroy_parent_for}/${this.info.id}`,
							data:{
								parent_id: it.id,
							},
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.parents.destroy_parent_wait = false
							this.parents.selected = this.parents.selected.filter(pp => pp.id != it.id)
							Swal.fire(
								{
									title:'Se eliminó la información del pariente y se desvinculó del alumno',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.parents.destroy_parent_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al eliminar los datos del pariente y al desvincular la relación entre el estudiante y el mismo. Quizás el pariente está vinculado a otro alumno',
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			removeParentAssociationRecord(it){
				Swal.fire({
					title: 'Desea desvincular este pariente del alumno?',
					text: "Esta acción no eliminará la información total del pariente",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					console.log("swal result = ",result)
					if(result.value === true){
						if(this.parents.remove_association_wait)return
						this.parents.remove_association_wait = true
						this.axios({
							method:'PUT',
							url:`${url_api_teacher_remove_parent_for}/${this.info.id}`,
							data:{
								parent_id: it.id,
							},
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.parents.remove_association_wait = false
							this.parents.selected = this.parents.selected.filter(pp => pp.id != it.id)
							Swal.fire(
								{
									title:'Se desvinculó el pariente del alumno',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.parents.remove_association_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al desvincular la relación entre el estudiante y el pariente',
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			onomastic_hide(evt){
				return true
			},
			onomastic_change(evt){
				return true
			},
		},
		computed:{
			actions_disabled(){
				const val =  
					this.parents.selected_modified_wait || 
					this.parents.selected_set_wait || 
					this.parents.remove_association_wait || 
					this.parents.destroy_parent_wait || 
					this.parents.form.wait || 
					this.info.wait
				return val
			},
			yearsOld(){
				const vv = !!this.info.onomastic.value
				if(!vv){
					console.log("yearsOld empty")
					return 0
				}
				const mm = this.$moment(this.info.onomastic.value,'DD/MM/YYYY')
				const diff = this.$moment().diff(mm,'years')
				console.log("yearsOld ",diff)
				return diff
			},
		},
		watch:{
			'info.password_form_group_visible':function(new_val,old_val){
				if(new_val === false){
					this.info.password = ''
				}
			},
			'info.picture':function(new_val,old_val){
				if(this.$dev_mode)console.log(new_val)
				const reader  = new FileReader()
				reader.onloadend = () => {
					this.info.picture_preview_url = reader.result
				}

				if (new_val) {
					reader.readAsDataURL(new_val);
				} else {
					this.info.picture_preview_url = "";
				}
			}
		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
	
</style>