<template>
	<div>
		<panel-student-top-header />
		<b-modal 
			ref='modal_course_form'
			id="modal_course_form" 
			:title=" courses.form.is_new ? 'Nuevo Curso' : 'Información de Curso' "
			ok-only 
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			size=md 
		>
			<b-container>
				
				<b-form-group 
					label="Nombre del curso" 
				>
					<b-form-input 

						type="text"
						v-model="courses.form.name"
						placeholder="Nombre del curso" />
				</b-form-group>
				<h6>Este curso aplica para:</h6>
				<b-list-group>
					<b-list-group-item>
						<b-btn @click="courses.form.is_pre_kinder = !courses.form.is_pre_kinder" :variant=" `${courses.form.is_pre_kinder ? 'success':'danger'}` " size=sm> {{ courses.form.is_pre_kinder ? 'SI':'NO' }} </b-btn>
						Pre Kinder ? 
					</b-list-group-item>
					<b-list-group-item>
						<b-btn @click='courses.form.is_kinder = !courses.form.is_kinder' :variant=" `${courses.form.is_kinder ? 'success':'danger'}` " size=sm> {{ courses.form.is_kinder ? 'SI':'NO' }} </b-btn>
						Kinder ? 
					</b-list-group-item>
					<b-list-group-item>
						<b-btn @click="courses.form.is_middle_school = !courses.form.is_middle_school" :variant=" `${courses.form.is_middle_school ? 'success':'danger'}` " size=sm> {{ courses.form.is_middle_school ? 'SI':'NO' }} </b-btn>
						Primaria ? 
					</b-list-group-item>
					<b-list-group-item>
						<b-btn @click="courses.form.is_high_school = !courses.form.is_high_school" :variant=" `${courses.form.is_high_school ? 'success':'danger'}` " size=sm> {{ courses.form.is_high_school ? 'SI':'NO' }} </b-btn>
						Secundaria ? 
					</b-list-group-item>
				</b-list-group><br />
				<b-btn 
					:disabled="courses.form.wait" 
					variant=primary 
					size=sm 
					@click="courseForm">
					<fas icon="save"/>&nbsp;
					{{ courses.form.is_new ? 'Guardar' : 'Actualizar' }}&nbsp;
					<fas icon="sync" class="spin" v-if=" courses.form.wait " />
				</b-btn>
			</b-container>
		</b-modal>
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<div class="panel-top">
				<h3>
					Listado de Cursos
				</h3>
				<span>Total: {{ courses.total_records }}</span>
				<div  style="display: inline-block;">
					<b-spinner small variant=primary v-show="courses.wait_list " type="grow" label="Spinning"></b-spinner>
					<span v-show="courses.wait_list ">&nbsp;{{ courses.server_msg }}</span>
				</div>
			</div>
			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:courses.current_page<=1}" @click="paginationChangeCourse(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:courses.current_page<=1}" @click="paginationChangeCourse(courses.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(courses.current_page,courses.total_pages)" 
							:class="{active:courses.current_page==page}"
							@click="page!='...' ? paginationChangeCourse(page) : ''"
						>
							<a v-if="courses.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:courses.current_page>=courses.total_pages}"
							@click="paginationChangeCourse(courses.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeCourse (courses.total_pages)"
							:class="{disabled:courses.current_page>=courses.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					:disabled="courses.wait_list" 
					size=sm 
					variant=info 
					:text="`${ courses.regs_x_page } filas`" 
					class="m-md-2 ml-1">
					<b-dropdown-item 
						v-for="it in 5" 
						:key="it" 
						@click=" changePaginationCourse(it * 10) "
					>{{ it * 10 }} filas</b-dropdown-item>
				</b-dropdown>
				<b-btn 
					class="ml-1"
					:disabled="courses.wait_list" 
					variant=success 
					size=sm 
					v-b-modal.modal_course_form 
					@click="addCourse">
					<fas icon="plus" />
				</b-btn>
			</div>
			<div class="table-container">
				<table class="table table-hover table-stripped table-borderer">
					<thead>
						<th>
							<b-btn 
								:disabled="courses.wait_list" 
								variant=success 
								size=sm 
								@click=" getCoursesList "
							>
								<fas 
									icon="sync" 
									:class='{spin : courses.wait_list }' />
							</b-btn>
						</th>
						<th @click="getOrderActionCourse('name')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: courses.order.by == 'name',
									unordered : courses.order.by != 'name', 
									asc: courses.order.orientation, 
									desc : !courses.order.orientation 
								}">
									Curso
							</label>
						</th>
						<th>Para</th>
						<th>Creado el</th>
						<th>Actualizado el</th>
						<th></th>
					</thead>
					<tbody v-if=" courses.list.length>0 ">
						<tr v-for="(it,idx) in courses.list" :key="idx+1">
							<td>
								{{(courses.current_page-1)*courses.regs_x_page + idx + 1}}
							</td>
							<td class="data-name">
								{{it.name}}
							</td>
							<td>
								<ul class="course-types">
									<li v-if="it.is_pre_kinder">Pre Kinder</li>
									<li v-if="it.is_kinder">Kinder</li>
									<li v-if="it.is_middle_school ">Primaria</li>
									<li v-if="it.is_high_school ">Secundaria</li>
								</ul>
							</td>
							<td>
								{{it.created_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td>
								{{it.updated_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td class="actions">
								<b-btn 
									class="mb-1"
									variant=danger 
									size=sm 
									@click="delCourse(it)">
									<b-icon-trash />
								</b-btn>
								<b-btn 
									class="mb-1"
									variant=primary 
									size=sm 
									@click="editCourse(it)" 
									v-b-modal.modal_course_form>
									<b-icon-pencil />
								</b-btn>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=6>Sin registros</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')

	const url_api = `${process.env.VUE_APP_SERVER_API_URL}/courses`
	const url_api_teachers = `${url_api}/for-teachers`
	export default{
		name:'panel',
		data(){
			return {
				courses:{
					server_msg:'',
					wait_list:false,
					form:{
						is_new:false,
						del_wait:false,
						wait:false,
						id:null,
						name:'',
						is_pre_kinder:false,
						is_kinder:false,
						is_middle_school:false,
						is_high_school:false,
						updated_at:null,
						created_at:null,
					},
					list:[
					],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Cursos',
						to:null,
					}
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Panel de cursos')
			this.getCoursesList()
		},
		methods:{
			changePaginationCourse(tt){
				this.courses.regs_x_page = tt
				this.getCoursesList()
			},
			getOrderActionCourse(str){
				if(this.courses.wait_list )return
				this.courses.order.by_last = this.courses.order.by
				this.courses.order.orientation_last = this.courses.order.orientation
				this.courses.order.by = str
				this.courses.order.orientation = !this.courses.order.orientation
				this.getCoursesList()
			},
			pag(current,total){
				return pag(current,total);
			},
			paginationChangeCourse(page){
				if(this.courses.wait_list )return
				if(this.courses.current_page==this.courses.total_pages && this.courses.current_page==page)return
				if(this.courses.current_page==page && page==1)return;
				if(page>0 && page<=this.courses.total_pages){
					this.courses.current_page = page;
					this.getCoursesList();
				}
			},
			editCourse(it){
				const dd = this.getDataFrom(it)
				for(const ii in dd){
					if(ii in this.courses.form){
						this.courses.form[ii] = dd[ii]
					}
				}
				this.courses.form.is_new = false
			},
			delCourse(it){
				Swal.fire({
					title: 'Eliminar este curso?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar',
				}).then(result=>{
					if(result.value === true){
						if( this.courses.form.del_wait )return
						this.courses.form.del_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						this.axios({
							method:'DELETE',
							url:`${url_api_teachers}/${it.id}`,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.courses.form.del_wait = false
							this.getCoursesList()
							Swal.close()
							Swal.fire(
								{
									title:'Registro eliminado',
									icon:'success',
								}
							)
						}).catch(err =>{
							this.courses.form.del_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Informar sobre este error a dirección',
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
			addCourse(){
				this.courses.form.is_new = true
				this.courses.form.id = null
			},
			getCoursesList(){
				if( this.courses.wait_list )return
				this.courses.wait_list = true
				this.courses.server_msg = 'Espere porfavor...'
				this.axios.get(url_api_teachers,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						order_by:this.courses.order.by,
						order_orientation:this.courses.order.orientation,
						page:this.courses.current_page,
						regs_x_page:this.courses.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.courses.wait_list = false
					if(response && response.data && response.data.values){

						this.courses.order.by = response.data.order_by
						this.courses.order.orientation = response.data.order_orientation

						this.courses.current_page = response.data.current_page
						this.courses.total_pages = response.data.total_pages
						this.courses.total_records = response.data.total_records
						this.courses.regs_x_page = response.data.regs_x_page

						this.courses.list = response.data.values
						this.courses.server_msg = 'Listo'
					}else{
						this.courses.server_msg = 'Sin registros'
					}
				}).catch(err =>{
					this.courses.wait_list = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.courses.server_msg = 'Error al recuperar los registros'
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							this.list = []
							this.courses.server_msg = this.$permission_message
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			getDataFrom(obj){
				const _data = {}
				for(const idx in obj){
					const reg = obj[idx]
					if( typeof reg == 'string' || typeof reg == 'number' || typeof reg == 'boolean' ){
						_data[idx] = reg
					}else if( reg!=null && typeof reg == 'object' ){
						if( 'value' in reg ){
							_data[idx] = reg.value
						}
						if( 'selected' in reg ){
							_data[idx] = reg.selected
						}
					}else{
						//TODO
					}
				}
				return _data
			},
			courseForm(){
				Swal.fire({
					title: (this.courses.form.is_new ? 'Crear curso ?': 'Actualizar curso ?'),
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: ( this.courses.form.is_new ? 'Crear' : 'Actualizar' ),
					cancelButtonText: 'Cancelar',
				}).then(result=>{
					if(result.value === true){
						if( this.courses.form.wait )return
						this.courses.form.wait = true
						const data = this.getDataFrom(this.courses.form)
						this.axios({
							method:(this.courses.form.is_new ? 'POST':'PUT'),
							url:`${url_api_teachers}${this.courses.form.is_new ? '' : `/${this.courses.form.id}`}`,
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.courses.form.wait = false
							Swal.fire(
								{
									title:(this.courses.form.is_new ? 'Registro creado' : 'Registro actualizado'),
									icon:'success',
								}
							)
							this.getCoursesList()
						}).catch(err =>{
							this.courses.form.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									pass = false
									this.$store.commit('showModalLogin')
								}else if( err.response.status == 403 ){
									pass = false
									this.courses.server_msg = this.$permission_message
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire({
									title:(this.courses.form.is_new ? 'No se pudo crear el curso, quizás ya existe': 'No se pudo editar el curso'),
									icon:'warning'
								})
							}
						})
					}
				})
			}
		},
		computed:{

		},
		watch:{

		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
.actions{
	button{
		margin-right: 5px;
	}
}
.course-types{
	list-style-type: decimal-leading-zero;
	padding-left: 10px;
	text-align: left;
}
.panel-top{
	text-align: left;
}
.data-name{
	text-align: left;
}
</style>