<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<b-img :src=" icon_child " alt="Responsive image" class="user-picture" />
			<div class="section-menu">
				<b-row>
					<b-col md=6 sm=12 lg=3>
						<b-form-group
							id="student-personal-information-name"  
							label="Nombre del Alumno"
							label-for="input-student-personal-information-name"
						>
							<b-form-input 
								disabled 
								id="input-student-personal-information-name" 
								v-model="student.fullname" 
								trim />
						</b-form-group>
					</b-col>
					<b-col md=6 sm=12 lg=3>
						<b-form-group
							id="student-personal-information-document-number"  
							label="Documento del alumno"
							label-for="input-student-personal-information-document-number"
						>
							<b-form-input 
								disabled 
								id="input-student-personal-information-document-number" 
								v-model="student.document_number" 
								trim />
						</b-form-group>
					</b-col>
					<b-col md=6 sm=12 lg=3>
						<b-form-group
							id="student-personal-information-onomastic"  
							label="Fecha de nacimiento"
							label-for="input-student-personal-information-onomastic"
							:description="`Edad: ${yearsOld} años`"
						>
							<b-form-input 
								disabled 
								id="input-student-personal-information-onomastic" 
								v-model="student.onomastic" 
								trim />
						</b-form-group>
					</b-col>
					<b-col md=6 sm=12 lg=3>
						<b-form-group
							id="student-personal-information-sex"  
							label="Sexo"
							label-for="input-student-personal-information-sex"
						>
							<b-form-input 
								disabled 
								id="input-student-personal-information-sex" 
								:value=" student.sex ? 'MASCULINO':'FEMENINO' " 
								trim />
						</b-form-group>
					</b-col>
				</b-row>
				<h4>Pariente{{ this.parents.length>1 ? 's':'' }}:</h4>
				<b-row align-h="center">
					<b-col lg=6 md=6 sm=12 v-for="(it,idx) in parents" :key="idx">
						<b-card :title="it.fullname" :sub-title="it.parent_type">
							<b-card-text>
								<b-form-group
									label-cols-sm="3"
									label="Nombre:"
									label-align-sm="right"
								>
									<b-form-input disabled :value="it.fullname"></b-form-input>
								</b-form-group>
								<b-form-group
									label-cols-sm="3"
									label="Teléfono1:"
									label-align-sm="right"
								>
									<b-form-input disabled :value="it.phone_number1"></b-form-input>
								</b-form-group>
								<b-form-group
									label-cols-sm="3"
									label="Teléfono2:"
									label-align-sm="right"
								>
									<b-form-input disabled :value="it.phone_number2"></b-form-input>
								</b-form-group>
								<b-form-group
									label-cols-sm="3"
									label="Email1:"
									label-align-sm="right"
								>
									<b-form-input disabled :value="it.email1"></b-form-input>
								</b-form-group>
								<b-form-group
									label-cols-sm="3"
									label="Email2:"
									label-align-sm="right"
								>
									<b-form-input disabled :value="it.email2"></b-form-input>
								</b-form-group>
							</b-card-text>
						</b-card>
					</b-col>
				</b-row>
			</div>
		</b-container>
	</div>
</template>
<script>
	import icon_kid from '@/assets/kid.svg'
	import icon_cal from '@/assets/calificacion.png'
	import icon_child from '@/assets/icon_child.png'
	const Swal = require('sweetalert2')

	const url_api = process.env.VUE_APP_SERVER_API_URL
	const url_api_students = `${url_api}/students`
	const url_api_students_info = `${url_api_students}/full-profile`


	export default{
		name:'panel',
		data(){
			return {
				icon_child,
				icon_kid,
				icon_cal,
				student:{
					name:'',
					onomastic:'',
					picture_filename:'',
					document_number:'',
					username:'',
					active:false,
					sex:false,
				},
				parents:[
					{
						name:'',
						parent_type:'',
						phone_number1:'',
						phone_number2:'',
						email1:'',
						email2:'',
					},
					{
						name:'',
						parent_type:'',
						phone_number1:'',
						phone_number2:'',
						email1:'',
						email2:'',
					},
				],
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_student'}
					},
					{
						text:'Información personal',
						to:null
					},
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Información del alumno')
			this.getInfo()
		},
		methods:{
			splitName(){
				const arr = this.student.fullname.split(/\s+/)
				return arr.filter(val=>val.length > 2)
			},
			getInfo(){
				this.axios.get(url_api_students_info,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.wait = false
					this.student = response.data.student
					this.parents = response.data.parents
				}).catch(err =>{
					this.wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							pass = false
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
					if(pass){
						Swal.fire({
							title:'No se pudo recuperar la información del alumno',
							icon:'warning'
						})
					}
				})
			},
		},
		computed:{
			yearsOld(){
				if(this.student.onomastic && /\d{2}\/\d{2}\/\d{4}/.test(this.student.onomastic)){
					const mm = this.$moment(this.student.onomastic,'DD/MM/YYYY')
					const diff = this.$moment().diff(mm,'years')
					return diff
				}else{
					return 0
				}
			},
			fullnameState() {
				return this.splitName().length >= 2 ? true : false
			},
			invalidNameFeedback() {
				const arr2 = this.splitName()
				if (arr2.length >=2) {
					return ''
				} else if (arr2.length > 0) {
					return 'Indica al menos el nombre y apellido'
				} else {
					return 'Por favor rellena este campo'
				}
			},
			validNameFeedback() {
				return this.fullnameState === true ? 'Bien hecho' : ''
			}
		},
		watch:{
			'student.onomastic':function(new_val,old_val){
				if(/\d{4}-\d{2}-\d{2}/.test(new_val)){
					this.student.onomastic = this.$moment(new_val,'YYYY-MM-DD').format('DD/MM/YYYY')
				}
			},
			'student.picture_filename':function(new_val,old_val){
				if(new_val && new_val!= ''){
					this.icon_child = `${process.env.VUE_APP_SERVER_API_URL}/profiles/${new_val}`
				}
			},
		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
	.section-menu{
		text-align: left;
		margin: 1px auto;
	}
</style>