<template>
	<div>
		<panel-teacher-student-form />
	</div>
</template>
<script>
	import PanelTeacherStudentForm from '@/components/PanelTeacherStudentForm.vue'
	export default{
		data(){
			return {

			}
		},
		mounted(){
			return true
		},
		methods:{

		},
		computed:{

		},
		watch:{

		},
		props:{

		},
		filters:{

		}
	}
</script>
<style lang=scss scoped>
	
</style>