<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<div class="section-menu">
				<b-row>
					<b-col md=12>
						<b-card :img-src="icon_kid" img-alt="Card image" img-left class="mb-3">
							<b-card-text>
								<h6>Información personal del alumno(a)</h6>
								<p>
									Datos personales e información de sus padres y/o parientes.
								</p>
								<router-link :to="`/panel-student/personal-information`">
									<b-btn variant=success size=sm>
									Ingresar
									</b-btn>
								</router-link>
							</b-card-text>
						</b-card>
					</b-col>
					<!--
					<b-col md=12>
						<b-card :img-src="icon_cal" img-alt="Card image" img-left class="mb-3">
							<b-card-text>
								<p>
									Calificaciones de todas sus materias
								</p>
								<router-link :to="`/panel-student/score`">
									<b-btn variant=success size=sm>
									Ingresar
									</b-btn>
								</router-link>
							</b-card-text>
						</b-card>
					</b-col>
					-->
					<b-col md=12>
						<b-card :img-src="icon_cal" img-alt="Card image" img-left class="mb-3">
							<b-card-text>
								<p>
									Actividades relacionadas al curso
									<ul>
										<li>
											Tareas / Exámenes / Pruebas del curso
										</li>
										<li>
											Clases y materiales relacionadas al curso
										</li>
										<li>
											Observaciones relacionadas al curso
										</li>
										<li>
											Notificación sobre los exámenes del curso
										</li>
										<li>
											Notificación sobre las calificaciones del curso
										</li>
									</ul>
								</p>
								<router-link :to="{name:'panel_student_homeworks'}">
									<b-btn variant=success size=sm>
									Ingresar
									</b-btn>
								</router-link>
							</b-card-text>
						</b-card>
					</b-col>
					<b-col md=12>
						<b-card :img-src="icon_notes" img-alt="Card image" img-left class="mb-3">
							<b-card-text>
								<h6>Publicaciones</h6>
								<p>
									<ul class="years">
										<li v-for="(year,idx) in years_computed" :key="idx">
											<router-link :to="`/panel-student/notifications/${year}`">
												Año {{ year }}
											</router-link>
										</li>
									</ul>
								</p>
							</b-card-text>
						</b-card>
					</b-col>
				</b-row>
			</div>
		</b-container>
	</div>
</template>
<script>
	import icon_kid from '@/assets/kid.svg'
	import icon_cal from '@/assets/calificacion.png'
	import icon_notes from '@/assets/notes.png'


	export default{
		name:'panel',
		data(){
			return {
				icon_kid,
				icon_cal,
				icon_notes,
				years:[
					this.$moment().subtract(1,'year').format("YYYY"),
					this.$moment().format("YYYY")
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Panel del alumno')
		},
		methods:{

		},
		computed:{
			years_computed(){
				return this.years
			}
		},
		watch:{

		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
	.section-menu{
		text-align: left;
		max-width: 90%;
		margin: 10px auto;
		img{
			max-width: 100px;
			max-height: 100px;
			position: relative;
		}
		.card{
			align-items: center;
		}
	}
	.years{
		padding-left: 2px;
		list-style-type: none;
		display: inline-flex;
		flex-direction: column;
		margin-bottom: 2px;
		align-items: center;
		li{
			margin-right: 5px;
		}
	}
</style>