<template>
	<div>
		<panel-student-top-header />
		<b-modal
			ref='modal_new_form'
			id="modal_new_form" 
			title=" Nuevo alumno "
			ok-only 
			ok-title="Cerrar cuadro" 
			ok-variant=dark 
			size=md 
		>
			<b-alert show variant="danger">
				Verifique que el alumno no exista para evitar 
				duplicidad antes de crear un registro nuevo
			</b-alert>
			<b-form-group
				label="Apellidos y Nombre del alumno"
			>
				<b-form-input  
					v-model=" students.form.fullname "
					type="text" 
					trim />
			</b-form-group>
			<b-form-group
				label="#Documento del alumno"
			>
				<b-form-input  
					v-model=" students.form.document_number "
					type="text" 
					trim />
			</b-form-group>
			<b-btn 
				:disabled=" students.form.new_wait "
				variant=success 
				size=sm 
				@click=" createNewStudent ">
					Crear&nbsp;<fas icon=sync class="spin" v-if=" students.form.new_wait " />
				</b-btn>
		</b-modal>
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<div class="panel-top">
				<h3>
					Listado de Alumnos
				</h3>
				<b-row>
					<b-col lg=3 md=4 sm=12>
						<b-form-group 
							label="Sexo"
						> 
						<b-form-radio-group class="noselect"
							:disabled="students.wait_list"
							stacked
							name="search-radios-sex"
							v-model=" students.search_list.is_sex.selected" 
							:options=" students.search_list.is_sex.options "/>
						</b-form-group>
					</b-col>
					<b-col lg=3 md=4 sm=12>
						<b-form-group 
							label="Activo / Inactivo"
						> 
						<b-form-radio-group class="noselect"
							:disabled="students.wait_list"
							stacked
							name="search-radios-active"
							v-model=" students.search_list.is_active.selected" 
							:options=" students.search_list.is_active.options "/>
						</b-form-group>
					</b-col>
				</b-row>
				<span>Total: {{ students.total_records }}</span>
				<div  style="display: inline-block;">
					<b-spinner small variant=primary v-show="students.wait_list " type="grow" label="Spinning"></b-spinner>
					<span v-show="students.wait_list ">&nbsp;{{ students.server_msg }}</span>
				</div>
			</div>
			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:students.current_page<=1}" @click="paginationChangeStudent(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:students.current_page<=1}" @click="paginationChangeStudent(students.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(students.current_page,students.total_pages)" 
							:class="{active:students.current_page==page}"
							@click="page!='...' ? paginationChangeStudent(page) : ''"
						>
							<a v-if="students.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:students.current_page>=students.total_pages}"
							@click="paginationChangeStudent(students.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeStudent (students.total_pages)"
							:class="{disabled:students.current_page>=students.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					:disabled=" students.wait_list " 
					size=sm 
					variant=info 
					:text="`${ students.regs_x_page } filas`" 
					class="m-md-2 ml-1">
					<b-dropdown-item 
						v-for="it in 5" 
						:key="it" 
						@click=" changePaginationStudent(it * 10) "
					>{{ it * 10 }} filas</b-dropdown-item>
				</b-dropdown>
				<b-btn 
					class="ml-1"
					:disabled=" students.wait_list " 
					variant=success 
					size=sm 
					v-b-modal.modal_new_form>
					<fas icon="plus" />
				</b-btn>
			</div>
			<b-input-group>
				<template v-slot:append>
					<b-btn 
						:disabled=" students.wait_list "
						variant=primary 
						size=sm 
						@click=" getStudentsList ">
						Buscar
					</b-btn>
				</template>
				<b-form-input 
					:disabled=" students.wait_list "
					placeholder="Tipee aquí el nombre y/o apellidos del alumno"
					name="search-fullname"
					v-model=" students.search_word " 
					v-on:keyup.enter=" getStudentsList "
					trim />
			</b-input-group>
			<div class="table-container">
				<table class="table table-hover table-stripped table-borderer">
					<thead>
						<th>
							<b-btn 
								:disabled=" students.wait_list "
								variant=success 
								size=sm 
								@click=" getStudentsList ">
								<fas icon="sync" :class='{spin : students.wait_list }' />
							</b-btn>
						</th>
						<th @click="getOrderActionStudent('fullname')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: students.order.by == 'fullname',
									unordered : students.order.by != 'fullname', 
									asc: students.order.orientation, 
									desc : !students.order.orientation 
								}">
									Alumno
							</label>
						</th>
						<th @click="getOrderActionStudent('active')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: students.order.by == 'active',
									unordered : students.order.by != 'active', 
									asc: students.order.orientation, 
									desc : !students.order.orientation 
								}">
									Activo?
							</label>
						</th>
						<th @click="getOrderActionStudent('sex')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: students.order.by == 'sex',
									unordered : students.order.by != 'sex', 
									asc: students.order.orientation, 
									desc : !students.order.orientation 
								}">
									Sexo
							</label>
						</th>
						<th @click="getOrderActionStudent('onomastic')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: students.order.by == 'onomastic',
									unordered : students.order.by != 'onomastic', 
									asc: students.order.orientation, 
									desc : !students.order.orientation 
								}">
									Cumpleaños
							</label>
						</th>
						<th>Creado el</th>
						<th>Actualizado el</th>
						<th></th>
					</thead>
					<tbody v-if=" students.list.length>0 ">
						<tr v-for="(it,idx) in students.list" :key="idx+1" :class="{active:it.active,inactive:!it.active}">
							<td>
								{{(students.current_page-1)*students.regs_x_page + idx + 1}}
							</td>
							<td class="data-name">
								<div class="props">
									<span>{{it.fullname}}</span>
									<custom-avatar 
										v-if=" it.picture_filename "
										:src="`${url_base}/profiles/${it.picture_filename}`"
									/>
								</div>
								<div class=" access_history " v-if=" it.access_history && it.access_history.length > 0 ">
									<label>Últimos accesos:</label>
									<ul>
										<li v-for=" (ah,ahi) in it.access_history " :key=" ahi ">
											{{ ah.created_at | moment('timezone', timezone, 'DD/MM/YYYY hh:mm:ss a') }}
										</li>
									</ul>
								</div>
							</td>
							<td>
								{{ it.active ? 'Activo' : 'Inactivo' }}
							</td>
							<td>
								<fas style="font-size: 25px;" :icon="  it.sex ? 'male':'female'"/>
								{{ it.sex ? 'Varón' : 'Mujer' }}
							</td>
							<td>
								<span v-if=" it.onomastic ">
									{{it.onomastic | moment('timezone', timezone, 'DD/MM/YYYY') }}
								</span>
								<div style="font-style: italic;">
									{{ yearsOld(it.onomastic) }}
								</div>
							</td>
							<td>
								{{it.created_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td>
								{{it.updated_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td class="actions">
								<b-btn 
									class="mb-1" 
									variant=danger 
									size=sm 
									@click="delStudent(it)">
									<b-icon-trash />
								</b-btn>
								<router-link :to="`/panel-teacher/students/${it.id}`">
									<b-btn 
										class="mb-1"
										variant=primary 
										size=sm >
										<fas icon="external-link-alt" />
									</b-btn>
								</router-link>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=8>Sin registros</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')

	const url_base = process.env.VUE_APP_SERVER_API_URL
	const url_api = `${url_base}/students`
	const url_api_teachers = `${url_api}/for-teachers`
	export default{
		name:'panel',
		data(){
			return {
				url_base,
				students:{
					search_list:{
						is_sex:{
							selected:'',
							options:[
								{text:'Varón',value:1},
								{text:'Mujer',value:0},
								{text:'Todos',value:''},
							],
						},
						is_active:{
							selected:'',
							options:[
								{text:'Activo',value:1},
								{text:'Inactivo',value:0},
								{text:'Todos',value:''},
							],
						},
					},
					search_word:'',
					server_msg:'',
					wait_list:false,
					form:{
						del_wait:false,
						is_new:false,
						new_wait:false,
						fullname:'',
						document_number:'',
					},
					list:[
					],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Alumnos',
						to:null,
					}
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Listado de alumnos')
			this.getStudentsList()
		},
		methods:{
			yearsOld(onomastic){
				if(!onomastic || !/\d{4}-\d{2}-\d{2}/.test(onomastic))return
				const mm = this.$moment(onomastic,'YYYY-MM-DD')
				const diff = this.$moment().diff(mm,'years')
				return `${diff} año(s)`
			},
			createNewStudent(){
				Swal.fire({
					title: 'Crear nuevo alumno?',
					text: "Evite duplicar el registro de alumnos por favor",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){
						if(this.students.form.new_wait)return
						this.students.form.new_wait = true
						const data = {}
						for(const idx in this.students.form){
							const val = this.students.form[idx]
								if(typeof val == 'string' || typeof val =='number' || typeof val == 'boolean'){
									data[idx] = val
								}
						}
						this.axios({
							method:'POST',
							url:`${url_api_teachers}`,
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.students.form.new_wait = false
							this.$router.push({ name: 'panel_teacher_student_view', params: { id: response.data.value.id } })
						}).catch(err =>{
							this.students.form.new_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							let msg = 'Error al crear nuevo alumno'
							if( err && err.response ){
								if(err.response.data){
									if(err.response.data.msg){
										msg = err.response.data.msg
									}
								}
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error al crear un nuevo alumno',
											text:msg,
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			changePaginationStudent(tt){
				this.students.regs_x_page = tt
				this.getStudentsList()
			},
			getOrderActionStudent(str){
				if(this.students.wait_list )return
				this.students.order.by_last = this.students.order.by
				this.students.order.orientation_last = this.students.order.orientation
				this.students.order.by = str
				this.students.order.orientation = !this.students.order.orientation
				this.getStudentsList()
			},
			pag(current,total){
				return pag(current,total);
			},
			paginationChangeStudent(page){
				if(this.students.wait_list )return
				if(this.students.current_page==this.students.total_pages && this.students.current_page==page)return
				if(this.students.current_page==page && page==1)return;
				if(page>0 && page<=this.students.total_pages){
					this.students.current_page = page;
					this.getStudentsList();
				}
			},
			editStudent(it){
				return true
			},
			delStudent(it){
				Swal.fire({
					title: 'Eliminar a este alumno?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar',
				}).then(result=>{
					if(result.value === true){
						if( this.students.form.del_wait )return
						this.students.form.del_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						this.axios({
							method:'DELETE',
							url:`${url_api_teachers}/${it.id}`,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.students.form.del_wait = false
							this.getStudentsList()
							Swal.close()
							Swal.fire(
								{
									title:'Registro eliminado',
									icon:'success',
								}
							)
						}).catch(err =>{
							this.students.form.del_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al eliminar al estudiante, quizás esté vinculado a otros registros',
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
			getStudentsList(){
				if( this.students.wait_list )return
				this.students.wait_list = true
				this.students.server_msg = 'Espere porfavor...'
				this.axios.get(url_api_teachers,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						is_sex:this.students.search_list.is_sex.selected,
						is_active:this.students.search_list.is_active.selected,
						word: this.students.search_word,
						order_by:this.students.order.by,
						order_orientation:this.students.order.orientation,
						page:this.students.current_page,
						regs_x_page:this.students.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.students.wait_list = false
					if(response && response.data && response.data.values){

						this.students.order.by = response.data.order_by
						this.students.order.orientation = response.data.order_orientation

						this.students.current_page = response.data.current_page
						this.students.total_pages = response.data.total_pages
						this.students.total_records = response.data.total_records
						this.students.regs_x_page = response.data.regs_x_page

						this.students.list = response.data.values
						this.students.server_msg = 'Listo'
					}else{
						this.students.server_msg = 'Sin registros'
					}
				}).catch(err =>{
					this.students.wait_list = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.students.server_msg = 'Error al recuperar los registros'
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							this.list = []
							this.students.server_msg = this.$permission_message
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			getDataFrom(obj){
				const _data = {}
				for(const idx in obj){
					const reg = obj[idx]
					if( typeof reg == 'string' || typeof reg == 'number' || typeof reg == 'boolean' ){
						_data[idx] = reg
					}else if( reg!=null && typeof reg == 'object' ){
						if( 'value' in reg ){
							_data[idx] = reg.value
						}
						if( 'selected' in reg ){
							_data[idx] = reg.selected
						}
					}else{
						//TODO
					}
				}
				return _data
			},
		},
		computed:{

		},
		watch:{
			'students.search_list.is_active.selected':function(new_val,old_val){
				this.getStudentsList()
			},
			'students.search_list.is_sex.selected':function(new_val,old_val){
				this.getStudentsList()
			},
		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
.actions{
	button{
		margin-right: 5px;
	}
}
.course-types{
	list-style-type: decimal-leading-zero;
	padding-left: 10px;
	text-align: left;
}
.panel-top{
	text-align: left;
}
.data-name{
	>div{
		&.props{
			text-align: left;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}
}
.access_history{
	text-align: left;
	border: 1px solid #dedede;
	padding: 5px 2px;
	box-shadow: 2px 2px 6px 0px #e2e2e2;
	label{
		text-align: left;

	}
	ul{
		min-width: 200px;
		padding-left: 2px;
		list-style-type: none;
		text-align: left;
		max-height: 150px;
		overflow-y: scroll;
	}
}
</style>