<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<div class="settings-container">
				<b-row>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Colegio:"
								>
								<b-form-input 
									v-model="settings.hash.school_name" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_name')">
								Guardar
							</b-btn>
						</div>
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Lema:"
								>
								<b-form-input 
									v-model="settings.hash.school_motto" 
									trim />
								</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_motto')">
								Guardar
							</b-btn>
						</div>
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Empresa:"
								>
								<b-form-input 
									v-model="settings.hash.school_business_name" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_business_name')">
								Guardar
							</b-btn>
							</div>
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
							label="Teléfono 1:"
							>
							<b-form-input 
								v-model="settings.hash.school_phone_number1" 
								trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_phone_number1')">
								Guardar
							</b-btn>
						</div>
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
							label="Teléfono 2:"
							>
							<b-form-input 
								v-model="settings.hash.school_phone_number2" 
								trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_phone_number2')">
								Guardar
							</b-btn>
						</div>
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Email 1:"
								>
								<b-form-input 
									v-model="settings.hash.school_email1" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_email1')">
								Guardar
							</b-btn>
						</div>
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Email 2:"
								>
								<b-form-input 
									v-model="settings.hash.school_email2" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_email2')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Facebook URL:"
								>
								<b-form-input 
									v-model="settings.hash.school_facebook_url" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_facebook_url')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Youtube URL:"
								>
								<b-form-input 
									v-model="settings.hash.school_youtube_url" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_youtube_url')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Instagram URL:"
								>
								<b-form-input 
									v-model="settings.hash.school_instagram_url" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_instagram_url')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Título del sitio web:"
								>
								<b-form-input 
									v-model="settings.hash.school_website_title" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_website_title')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Descripción del sitio web:"
								>
								<b-form-input 
									v-model="settings.hash.school_website_description" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_website_description')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Keywords del sitio web:"
								>
								<b-form-input 
									v-model="settings.hash.school_website_keywords" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_website_keywords')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Título de inicio de sesión:"
								>
								<b-form-input 
									v-model="settings.hash.school_login_title" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_login_title')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Título de cabecera de inicio de sesión:"
								>
								<b-form-input 
									v-model="settings.hash.school_login_header_title" 
									trim />
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_login_header_title')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
				</b-row>
				<b-row>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<div>
								<h5>Cabecera del formulario de inicio de sesión</h5>
								<div>
									<div class="sample-header" :style="`color:${settings.colors.login_header_color_title.hex}; background-color:${settings.colors.login_header_background_color_title.hex}`">
										Texto de ejemplo
									</div>
								</div>
								<b-row>
									<b-col>
										<div>Color del texto</div>
										<chrome-picker v-model=" settings.colors.login_header_color_title " />
									</b-col>
									<b-col>
										<div>Color de fondo del texto</div>
										<chrome-picker v-model=" settings.colors.login_header_background_color_title " />
									</b-col>
								</b-row>
							</div>
							<b-btn 
								class="mt-2"
								size=sm 
								variant=outline-primary
								@click="saveData('login-header-title')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<div>
								<h5>Color de tema del sitio web</h5>
								<chrome-picker v-model=" settings.colors.website_theme_color " />
							</div>
							<b-btn 
								class="mt-2" 
								size=sm 
								variant=outline-primary
								@click="saveData('website-theme-color')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
					<b-col sm=12 md=6 lg=6>
						<div class="field">
							<b-form-group
								label="Logo (Formato PNG):"
								>
								<div 
									style="position: relative;max-width: 300px;" 
									v-if=" settings.school_logo_info.server_url ">
									<label>Logo actual</label>
									<img class="preview_school_logo" :src=" settings.school_logo_info.server_url ">
								</div>
								<div 
									style="position: relative;max-width: 300px;" 
									v-if=" settings.school_logo_info.preview_url ">
									<label>Nuevo logo</label>
									<img class="preview_school_logo" :src=" settings.school_logo_info.preview_url ">
								</div>
								<b-form-file 
									ref="school_logo"
									v-model="settings.school_logo_info.file"
									accept=".png"
								/>
							</b-form-group>
							<b-btn 
								size=sm 
								variant=outline-primary
								@click="saveData('school_logo')">
								Guardar
							</b-btn>
						</div>	
					</b-col>
				</b-row>
			</div>
		</b-container>
	</div>
</template>
<script>
	const Swal = require('sweetalert2')

	const url_base = process.env.VUE_APP_SERVER_API_URL
	const url_api_teachers = `${url_base}/settings`
	const url_api_teacher_settings = `${url_api_teachers}/for-teachers`

	export default{
		tag:'panel-teacher-settings',
		data(){
			return {
				wait:false,
				settings:{
					list:[{id:null,kk:null,vv:null}],
					wait:false,
					hash:{
						school_name:'',
						school_motto:'',
						school_logo:'',
						school_address:'',
						school_business_name:'',
						school_phone_number1:'',
						school_phone_number2:'',
						school_email1:'',
						school_email2:'',
						school_facebook_url:'',
						school_youtube_url:'',
						school_instagram_url:'',
						school_website_title:'',
						school_website_description:'',
						school_website_keywords:'',
						school_website_theme_color:'',
						school_login_title:'',
						school_login_header_title:'',
						school_login_header_color_title:'',
						school_login_header_background_color_title:'',
					},
					colors:{
						login_header_color_title:{
							hex: "#fff",
						},
						login_header_background_color_title:{
							hex: "#f00",
						},
						website_theme_color:{
							hex: "#fff",
						},
					},
					school_logo_info:{
						file:null,
						size:0,
						server_url:null,
						preview_url:null,
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Información del sistema',
						to: null,
					},
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Panel de configuración del sistema')
			this.getInfo()
		},
		methods:{
			getSNBvalues(src,dest = null){
				const data = dest ? dest : {}
				for(const idx in src){
					const val = src[idx]
					if(typeof val =='string' || typeof val == 'number' || typeof val == 'boolean' || val === null || val ===undefined){
						data[idx] = val
					}
				}
				return data
			},
			getInfo(){
				this.axios({
					method:'GET',
					url:`${url_api_teacher_settings}`,
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.settings.wait = false
					if(Array.isArray(response.data)){
						this.settings.list = response.data
						response.data.forEach((data,idx) =>{
							if( data.kk in this.settings.hash ){
								this.settings.hash[data.kk] = data.vv
								if(data.kk == 'school_logo'){
									this.settings.school_logo_info.server_url = `${url_base}/${data.vv}`
								}
								if(data.kk == 'school_login_header_color_title'){
									this.settings.colors.login_header_color_title = {hex: data.vv}
								}
								if(data.kk == 'school_login_header_background_color_title'){
									this.settings.colors.login_header_background_color_title = {hex: data.vv}
								}
								if(data.kk == 'school_website_theme_color'){
									this.settings.colors.website_theme_color = {hex: data.vv}
								}
							}
						})
					}
				}).catch(err =>{
					this.settings.wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
							Swal.fire(
								{
									title:'Error',
									text:'Error al obtener los datos',
									icon:'warning',
								}
							)
					}
				})
			},
			saveData(key){
				Swal.fire({
					title: 'Actualizar dato ?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){
						if(this.settings.wait)return
						this.settings.wait = true
						let data = {}
						let id = null
						if( key == 'login-header-title' ){
							data.header_color_title = this.settings.colors.login_header_color_title.hex
							data.header_background_color_title = this.settings.colors.login_header_background_color_title.hex
						}else if( key == 'website-theme-color' ){
							data.website_theme_color = this.settings.colors.website_theme_color.hex
						}else{
							data = this.settings.list.filter( reg => reg.kk == key )[0]
							if(this.$dev_mode){
								console.log(data)
								console.log("list = ",this.settings.list)
								console.log("key = ",key)
							}
							id = data.id
							if( key == 'school_logo' ){
								const formData = new FormData()
								if(this.settings.school_logo_info.file instanceof File){
									formData.append('file', this.settings.school_logo_info.file)
									data.vv = Math.random()
									for(const idx in data){
										const obj = data[idx]
										formData.append(idx,obj)
									}
									data = formData
								}
							}else{
								data.vv = this.settings.hash[key]
							}
						}
						let def_url = `${url_api_teacher_settings}/${id}`
						if(key == 'login-header-title'){
							def_url = `${url_api_teacher_settings}/login-header-title`
						}
						if(key == 'website-theme-color'){
							def_url = `${url_api_teacher_settings}/website-theme-color`
						}
						Swal.fire({
							title:'Espere por favor...',
							icon:'info',
						})
						this.axios({
							url:def_url,
							method:'PUT',
							headers:{
								'Content-Type': ( data instanceof FormData ? 'multipart/form-data' : 'application/json'),
								'Accept': 'application/json',
							},
							data,
						}).then(response =>{
							this.settings.wait = false
							if(this.$dev_mode)console.log(response)
							Swal.close()
							Swal.fire(
								{
									title:'Dato guardado',
									html:'',
									icon:'success',
								}
							)
						}).catch(err=>{
							this.settings.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							Swal.close()
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al guardar el dato',
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
		},
		computed:{
		},
		watch:{
			'settings.school_logo_info.file':function(new_val,old_val){
				if(this.$dev_mode)console.log(new_val)
				const reader  = new FileReader()
				reader.onloadend = () => {
					this.settings.school_logo_info.preview_url = reader.result
				}

				if (new_val) {
					reader.readAsDataURL(new_val);
				} else {
					this.settings.school_logo_info.preview_url = null;
				}
			}
		},
		props:{

		},
		filters:{

		}
	}
</script>
<style lang=scss scoped>
	.settings-container{
		text-align: left;
	}
	.field{
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 5px 3px;
    box-shadow: 1px 1px 3px 0px #888;
	}
	.preview_school_logo{
		position: relative;
    width: 100%;
    max-width: 100%;
    margin: 10px 5px;
    border: 1px solid #999;
    -webkit-box-shadow: 2px 2px 2px 2px #999;
    box-shadow: 2px 2px 9px 0px #989898;
	}
	.sample-header{
		padding: 6px 2px;
	}
</style>