<template>
	<div>
		<panel-student-top-header />
		<b-modal
			id="modal_schedule"
			name="modal_schedule"
			title="Horario de curso"
			ok-only
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			button-size=sm
			size=md 
			header-bg-variant=dark
			header-text-variant=light
		>
			<div>
				<b-form-group
					label="Horario del curso"
				>
					<b-form-input  
						v-model=" schedule.schedule_information_form " 
						maxlength="50"
						trim />
				</b-form-group>
				<b-btn 
					variant=primary 
					size=sm 
					@click="saveSchedule"
				>
					Guardar
				</b-btn>
			</div>
		</b-modal>
		<b-modal
			id="modal_view_homework"
			name="modal_view_homework"
			title="Actividad"
			ok-only
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			button-size=sm
			size=xl 
			header-bg-variant=dark
			header-text-variant=light
		>
			<div>
				<i v-if="view.homework.created_at">Actividad creada el: {{ view.homework.created_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}<br /></i>
				<i v-if="view.homework.due_date">Fecha límite de entrega: {{ view.homework.due_date | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}<br /></i>
				<hr />
				<h3>{{ view.homework.title }}</h3>
				<div v-html=" view.homework.content " class="view-homework-content"></div>
			</div>
		</b-modal>
		<b-modal
			id="modal_view_homework_rating"
			name="modal_view_homework_rating"
			title="Calificaciones"
			ok-only
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			button-size=sm
			size=xl 
			header-bg-variant=dark
			header-text-variant=light
		>
			<div>
				<i v-if="view.rating.homework.created_at">Actividad creada el: {{ view.rating.homework.created_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}<br /></i>
				<i v-if="view.rating.homework.due_date">Fecha límite de entrega: {{ view.rating.homework.due_date | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}<br /></i>
				<hr />
				<h3>{{ view.rating.homework.title }}</h3>
				<div v-html=" view.rating.homework.content " class="view-homework-content"></div>
				<hr />
				<h5>Calificaciones</h5>
				<b-btn v-if=" homeworks.im_admin || homeworks.can_add_edit_del " style="margin-bottom:5px;" :variant="`${students_rating.rating_edit_enabled ? 'danger':'info'}`" size=sm @click=" students_rating.rating_edit_enabled = !students_rating.rating_edit_enabled ">{{ students_rating.rating_edit_enabled ? 'Cancelar edición de calificaciones' : 'Editar calificaciones' }}</b-btn>&nbsp;
				<b-btn style="margin-bottom: 5px;" variant=primary size=sm v-if=" !students_rating.rating_edit_enabled && ( homeworks.im_admin || homeworks.can_add_edit_del ) " @click=" saveRatings ">Guardar calificaciones</b-btn>
				<div class="table-container">
					<table class="table table-hover table-stripped students">
						<thead>
							<th>#</th>
							<th @click="getOrderActionStudentRating('alumno')">
								<label 
									class="table-header noselect" 
									:class="{
										ordered: ( students_rating.order.by == 'alumno' && !students_rating.rating_edit_enabled ),
										unordered : ( students_rating.order.by != 'alumno' && !students_rating.rating_edit_enabled ), 
										asc: ( students_rating.order.orientation && !students_rating.rating_edit_enabled ), 
										desc : ( !students_rating.order.orientation && !students_rating.rating_edit_enabled ) 
									}">
										Alumno
								</label>
							</th>
							<th @click="getOrderActionStudentRating('rating')">
								<label 
									class="table-header noselect" 
									:class="{
										ordered: ( students_rating.order.by == 'rating' && !students_rating.rating_edit_enabled ),
										unordered : ( students_rating.order.by != 'rating' && !students_rating.rating_edit_enabled ), 
										asc: ( students_rating.order.orientation && !students_rating.rating_edit_enabled ), 
										desc : ( !students_rating.order.orientation && !students_rating.rating_edit_enabled ) 
									}">
										Calificación
								</label>
							</th>
							<th></th>
						</thead>
						<tbody v-if =" students_rating_computed.length >0 ">
							<tr v-for=" (st,idx) in students_rating_computed " :key="idx"> 
								<td>{{ idx + 1 }}</td>
								<td>{{ st.fullname }}</td>
								<td>
									<span v-if=" !students_rating.rating_edit_enabled ">{{ formatNumber(st.rating) }}</span>
									<b-form-input 
										v-else 
										style="max-width:150px;" 
										v-model.number="st.rating" 
										type="number" 
										placeholder="Calificación" 
										max="20"
										min="0"
									></b-form-input>
									<div v-if= " !students_rating.rating_edit_enabled " class="rating-details">{{ st.details }}</div>
									<b-form-textarea v-else
										v-model="st.details"
										placeholder="Detalles"
										rows="3"
										max-rows="6" 
										style="margin-top: 5px;"
									></b-form-textarea>
								</td>
								<td>
									
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan=3>
									Sin alumnos
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</b-modal>
		<b-modal
			id="modal_homework_form"
			name="modal_homework_form"
			:title=" homeworks.form.id ? 'Editar actividad' : 'Nueva actividad' "
			ok-only
			ok-title="Cerrar formulario"
			ok-variant=dark 
			size=xl
			:no-close-on-backdrop="true"
		>
			<b-alert show variant="warning">
				Asegúrese de no repetir registros de actividades
			</b-alert>
			<h6>
				Actividad de : ({{ classroom.academic_year_id }}) {{ classroom.title }} | {{ course.name }}
			</h6>
			<b-btn 
				:disabled="homeworks.form.wait" 
				class="mb-1" 
				variant=success 
				size=sm 
				@click="saveHomeWork">
				{{ homeworks.form.id ? 'Actualizar':'Crear' }} Actividad&nbsp;
				<fas v-if=" homeworks.form.wait " icon="sync" class="spin" />&nbsp;
				<span v-if="homeworks.form.wait">{{ homeworks.form.uploaded_percentage }} %</span>
			</b-btn>
			<b-btn 
				class="ml-1 mb-1"
				v-if=" homeworks.form.wait && homeworks.form.uploaded_percentage > 0 "
				variant=danger 
				size=sm 
				@click=" cancelSaveHomeWork ">
				Cancelar proceso
			</b-btn>
			<b-form-group 
				label="Actividad de Tipo:"
			> 
			<b-form-radio-group class="noselect"
				:disabled="homeworks.form.wait"
				stacked
				name="search-radios-of-type"
				v-model=" homeworks.form.of_type.selected" 
				:options=" homeworks.form.of_type.options "/>
			</b-form-group>
			<b-form-group
				label="Título"
			>
				<b-form-input  
					v-model=" homeworks.form.title " 
					maxlength="200"
					trim />
			</b-form-group>
			<b-row>
				<b-col lg=4 md=6 sm=12>
					<b-form-group
					>
						<slot name="label">
							<label>
								Fecha de límite de entrega
							</label>&nbsp;
							<b-btn 
								@click=" clear_due_date "
								variant=outline-danger 
								size=sm 
								title="Limpiar" 
								v-b-tooltip.hover.v-info>
								<fas icon=times />
							</b-btn>
						</slot>
						<date-picker 
							v-model="homeworks.form.due_date.value" 
							:config="homeworks.form.due_date.options"
						></date-picker>
					</b-form-group>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-form-group
						label="Activo?"
					>
						<toggle-button 
						v-model=" homeworks.form.active "
						:color="{checked: 'rgb(18, 154, 18)', unchecked: '#FF0000', disabled: '#CCCCCC'}"
						:labels="{checked: 'ACTIVO', unchecked: 'INACTIVO'}" 
						:width="100" 
						:sync="true"
						/>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg=6 md=6 sm=12>
					Colores de texto:
					<color-picker @select="homework_form_make_fore_color($event)"/>
				</b-col>
				<b-col lg=6 md=6 sm=12>
					Colores de fondo de texto:
					<color-picker @select="homework_form_make_hilite_color($event)"/>
				</b-col>
			</b-row>
			<div class="format-btn">
				<div>
					Eliminar formato:
					<b-btn variant=info size=sm @click="homework_form_remove_format">
						<fas icon=times />
					</b-btn>
				</div>
				<b-dropdown style="margin-right: 5px;" size=sm variant=info :text="`Tamaño ${homeworks.tools.selected_font_size}`" class="m-md-2">
					<b-dropdown-item v-for="(it,ii) in 7" :key="ii" @click="homework_form_make_font_size(ii+1)" :active=" homeworks.tools.selected_font_size == ii+1 ">
						<span>Fuente: {{ii+1}}</span>
					</b-dropdown-item>
				</b-dropdown>
				<div class="btn-group">
					<button class="btn-header" size=sm variant=info @click="homework_form_make_header('h1')">
						<b-icon-type-h1 />
					</button>
					<button class="btn-header" size=sm variant=info @click="homework_form_make_header('h2')">
						<b-icon-type-h2 />
					</button>
					<button class="btn-header" size=sm variant=info @click="homework_form_make_header('h3')">
						<b-icon-type-h3 />
					</button>
				</div>
				<div class="btn-group">
					<button class="btn-block" size=sm variant=info @click="homework_form_make_p">
						P
					</button>
					<button class="btn-block" size=sm variant=info @click="homework_form_make_div">
						<b-icon-square />
					</button>
					<button class="btn-bold" size=sm variant=info @click="homework_form_make_bold">
						<b-icon-type-bold />
					</button>
					<button class="btn-italic" size=sm variant=info @click="homework_form_make_italic">
						<b-icon-type-italic />
					</button>
					<button class="btn-underline" @click="homework_form_make_underline">
						<b-icon icon="type-underline" />
					</button>
				</div>
				<div class="btn-group">
					<button class="btn-justify" @click="homework_form_make_justify('left')">
						<b-icon icon="justify-left" />
					</button>
					<button class="btn-justify" @click="homework_form_make_justify('full')">
						<b-icon icon="justify" />
					</button>
					<button class="btn-justify" @click="homework_form_make_justify('right')">
						<b-icon icon="justify-right" />
					</button>
					<button class="btn-justify" @click="homework_form_make_justify('center')">
						<b-icon icon="text-center" />
					</button>
					<button class="btn-indent" @click="homework_form_make_indent('left')">
						<b-icon icon="text-indent-right" />
					</button>
					<button class="btn-indent" @click="homework_form_make_indent('right')">
						<b-icon icon="text-indent-left" />
					</button>
					<button class="btn-list" @click="homework_form_make_list('ol')">
						<b-icon icon="list-ol" />
					</button>
					<button class="btn-list" @click="homework_form_make_list('ul')">
						<b-icon icon="list-ul" />
					</button>
					<button class="btn-list" @click="homework_form_make_delete_fills">
						<b-icon icon="x-square" />
					</button>
				</div>
			</div>
			<div 
				class="view-homework-content"
				:contenteditable=" !homeworks.form.wait " 
				id="homework-content-edit-space" 
				v-html=" homeworks.form.content " 
				@input=" onHomeworkContentEdit "
				v-on:drop="onHomeworkDrop"
				v-on:dragover="onHomeworkDragOver"
			>
				
			</div>
			<hr />
			<h6>Usted puede adjuntar hasta 5 archivos de tipo PDF, Word, Video ó imágenes para esta actividad</h6>
			<div v-if=" homeworks.form.wait ">
				<b-spinner 
					label="Spinning" 
					small 
					class="mr-1" />Espere por favor...({{ homeworks.form.uploaded_percentage }}%)
			</div>
			<b-row class="row-files">
				<b-col lg=4 md=12 sm=12>

					<div>
						<div style="margin-bottom: 5px;">
							Nuevo archivo:&nbsp;
							<b-btn variant=danger size=sm @click=" removeNewFile($event,1) ">
								<fas icon=times />
							</b-btn>
						</div>
						<b-form-file style="text-align: left;overflow: hidden;"
							ref="filename1-input" 
							v-model="homeworks.form.filename1_file"
							placeholder="Elija un archivo..."
							drop-placeholder="Suelte aquí el archivo..."
							browse-text = "Buscar" 
							accept="*/*" 
						>
							<template slot="file-name" slot-scope="{ names }">
								<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
							</template>
						</b-form-file>
						<label v-if=" homeworks.form.filename1_size ">Tamaño: {{ homeworks.form.filename1_size }} MB</label>
						<div v-if=" homeworks.form.folder && homeworks.form.filename1 ">
							<hr />
							<label>Archivo subido:</label><br />
							<filename-icon-display 
								:src=" `${url_base}/homeworks/${homeworks.form.folder}/${homeworks.form.filename1}` " 
								:size="homeworks.form.fs1"
							/>
							<div>
								<b-form-group
									label="Eliminar archivo subido ?"
								>
									<toggle-button 
										v-model=" homeworks.form.filename1_delete "
										:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
										:labels="{checked: 'SI', unchecked: 'NO'}" 
										:width="60" 
										:sync="true"
										/>
								</b-form-group>
							</div>
						</div>
					</div>					
					
				</b-col>
				<b-col lg=4 md=12 sm=12>

					<div>
						<div style="margin-bottom: 5px;">
							Nuevo archivo:&nbsp;
							<b-btn variant=danger size=sm @click=" removeNewFile($event,2) ">
								<fas icon=times />
							</b-btn>
						</div>
						<b-form-file style="text-align: left;overflow: hidden;" 
							ref="filename2-input" 
							v-model="homeworks.form.filename2_file"
							placeholder="Elija un archivo..."
							drop-placeholder="Suelte aquí el archivo..."
							browse-text = "Buscar" 
							accept="*/*"
						>
							<template slot="file-name" slot-scope="{ names }">
								<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
							</template>
						</b-form-file>
						<label v-if=" homeworks.form.filename2_size ">Tamaño: {{ homeworks.form.filename2_size }} MB</label>
						<div v-if=" homeworks.form.folder && homeworks.form.filename2 ">
							<hr />
							<label>Archivo subido:</label><br />
							<filename-icon-display 
								:src=" `${url_base}/homeworks/${homeworks.form.folder}/${homeworks.form.filename2}` " 
								:size="homeworks.form.fs2"
								/>
							<div>
								<b-form-group
									label="Eliminar archivo subido ?"
								>
									<toggle-button 
										v-model=" homeworks.form.filename2_delete "
										:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
										:labels="{checked: 'SI', unchecked: 'NO'}" 
										:width="60" 
										:sync="true"
										/>
								</b-form-group>
							</div>
						</div>
					</div>
					
				</b-col>
				<b-col lg=4 md=12 sm=12>

					<div>
						<div style="margin-bottom: 5px;">
							Nuevo archivo:&nbsp;
							<b-btn variant=danger size=sm @click=" removeNewFile($event,3) ">
								<fas icon=times />
							</b-btn>
						</div>
						<b-form-file style="text-align: left;overflow: hidden;"
							ref="filename3-input" 
							v-model="homeworks.form.filename3_file"
							placeholder="Elija un archivo..."
							drop-placeholder="Suelte aquí el archivo..."
							browse-text = "Buscar" 
							accept="*/*"
						>
							<template slot="file-name" slot-scope="{ names }">
								<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
							</template>
						</b-form-file>
						<label v-if=" homeworks.form.filename3_size ">Tamaño: {{ homeworks.form.filename3_size }} MB</label>
						<div v-if=" homeworks.form.folder && homeworks.form.filename3 ">
							<hr />
							<label>Archivo subido:</label><br />
							<filename-icon-display 
							:src=" `${url_base}/homeworks/${homeworks.form.folder}/${homeworks.form.filename3}` " 
							:size="homeworks.form.fs3"
							/>
							<div>
								<b-form-group
									label="Eliminar archivo subido ?"
								>
									<toggle-button 
										v-model=" homeworks.form.filename3_delete "
										:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
										:labels="{checked: 'SI', unchecked: 'NO'}" 
										:width="60" 
										:sync="true"
										/>
								</b-form-group>
							</div>
						</div>
					</div>

				</b-col>
				<b-col lg=4 md=12 sm=12>

					<div>
						<div style="margin-bottom: 5px;">
							Nuevo archivo:&nbsp;
							<b-btn variant=danger size=sm @click=" removeNewFile($event,4) ">
								<fas icon=times />
							</b-btn>
						</div>
						<b-form-file style="text-align: left;overflow: hidden;"
							ref="filename3-input" 
							v-model="homeworks.form.filename4_file"
							placeholder="Elija un archivo..."
							drop-placeholder="Suelte aquí el archivo..."
							browse-text = "Buscar" 
							accept="*/*"
						>
							<template slot="file-name" slot-scope="{ names }">
								<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
							</template>
						</b-form-file>
						<label v-if=" homeworks.form.filename4_size ">Tamaño: {{ homeworks.form.filename4_size }} MB</label>
						<div v-if=" homeworks.form.folder && homeworks.form.filename4 ">
							<hr />
							<label>Archivo subido:</label><br />
							<filename-icon-display 
							:src=" `${url_base}/homeworks/${homeworks.form.folder}/${homeworks.form.filename4}` " 
							:size="homeworks.form.fs4"
							/>
							<div>
								<b-form-group
									label="Eliminar archivo subido ?"
								>
									<toggle-button 
										v-model=" homeworks.form.filename4_delete "
										:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
										:labels="{checked: 'SI', unchecked: 'NO'}" 
										:width="60" 
										:sync="true"
										/>
								</b-form-group>
							</div>
						</div>
					</div>

				</b-col>
				<b-col lg=4 md=12 sm=12>

					<div>
						<div style="margin-bottom: 5px;">
							Nuevo archivo:&nbsp;
							<b-btn variant=danger size=sm @click=" removeNewFile($event,5) ">
								<fas icon=times />
							</b-btn>
						</div>
						<b-form-file style="text-align: left;overflow: hidden;"
							ref="filename5-input" 
							v-model="homeworks.form.filename5_file"
							placeholder="Elija un archivo..."
							drop-placeholder="Suelte aquí el archivo..."
							browse-text = "Buscar" 
							accept="*/*"
						>
							<template slot="file-name" slot-scope="{ names }">
								<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
							</template>
						</b-form-file>
						<label v-if=" homeworks.form.filename5_size ">Tamaño: {{ homeworks.form.filename5_size }} MB</label>
						<div v-if=" homeworks.form.folder && homeworks.form.filename5 ">
							<hr />
							<label>Archivo subido:</label><br />
							<filename-icon-display 
							:src=" `${url_base}/homeworks/${homeworks.form.folder}/${homeworks.form.filename5}` " 
							:size="homeworks.form.fs5"
							/>
							<div>
								<b-form-group
									label="Eliminar archivo subido ?"
								>
									<toggle-button 
										v-model=" homeworks.form.filename5_delete "
										:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
										:labels="{checked: 'SI', unchecked: 'NO'}" 
										:width="60" 
										:sync="true"
										/>
								</b-form-group>
							</div>
						</div>
					</div>

				</b-col>
			</b-row>
			<hr />
			<div v-show=" homeworks.form.of_type.selected == 1 ">
				<h5>En esta sección usted podrá agregar una lista de opciones como 
				respuestas a la actividad de tipo <strong>Tareas / Exámenes / Pruebas del curso</strong> si es que esta actividad requiera que el alumno responda.</h5>
				
				<b-row>
					<b-col lg=6 md=12 sm=12>
						<b-form-group
							label=""
						>
							<div slot="label">
								<label>Nueva Opción, máx 300 caracteres:</label>&nbsp;
								<b-btn variant=success size=sm @click=" addHomeworkOption ">
									<fas icon="plus" />
								</b-btn>
							</div>
							<b-form-textarea 
								id="homework-options-form-desc"
								v-model=" homeworks.homework_options.form.desc "
								placeholder="Nueva Opción, máx 300 caracteres"
								rows="3"
								max-rows="6"
							/>
							<label v-if="homeworks.homework_options.form.desc">
								{{ homeworks.homework_options.form.desc.length }} caracteres
							</label>
						</b-form-group>
					</b-col>
					<b-col lg=6 md=12 sm=12>
						<b-btn 
							@click=" homeworks.homework_options.edit_options = !homeworks.homework_options.edit_options" 
							variant=success 
							size=sm
						>
							{{ homeworks.homework_options.edit_options ? 'Deshabilitar edición':'Editar detalles' }}
						</b-btn>
						<table class="table table-hover table-stripped table-bordered">
							<thead>
								<th>
									#
								</th>
								<th>
									Detalle de opción
								</th>
								<th></th>
							</thead>
							<tbody 
								@drop="dropHomeworkOption"
								@dragover="dragOverHomeworkOption" 
								v-if=" homeworks.homework_options.list.length>0 ">
								<tr 
									:draggable="!homeworks.homework_options.edit_options"
									@dragstart="dragStartHomeworkOption"
									v-for="(it,idx) in homeworks.homework_options.list " 
									:key="idx"
								>
									<td>
										<b-btn :variant="`${it.valid_answer ? 'success':'outline-dark'}`" size=sm @click=" it.valid_answer = !it.valid_answer ">
											<fas :icon="it.valid_answer ? 'check-circle':['far','circle']"/>
										</b-btn>
									</td>
									<td>
										<b-form-textarea v-if = " homeworks.homework_options.edit_options "
											v-model="it.desc"
											placeholder="Detalle de opción"
											rows="3"
											max-rows="6"
										></b-form-textarea>
										<div v-else>{{ it.desc }}</div>
									</td>
									<td>
										<b-btn variant=danger size=sm @click="removeHomeworkOption(it)">
											<b-icon-trash /> 
										</b-btn>
									</td>
								</tr>
							</tbody>
							<tbody v-else>
								<tr>
									<td colspan=3>
										Sin opciones
									</td>
								</tr>
							</tbody>
						</table>
					</b-col>
				</b-row>
			</div>

			<h6>
				Actividad de : ({{ classroom.academic_year_id }}) {{ classroom.title }} | {{ course.name }}
			</h6>
		</b-modal>
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to == null ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<h6>
				{{ classroom.title ? classroom.title : 'Sin Aula' }} | 
				{{ course.name ? course.name : '' }} 
				{{ classroom.academic_year_id ? `(${classroom.academic_year_id})` : '' }}
				{{ (schedule && schedule.id) ? `| ${schedule.schedule_information}` : '' }}&nbsp;<fas v-b-modal.modal_schedule :icon="['far','clock']" />
			</h6>
			<div>
				<ul class="teachers-list" v-if=" teachers_computed.length > 0 ">
					<li v-for="(it,idx) in teachers_computed" :key="idx">
						{{ it.fullname }}
					</li>
				</ul>
			</div>
			<div v-if="wait">
				<b-spinner small variant="success" label="Spinning"></b-spinner>&nbsp;
				Obteniendo información...
			</div>
			<div  class="related-courses-list-container" v-if=" homeworks.related_courses.length > 0 && !wait ">
				Otros cursos del aula: 
				<ul class="related-courses-list">
					<li v-for=" (it,idx) in homeworks.related_courses " :key="idx">
						<router-link :to="{name: 'panel_teacher_classroom_course_view',params:{classroom_id: classroom.id , course_id: it.id }}">{{ it.name }}</router-link>
					</li>
				</ul>		
			</div>
			<div style="text-align: left;">
				<h5 v-if=" show_students ">
					Listado de alumnos
				</h5>
				<span>Total de alumnos: {{ students_computed.length }}</span>
				<b-btn 
					class="ml-1 mb-1" 
					variant=primary 
					size=sm
					@click=" show_students = !show_students "
				>
					{{ show_students ? 'Ocultar' : 'Mostrar' }}
				</b-btn>		
			</div>
			<div v-show=" show_students " style="position: relative;width: 100%; overflow-x: scroll;">
				<table class="table table-hover table-stripped students">
					<thead>
						<th>#</th>
						<th @click="getOrderActionStudent('alumno')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: students.order.by == 'alumno',
									unordered : students.order.by != 'alumno', 
									asc: students.order.orientation, 
									desc : !students.order.orientation 
								}">
									Alumno
							</label>
						</th>
						<th @click="getOrderActionStudent('cumpleanos')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: students.order.by == 'cumpleanos',
									unordered : students.order.by != 'cumpleanos', 
									asc: students.order.orientation, 
									desc : !students.order.orientation 
								}">
									Nacimiento
							</label>
						</th>
						<th></th>
					</thead>
					<tbody v-if =" students_computed.length >0 ">
						<tr v-for=" (st,idx) in students_computed " :key="idx"> 
							<td>{{ idx + 1 }}</td>
							<td>
								<span>{{ st.fullname }}</span>
								<div>
									#Doc {{ st.document_number }}
								</div>
							</td>
							<td>
								<span v-if="st.onomastic">{{ st.onomastic | moment('DD/MM/YYYY') }}</span>
							</td>
							<td>
								
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=4>
								Sin alumnos
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr />
			<h5>Listado de actividades
			</h5>
			<h6 v-if=" show_students ">
				({{ classroom.academic_year_id }}) {{ classroom.title }} | {{ course.name }}
			</h6>

			<div style="text-align: left;">
				Total de actividades: {{ homeworks.total_records }}
			</div>
			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:homeworks.current_page<=1}" @click="paginationChangeHomeworks(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:homeworks.current_page<=1}" @click="paginationChangeHomeworks(homeworks.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(homeworks.current_page,homeworks.total_pages)" 
							:class="{active:homeworks.current_page==page}"
							@click="page!='...' ? paginationChangeHomeworks(page) : ''"
						>
							<a v-if="homeworks.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:homeworks.current_page>=homeworks.total_pages}"
							@click="paginationChangeHomeworks(homeworks.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeHomeworks (homeworks.total_pages)"
							:class="{disabled:homeworks.current_page>=homeworks.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					:disabled="homeworks.list_wait"
					size=sm 
					variant=info 
					:text="`${ homeworks.regs_x_page } filas`" 
					class="m-md-2 ml-1"
				>
					<b-dropdown-item 
						v-for="it in 5" 
						:key="it" 
						@click=" changePaginationHomeworks(it * 10) "
					>{{ it * 10 }} filas</b-dropdown-item>
				</b-dropdown>
				<b-btn 
					:disabled=" homeworks.list_wait "
					class="ml-1"
					v-if=" 
						homeworks.im_admin || 
						homeworks.can_add_edit_del " 
					variant=success 
					size=sm 
					v-b-modal.modal_homework_form 
					@click=" newHomework ">
					<fas icon=plus />
				</b-btn>
			</div>
			<div style="text-align: left;">
				<b-form-group 
					label="Actividad de Tipo:"
				> 
					<b-form-radio-group class="noselect"
						:disabled="homeworks.list_wait" 
						stacked 
						name="search-radios-filters-of-type"
						v-model=" homeworks.filters.of_type.selected" 
						:options=" homeworks.filters.of_type.options "/>
				</b-form-group>
			</div>
			<div class="table-container">
				<table class="table table-hover table-stripped">
					<thead>
						<th style="width: 100px;">
							<b-btn 
								variant=success 
								size=sm 
								@click=" getCourseHomeworks " >
								<fas 
									icon=sync 
									:class=" {spin: homeworks.list_wait } "/>
							</b-btn>
						</th>
						<th @click="getOrderActionHomeworks('homework_title')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_title',
									unordered : homeworks.order.by != 'homework_title', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Título
							</label>
						</th>
						<th>Tipo</th>
						<th @click="getOrderActionHomeworks('homework_due_date')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_due_date',
									unordered : homeworks.order.by != 'homework_due_date', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Fecha límite
							</label>
						</th>
						<th @click="getOrderActionHomeworks('homework_active')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_active',
									unordered : homeworks.order.by != 'homework_active', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Activo?
							</label>
						</th>
						<th @click="getOrderActionHomeworks('homework_created_at')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_created_at',
									unordered : homeworks.order.by != 'homework_created_at', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Generado
							</label>
						</th>
						<th @click="getOrderActionHomeworks('homework_updated_at')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: homeworks.order.by == 'homework_updated_at',
									unordered : homeworks.order.by != 'homework_updated_at', 
									asc: homeworks.order.orientation, 
									desc : !homeworks.order.orientation 
								}">
									Actualización
							</label>
						</th>
						<th></th>
					</thead>
					<tbody v-if =" homeworks_list_computed.length > 0 ">
						<tr v-for="(it,idx) in homeworks_list_computed " :key="idx" :class="{active:it.active,inactive:!it.active}">
						<td>
							{{(homeworks.current_page-1)*homeworks.regs_x_page + idx + 1}}
						</td>
							<td>
								<div>{{ it.title }}</div>
								<div>
									<b-btn v-if=" !(homeworks.im_admin || homeworks.can_add_edit_del) " variant=outline-primary size=sm @click=" view.homework = it " v-b-modal.modal_view_homework>Ampliar</b-btn>&nbsp;
									<b-btn v-if=" homeworks.filters.of_type.selected == 1 " variant=outline-dark size=sm @click=" viewHomeworkRating(it) " v-b-modal.modal_view_homework_rating>Calificaciones</b-btn>
								</div>
								<div v-if=" it.filename1 || it.filename2 || it.filename3 || it.filename4 || it.filename5 ">
									<strong><i>archivos adjuntos</i></strong>
									<filename-icon-display 
										v-if=" it.filename1 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename1}` " 
										:size="it.fs1"
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename2 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename2}` "
										:size="it.fs2"
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename3 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename3}` "
										:size="it.fs3"
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename4 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename4}` "
										:size="it.fs4"
										:mode="`modal`"
									/>
									<filename-icon-display 
										v-if=" it.filename5 " 
										:src=" `${url_base}/homeworks/${it.folder}/${it.filename5}` "
										:size="it.fs5"
										:mode="`modal`"
									/>
								</div>
							</td>
							<td>
								<span v-if=" it.of_type == 1 ">Tareas / Exámenes / Pruebas del curso</span>
								<span v-if=" it.of_type == 2 ">Observaciones relacionadas al curso</span>
								<span v-if=" it.of_type == 3 ">Notificación sobre los exámenes del curso</span>
								<span v-if=" it.of_type == 4 ">Notificación sobre las calificaciones del curso</span>
								<span v-if=" it.of_type == 5 ">Clases y/o materiales relacionadas al curso</span>

							</td>
							<td>
								<span v-if=" it.due_date ">
									{{ it.due_date | moment('timezone', timezone, 'DD/MM/YYYY hh:mm:ss a') }}
								</span>
							</td>
							<td>
								{{ it.active ? 'Activo' : 'Inactivo' }}
							</td>
							<td>{{ it.created_at | moment('timezone', timezone, 'DD/MM/YYYY hh:mm:ss a') }}</td>
							<td>{{ it.updated_at | moment('timezone', timezone, 'DD/MM/YYYY hh:mm:ss a') }}</td>
							<td class=actions v-if=" homeworks.im_admin || homeworks.can_add_edit_del " >
								<b-btn 
									class="mb-1"
									variant=primary 
									size=sm 
									@click=" editHomework(it) " 
									v-b-modal.modal_homework_form>
									<b-icon-pencil/>
								</b-btn>
								<b-btn 
									class="mb-1"
									variant=danger 
									size=sm 
									@click=" deleteHomework(it) ">
									<b-icon-trash/>
								</b-btn>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=8 style="text-align: left;">
								Sin actividades
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')


	const url_base = process.env.VUE_APP_SERVER_API_URL
	const url_api = `${url_base}/courses`
	const url_api_teachers = `${url_api}/for-teachers`
	const url_api_teachers_classroom_course_info = `${url_api_teachers}/classroom-course-info`
	const url_api_teachers_course_homeworks = `${url_api_teachers}/homeworks`
	const url_api_teachers_course_homeworks_set_ratings = `${url_api_teachers_course_homeworks}/set-ratings`
	const url_api_teachers_course_save_schedule = `${url_api_teachers}/set-schedule`
	export default{
		data(){
			return {
				url_base,
				schedule_wait:false,
				schedule:{
					id:null,
					schedule_information:'',
					schedule_information_form:'',
				},
				classroom:{id:null},
				course:{id:null},
				teachers:[{id:null,fullname:'',document_number:''}],
				students:{
					list:[{id:null,fullname:'',document_number:''}],
					order:{
						by:'alummno',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				show_students:false,
				students_rating:{
					rating_edit_enabled: false,
					list:[{id:null,fullname:'',document_number:'',rating:0.0,details:''}],
					order:{
						by:'alummno',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				wait:false,
				homeworks:{
					filters:{
						of_type:{
							selected:1,
							options:[
								{text:'Tareas / Exámenes / Pruebas relacionadas al curso',value:1},
								{text:'Clases y/o materiales relacionadas al curso',value:5},
								{text:'Observaciones relacionadas al curso',value:2},
								{text:'Notificación sobre los exámenes del curso',value:3},
								{text:'Notificación sobre las calificaciones del curso',value:4},
							],
						},
					},
					files_accepted_formats:[
						'jpg',
						'jpeg',
						'png',
						'ppt',
						'pptx',
						'doc',
						'docx',
						'pdf',
						'mpeg4',
						'mp4',
						'mp3',
						'wav',
						'ogg',
						'flv',
					],
					tools:{
						show_pallete:false,
						selected_font_size:1,
						color_picker:'#194d33',
					},
					homework_options:{
						edit_options:false,
						form:{
							id:null,
							desc:'',
							valid_answer:false,
						},
						list:[{id:null,desc:'',homework_id: null, valid_answer: false}],
					},
					total_of_types:[[]],
					related_courses:[{id:null,name:''}],
					form_cancel_token:null,
					form:{
						id:null,
						of_type:{
							selected:1,
							options:[
								{text:'Tareas / Exámenes / Pruebas del curso',value:1},
								{text:'Clases y/o materiales relacionadas al curso',value:5},
								{text:'Observaciones relacionadas al curso',value:2},
								{text:'Notificación sobre los exámenes del curso',value:3},
								{text:'Notificación sobre las calificaciones del curso',value:4},
							],
						},
						title:'',
						content:'',
						content_current:'',
						folder:null,
						uploaded_percentage:0,

						filename1_file:null,
						filename2_file:null,
						filename3_file:null,
						filename4_file:null,
						filename5_file:null,

						filename1_size:null,
						filename2_size:null,
						filename3_size:null,
						filename4_size:null,
						filename5_size:null,

						filename1_delete:false,
						filename2_delete:false,
						filename3_delete:false,
						filename4_delete:false,
						filename5_delete:false,

						filename1:null,
						filename2:null,
						filename3:null,
						filename4:null,
						filename5:null,

						fs1:0,
						fs2:0,
						fs3:0,
						fs4:0,
						fs5:0,

						course_id:null,

						classroom_id:null,
						active:false,
						wait:false,
						due_date:{
							value:'',
							options:{
								debug: false,
								timeZone:this.timezone,
								locale:'es',
								useCurrent: true,
								defaultDate: '',
								icons: {
									time: 'fa fa-clock',
									date: 'fa fa-calendar',
									up: 'fa fa-arrow-up',
									down: 'fa fa-arrow-down',
									previous: 'fa fa-chevron-left',
									next: 'fa fa-chevron-right',
									today: 'fa fa-calendar-check',
									clear: 'fa fa-trash-alt',
									close: 'fa fa-times-circle'
								} 
							},
						},
					},
					del_wait:false,
					list_wait:false,
					list:[{id:null,title:'',content:'',classroom_id:null,course_id:null}],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
					im_admin:false,
					can_add_edit_del:false,
				},
				view:{
					rating:{
						wait:false,
						homework:{
							id:null,
						},
					},
					homework:{
						id:null,
						title:'',
						content:'',
						due_date:null,
						course:{
							id:null,
							name:'',
						},
						classroom:{
							id:null,
							title:'',
							description:'',
							academic_year_id:0,
						},
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to: { name: 'panel_teacher' }
					},
					{
						text:'Años académicos',
						to: { name: 'panel_teacher_academic_years' }
					},
				],
			}
		},
		mounted(){
			this.onMounted()
		},
		methods:{
			saveSchedule(){
				Swal.fire({
					title: 'Actualizar horario ?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){

						if(this.schedule_wait)return
						this.schedule_wait = true
						const data = {}

						data.classroom_id = this.classroom.id
						data.course_id = this.course.id
						data.schedule_information = this.schedule.schedule_information_form

						this.axios({
							url:url_api_teachers_course_save_schedule,
							method:'POST',
							headers:{  
								'Accept':'application/json', 
								'Content-Type':'application/json',
							},
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.schedule_wait = false
							if(response.data.schedule){
								this.schedule.id = response.data.schedule.id
								this.schedule.schedule_information = response.data.schedule.schedule_information
								Swal.fire({
									title:"Horario guardado",
									icon:"success"
								})
							}else{
								Swal.fire({
									title:'Ocurrió un problema al actualizar el horario',
									icon:'warning'
								})
							}
						}).catch(err =>{
							this.schedule_wait = false
							this.schedule.schedule_information_form = this.schedule.schedule_information
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									pass = false
									this.$store.commit('showModalLogin')
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire({
									title:'Ocurrió un error al actualizar el horario',
									icon:'warning'
								})
							}
						})
					}
				})
			},
			onMounted(){
				this.classroom.id = this.$router.history.current.params.classroom_id
				this.course.id = this.$router.history.current.params.course_id
				this.homeworks.list = []
				this.getInfo()
				this.homeworks.homework_options.list = this.homeworks.homework_options.list.filter(opt => opt.desc != '')
			},
			clear_due_date(it){
				if(!this.homeworks.form.due_date.value)return
				Swal.fire({
					title: 'Limpiar fecha de límite de entrega o presentación ?',
					text: "Tendrá que guardar la actividad para aplicar los cambios",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){

						this.homeworks.form.due_date.value = ''

					}
				})
			},
			dragStartHomeworkOption(ev){
				if(this.$dev_mode){
					console.log("dragStartHomeworkOption")
					console.log(ev)
					console.log("drag start element at index = ",ev.target.rowIndex)
				}
				ev.dataTransfer.setData("transfer_index", ev.target.rowIndex)
			},
			dragOverHomeworkOption(ev){
				ev.preventDefault()
			},
			dropHomeworkOption(ev){
				ev.preventDefault()
				if(this.homeworks.homework_options.list.length <= 1)return
				const transfer_index = ev.dataTransfer.getData("transfer_index")
				const tr = this.getParentNodeWithTagName(ev.target,'tr',6)
				const tbody = tr ? tr.parentElement : null

				if(tr.rowIndex !== transfer_index){
					
					const transfer_from = this.getSNBvalues(this.homeworks.homework_options.list[transfer_index])
					const transfer_to = this.getSNBvalues(this.homeworks.homework_options.list[tr.rowIndex])
						
					if(this.homeworks.homework_options.list.length == 2){
						this.getSNBvalues(transfer_to,this.homeworks.homework_options.list[transfer_index])
						this.getSNBvalues(transfer_from,this.homeworks.homework_options.list[tr.rowIndex])
					}else{
						const temp_list = this.homeworks.homework_options.list.map(option=>{
							return {
								id:option.id,
								desc:option.desc,
								valid_answer:option.valid_answer,
								homework_id:option.homework_id,
							}
						})
						if(tr.rowIndex < transfer_index){
							for(let pos = tr.rowIndex; pos < transfer_index; pos ++){
								this.getSNBvalues(temp_list[pos],this.homeworks.homework_options.list[pos+1])
							}
						}else{
							for(let pos = tr.rowIndex; pos > transfer_index; pos --){
								this.getSNBvalues(temp_list[pos],this.homeworks.homework_options.list[pos-1])
							}
						}
						this.getSNBvalues(transfer_from,this.homeworks.homework_options.list[tr.rowIndex])
						
					}

				}
			},
			getParentNodeWithTagName(el,tag_name,level){
				if(!el || !el.tagName)return null
				if(level <=0)return null
				if(el.tagName.toLowerCase() == 'tr')return el
				return this.getParentNodeWithTagName(el.parentElement,tag_name,level - 1)
			},
			removeHomeworkOption(it){
				Swal.fire({
					title: 'Retirar opción de la lista ?',
					text: "Tendrá que guardar la actividad para aplicar los cambios",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){

						this.homeworks.homework_options.list = this.homeworks.homework_options.list.filter(option => {
							return option.desc != it.desc
						})

					}
				})
			},
			addHomeworkOption(){
				if(!this.homeworks.homework_options.form.desc || this.homeworks.homework_options.form.desc.trim() == '')return
				Swal.fire({
					title: 'Agregar opción a la lista ?',
					text: "Tendrá que guardar la actividad para aplicar los cambios",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){

						this.homeworks.homework_options.list.push({
							id:0,
							desc:this.homeworks.homework_options.form.desc,
							valid_answer:false,
							homework_id:null,
						})
						this.homeworks.homework_options.form.desc = ''

					}
				})
			},
			removeNewFile(evt,cond){
				evt.preventDefault()
				evt.stopPropagation()
				if(cond == 1){
					this.homeworks.form.filename1_file = null
				}
				if(cond == 2){
					this.homeworks.form.filename2_file = null
				}
				if(cond == 3){
					this.homeworks.form.filename3_file = null
				}
			},
			saveRatings(){
				Swal.fire({
					title: 'Actualizar notas de los estudiantes para esta actividad ?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){

						if(this.view.rating.wait)return
						this.view.rating.wait = true

						const data = {}

						data.classroom_id = this.classroom.id
						data.course_id = this.course.id
						data.homework_id = this.view.rating.homework.id

						data.students = this.students_rating.list.map(student=>{
							return {
								id:student.id,
								rating: student.rating,
								details:student.details,
							}
						})

						this.axios({
							url:url_api_teachers_course_homeworks_set_ratings,
							method:'POST',
							headers:{  
								'Accept':'application/json', 
								'Content-Type':'application/json',
							},
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.view.rating.wait = false
							Swal.fire({
								title: "Notas actualizadas",
								icon:"success"
							})
							let found = null
							for(const obj of this.homeworks.list){
								if(obj.id == data.homework_id){
									found = obj
									break
								}
							}
							if(found){
								if(found.rating.length == 0){
									found.rating = response.data.values
								}else{      

									response.data.values.forEach(data =>{
										let ff = false
										for(const reg of found.rating){
											if(reg.id == data.id && reg.student_id == data.student_id){
												ff = true
												if(this.$dev_mode){
													console.log("actualizando ",reg)
													console.log("actualizando con",data)
												}
												try{
													reg.rating = window.parseFloat(data.rating)
												}catch(e){reg.rating = 0}
												reg.details = data.details
												reg.updated_at = data.updated_at
												break
											}
										}
										if(!ff){
											if(this.$dev_mode){
												console.log("No actualizado ",data)
											}
										}
									})
								}
							}
						}).catch(err =>{
							this.view.rating.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									pass = false
									this.$store.commit('showModalLogin')
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire({
									title:'Ocurrió un error al actualizar las notas',
									icon:'warning'
								})
							}
						})
					}
				})
			},
			viewHomeworkRating(it){
				if(this.$dev_mode)console.log("viewing rating for ",it)
				this.students_rating.rating_edit_enabled = false
				this.view.rating.homework = it
				this.students_rating.list.forEach(student=>{
					student.rating = 0.0
					student.details = null
				})
				if(it.rating){
					for(const sh of it.rating){
						for(const sr of this.students_rating.list){
							if(sr.id == sh.student_id){
								try{
									sr.rating = window.parseFloat(sh.rating)
								}catch(e){sr.rating = 0.0}
								sr.details = sh.details
								break
							}
						}
					}
				}
			},
			onHomeworkDrop(evt){
				evt.preventDefault()
				if(this.$dev_mode)console.log(evt)
			},
			onHomeworkDragOver(evt){
				evt.preventDefault()
				if(this.$dev_mode)console.log(evt)
			},
			sort_students(){

				const list = this.students.list.sort( (studentA, studentB) => {
					if(this.students.order.by == 'alumno'){
						if(!studentA.fullname || !studentB.fullname)return 0
						if(this.students.order.orientation){
							return studentA.fullname.localeCompare(studentB.fullname)
						}else{
							return studentB.fullname.localeCompare(studentA.fullname)
						}
					}else if(this.students.order.by == 'cumpleanos'){
						if(!studentA.onomastic || !studentB.onomastic)return 0
						if(this.students.order.orientation){
							return studentA.onomastic.localeCompare(studentB.onomastic)
							//return this.$moment(studentA.onomastic,'YYYY-MM-DD') < this.$moment(studentB.onomastic,'YYYY-MM-DD')
						}else{
							return studentB.onomastic.localeCompare(studentA.onomastic)
							//return this.$moment(studentA.onomastic,'YYYY-MM-DD') > this.$moment(studentB.onomastic,'YYYY-MM-DD')
						}
					}
					return 0
				})
				list.forEach((student,idx) => {
					if(this.$dev_mode)console.log(student.fullname,student.onomastic)
					this.$set(this.students.list,idx,student)
				})
			},
			sort_students_rating(){

				const list = [...this.students_rating.list]
				list.sort( (studentA, studentB) => {
					if(this.students_rating.order.by == 'alumno'){
						if(!studentA.fullname || !studentB.fullname)return 0
						if(this.students_rating.order.orientation){
							return studentA.fullname.localeCompare(studentB.fullname)
						}else{
							return studentB.fullname.localeCompare(studentA.fullname)
						}
					}else if(this.students_rating.order.by == 'rating'){
						if(this.students_rating.order.orientation){
							return studentA.rating > studentB.rating ? 1 : ( studentA.rating < studentB.rating ? -1 : 0)
						}else{
							return studentB.rating > studentA.rating ? 1 : ( studentB.rating < studentA.rating ? -1 : 0)
						}
					}else if(this.students_rating.order.by == 'cumpleanos'){
						if(!studentA.onomastic || !studentB.onomastic)return 0
						if(this.students_rating.order.orientation){
							return studentA.onomastic.localeCompare(studentB.onomastic)
							//return this.$moment(studentA.onomastic,'YYYY-MM-DD') < this.$moment(studentB.onomastic,'YYYY-MM-DD')
						}else{
							return studentB.onomastic.localeCompare(studentA.onomastic)
							//return this.$moment(studentA.onomastic,'YYYY-MM-DD') > this.$moment(studentB.onomastic,'YYYY-MM-DD')
						}
					}
					return 0
				})
				list.forEach((student,idx) => {
					this.$set(this.students_rating.list,idx,{...student})
				})
			},
			getOrderActionStudent(str){
				this.students.order.by_last = this.students.order.by
				this.students.order.orientation_last = this.students.order.orientation
				this.students.order.by = str
				this.students.order.orientation = !this.students.order.orientation
			},
			getOrderActionStudentRating(str){
				if(this.students_rating.rating_edit_enabled)return
				this.students_rating.order.by_last = this.students_rating.order.by
				this.students_rating.order.orientation_last = this.students_rating.order.orientation
				this.students_rating.order.by = str
				this.students_rating.order.orientation = !this.students_rating.order.orientation
			},
			getInfo(){
				if(this.wait)return
				this.wait = true
				this.axios.get(url_api_teachers_classroom_course_info,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						classroom_id:this.classroom.id,
						course_id:this.course.id,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.wait = false
					if(response.data.schedule && response.data.schedule.id){
						this.schedule.id = response.data.schedule.id
						this.schedule.schedule_information = response.data.schedule.schedule_information
						this.schedule.schedule_information_form = response.data.schedule.schedule_information
					}else{
						this.schedule.id = null
						this.schedule.schedule_information = ''
						this.schedule.schedule_information_form = ''
					}
					this.classroom = response.data.classroom
					this.course = response.data.course
					this.teachers = response.data.teachers
					this.students.list = response.data.students
					this.students_rating.list = response.data.students

					//this.$title_tag(`${this.classroom.title} - ${this.course.name} - ${this.classroom.academic_year_id}`)
					this.$store.commit('websiteTitle',`${this.classroom.title} - ${this.course.name} - ${this.classroom.academic_year_id}`)

					this.resolveBreadcrumb()
					this.getCourseHomeworks()
				}).catch(err =>{
					this.wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			resolveBreadcrumb(){
				if(this.relatives_link.length == 2){
					this.relatives_link.push(
					{
						text:`Año académico ${this.classroom.academic_year_id}`,
						to: { name:'panel_teacher_academic_years_view', params: { id: this.classroom.academic_year_id } }
					},
					{
						text:`${this.classroom.title} | ${this.course.name}`,
						to:null,
					})
				}else{

					const obj = this.relatives_link[this.relatives_link.length - 1]
					obj.text = `${this.classroom.title} | ${this.course.name}`
					this.$set(this.relatives_link,this.relatives_link.length - 1,obj)

				}
			},
			newHomework(){
				this.homeworks.form.id = null
				this.homeworks.form.of_type.selected = 1
				this.homeworks.form.title = ''
				this.homeworks.form.content = ''

				this.clearFormFilesInput()

				this.homeworks.form.filename1_file = null
				this.homeworks.form.filename2_file = null
				this.homeworks.form.filename3_file = null
				this.homeworks.form.filename4_file = null
				this.homeworks.form.filename5_file = null

				this.homeworks.form.filename1_size = null
				this.homeworks.form.filename2_size = null
				this.homeworks.form.filename3_size = null
				this.homeworks.form.filename4_size = null
				this.homeworks.form.filename5_size = null

				this.homeworks.form.filename1_delete = false
				this.homeworks.form.filename2_delete = false
				this.homeworks.form.filename3_delete = false
				this.homeworks.form.filename4_delete = false
				this.homeworks.form.filename5_delete = false

				this.homeworks.form.uploaded_percentage = 0
				this.homeworks.form.folder = null
				this.homeworks.homework_options.list = []

			},
			clearFormFilesInput(){
				this.homeworks.form.filename1 = null
				this.homeworks.form.filename2 = null
				this.homeworks.form.filename3 = null
				this.homeworks.form.filename4 = null
				this.homeworks.form.filename5 = null

				let file_input = this.$refs['filename1-input']
				if(file_input)file_input.reset()
				file_input = this.$refs['filename2-input']
				if(file_input)file_input.reset()
				file_input = this.$refs['filename3-input']
				if(file_input)file_input.reset()
				file_input = this.$refs['filename4-input']
				if(file_input)file_input.reset()
				file_input = this.$refs['filename5-input']
				if(file_input)file_input.reset()
			},
			editHomework(it){

				this.clearFormFilesInput()
					
				this.homeworks.form.filename1_file = null
				this.homeworks.form.filename2_file = null
				this.homeworks.form.filename3_file = null
				this.homeworks.form.filename4_file = null
				this.homeworks.form.filename5_file = null
					
				this.homeworks.form.filename1_size = null
				this.homeworks.form.filename2_size = null
				this.homeworks.form.filename3_size = null
				this.homeworks.form.filename4_size = null
				this.homeworks.form.filename5_size = null

				this.homeworks.form.filename1_delete = false
				this.homeworks.form.filename2_delete = false
				this.homeworks.form.filename3_delete = false
				this.homeworks.form.filename4_delete = false
				this.homeworks.form.filename5_delete = false

				this.homeworks.form.uploaded_percentage = 0
				this.homeworks.form.folder = null
				this.getSNBvalues(it,this.homeworks.form)
				this.homeworks.form.id = it.id
				this.homeworks.form.of_type.selected = it.of_type

				this.homeworks.homework_options.list = it.options

				if(this.$dev_mode)console.log("this.homeworks.form => ",this.homeworks.form)
			},
			changePaginationHomeworks(tt){
				this.homeworks.regs_x_page = tt
				this.getCourseHomeworks()
			},
			getOrderActionHomeworks(str){
				if(this.homeworks.list_wait )return
				this.homeworks.order.by_last = this.homeworks.order.by
				this.homeworks.order.orientation_last = this.homeworks.order.orientation
				this.homeworks.order.by = str
				this.homeworks.order.orientation = !this.homeworks.order.orientation
				this.getCourseHomeworks()
			},
			pag(current,total){
				return pag(current,total)
			},
			paginationChangeHomeworks(page){
				if(this.homeworks.list_wait )return
				if(this.homeworks.current_page==this.homeworks.total_pages && this.homeworks.current_page==page)return
				if(this.homeworks.current_page==page && page==1)return
				if(page>0 && page<=this.homeworks.total_pages){
					this.homeworks.current_page = page
					this.getCourseHomeworks()
				}
			},
			getCourseHomeworks(){
				if(this.homeworks.list_wait)return
				this.homeworks.list_wait = true
				this.axios.get(url_api_teachers_course_homeworks,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						of_type:this.homeworks.filters.of_type.selected,
						classroom_id:this.classroom.id,
						course_id:this.course.id,
						order_by:this.homeworks.order.by,
						order_orientation:this.homeworks.order.orientation,
						page:this.homeworks.current_page,
						regs_x_page:this.homeworks.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.homeworks.list_wait = false

					this.homeworks.total_of_types = response.data.total_of_types

					this.homeworks.order.by = response.data.order_by
					this.homeworks.order.orientation = response.data.order_orientation

					this.homeworks.current_page = response.data.current_page
					this.homeworks.total_pages = response.data.total_pages
					this.homeworks.total_records = response.data.total_records
					this.homeworks.regs_x_page = response.data.regs_x_page

					this.homeworks.list = response.data.values
					this.homeworks.im_admin = response.data.im_admin
					this.homeworks.can_add_edit_del = response.data.can_add_edit_del

					this.homeworks.related_courses = response.data.related_courses

					this.homeworks_format_total_of_type(response.data.total_of_types)

				}).catch(err =>{
					this.homeworks.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.homeworks.list = []
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			homeworks_format_total_of_type(arr_data){
				if(this.$dev_mode)console.log("analizando, ",arr_data)
				const ff = (id,arr) => {
					if(this.$dev_mode)console.log(`buscando ${id} en ${arr}`)
					if(Array.isArray(arr)){
						for(const obj of arr){
							if(this.$dev_mode){
								console.log(`types: ${typeof obj[0]}, ${typeof id}`)
							}
							if(obj[0] == id) return obj[1]
						}
					}
					return 0
				}
				this.homeworks.filters.of_type.options.forEach((tt,idx) => {
					if(/\(\d+\)/.test(tt.text)){
						tt.text = tt.text.replace(/\(\d+\)/,`(0)`)
					}else{
						tt.text += ' (0)'
					}
				})
				this.homeworks.filters.of_type.options.forEach((tt,idx) => {
					tt.text = tt.text.replace(/\(\d+\)/,`(${ff(tt.value,arr_data)})`)
					//this.$set(this.homeworks.filters.of_type.options,idx,tt)
				})
			},
			getSNBvalues(src,dest = null){
				const data = dest ? dest : {}
				for(const idx in src){
					const val = src[idx]
					if(idx == 'due_date'){
						if(!data.due_date)data.due_date = {}
						data.due_date.value = this.$moment(val)
					}
					else if(idx == 'of_type'){
						if(!data.of_type)data.of_type = {}
						data.of_type.selected = val
					}else{
						if(typeof val =='string' || typeof val == 'number' || typeof val == 'boolean' || val === null || val ===undefined){
							data[idx] = val
						}
					}
				}
				return data
			},
			onHomeworkContentEdit(evt){
				this.homeworks.form.content_current = evt.target.innerHTML
			},
			deleteHomework(it){
				Swal.fire({
					title: 'Eliminar actividad?',
					text: "Eliminará también las calificaciones y no se podrá deshacer esta acción",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.homeworks.del_wait )return
						this.homeworks.del_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						const data = {}

						data.classroom_id = this.classroom.id
						data.course_id = this.course.id

						this.axios({
							method:'DELETE',
							url:`${url_api_teachers_course_homeworks}/${it.id}`,
							data,
						}).then( response =>{
							this.homeworks.del_wait = false
							if(this.$dev_mode)console.log(response)
							Swal.close()
							Swal.fire(
								{
									title:"Actividad eliminada",
									icon:'success',
								}
							)
							this.getCourseHomeworks()
						}).catch(err =>{
							this.homeworks.del_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire(
									{
										title:'Error',
										text:"No se pudo eliminar la actividad",
										icon:'warning',
									}
								)
							}
						})
					}
				})
			},
			cancelSaveHomeWork(){
				if( this.homeworks.form.wait && this.homeworks.form.uploaded_percentage > 0 ){
					if(this.$dev_mode){
						console.log( this.homeworks.form_cancel_token )
					}
					this.homeworks.form_cancel_token.cancel()
					this.homeworks.form.uploaded_percentage = 0
				}
			},
			saveHomeWork(){
				Swal.fire({
					title: (this.homeworks.form.id ? 'Actualizar actividad ?':'Crear nueva actividad ?'),
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.homeworks.form.wait )return
						this.homeworks.form.wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)

						const form_has_any_file = ( this.homeworks.form.filename1_file instanceof File ) || 
																			( this.homeworks.form.filename2_file instanceof File ) || 
																			( this.homeworks.form.filename3_file instanceof File ) || 
																			( this.homeworks.form.filename4_file instanceof File ) || 
																			( this.homeworks.form.filename5_file instanceof File )

						let data = this.getSNBvalues(this.homeworks.form)
						delete data['updated_at']
						delete data['created_at']
						data.classroom_id = this.classroom.id
						data.course_id = this.course.id
						data.due_date = this.homeworks.form.due_date.value
						data.of_type = this.homeworks.form.of_type.selected
						data.content_current = ''
						data.content = document.getElementById("homework-content-edit-space").innerHTML
						data.options = JSON.stringify(this.homeworks.homework_options.list.map(opt => {
							return {
								id:opt.id,
								desc:opt.desc,
								valid_answer :opt.valid_answer,
							}
						}))
						
						if(form_has_any_file){
							const formData = new FormData()
							for(const idx in data){
								formData.append(idx,data[idx])
							}
							if(this.homeworks.form.filename1_file instanceof File ){
								formData.append('filename1_file',this.homeworks.form.filename1_file)
							}
							if(this.homeworks.form.filename2_file instanceof File ){
								formData.append('filename2_file',this.homeworks.form.filename2_file)
							}
							if(this.homeworks.form.filename3_file instanceof File ){
								formData.append('filename3_file',this.homeworks.form.filename3_file)
							}
							if(this.homeworks.form.filename4_file instanceof File ){
								formData.append('filename4_file',this.homeworks.form.filename4_file)
							}
							if(this.homeworks.form.filename5_file instanceof File ){
								formData.append('filename5_file',this.homeworks.form.filename5_file)
							}
							data = formData
						}

						const CancelToken = this.axios.CancelToken
						const source = CancelToken.source()
						this.homeworks.form_cancel_token = source
						this.axios({
							method:(this.homeworks.form.id ? 'PUT':'POST'),
							url:`${url_api_teachers_course_homeworks}${this.homeworks.form.id ? `/${this.homeworks.form.id}`:''}`,
							headers:{
								'Content-Type': ( form_has_any_file ? 'multipart/form-data' : 'application/json'),
								'Accept':'application/json',
							},
							data,
							onUploadProgress: ( progressEvent ) => {
								this.homeworks.form.uploaded_percentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
							},
							cancelToken: source.token,
						}).then( response =>{
							this.homeworks.form.wait = false
							Swal.close()
							Swal.fire(
								{
									title: ( this.homeworks.form.id ? 'Actividad actualizada' : 'Actividad asignada al curso' ),
									icon:'success',
								}
							)
							if(this.$dev_mode){
								console.log(response)
								console.log("current form = ",this.homeworks.form)
							}
							this.clearFormFilesInput()
							this.getSNBvalues(response.data,this.homeworks.form)


							this.homeworks.form.filename1_delete = false
							this.homeworks.form.filename2_delete = false
							this.homeworks.form.filename3_delete = false
							this.homeworks.form.filename4_delete = false
							this.homeworks.form.filename5_delete = false

							this.homeworks.form.filename1_size = null
							this.homeworks.form.filename2_size = null
							this.homeworks.form.filename3_size = null
							this.homeworks.form.filename4_size = null
							this.homeworks.form.filename5_size = null

							this.homeworks.form.due_date.value = response.data.due_date
							this.homeworks.form.of_type.selected = response.data.of_type
							this.homeworks.homework_options.list = response.data.options
							this.getCourseHomeworks()
						}).catch(err =>{
							this.homeworks.form.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							if (this.axios.isCancel(err)) {
								Swal.fire(
									{
										title:'Proceso cancelado',
										text:"Usted a cancelado el proceso",
										icon:'warning',
									}
								)
							} else {
								let pass = true
								if( err && err.response ){
									if( err.response.status == 401 ){
										this.$store.commit('showModalLogin')
										pass = false
									}else if( err.response.status == 403 ){
										pass = false
										Swal.fire(
											{
												title:this.$permission_message,
												icon: 'warning',
											}
										)
									}
								}
								if(pass){
									Swal.fire(
										{
											title:'Error',
											text:"No se pudo asignar la actividad al curso",
											icon:'warning',
										}
									)
								}
							}
						})
					}
				})
			},
			homework_form_make_delete_fills(){
				const node = window.getSelection().getRangeAt(0).startContainer.parentNode

				node.style.marginBottom = '0px'
				node.style.marginTop = '0px'
				node.style.marginLeft = '0px'
				node.style.marginRight = '0px'

				node.style.paddingBottom = '0px'
				node.style.paddingTop = '0px'
				node.style.paddingLeft = '0px'
				node.style.paddingRight = '0px'
				
				//document.execCommand('delete', false, null);
			},
			homework_form_make_bold(){
				document.execCommand('bold',false,null)
			},
			homework_form_make_italic(){
				document.execCommand('italic',false,null)
			},
			homework_form_make_font_size(val){
				this.homeworks.tools.selected_font_size = val
				document.execCommand('fontSize',false,val)
			},
			homework_form_make_fore_color(color = null){
				document.execCommand('foreColor',false,color)
			},
			homework_form_make_hilite_color(color = null){
				document.execCommand('hiliteColor',false,color)
			},
			homework_form_make_header(tag = 'h1'){
				document.execCommand('formatBlock',false,`<${tag}>`)
			},
			homework_form_make_p(){
				document.execCommand('formatBlock',false,'<p>')
			},
			homework_form_make_div(){
				document.execCommand('formatBlock',false,'<div>')
			},
			homework_form_make_justify(cond=''){
				if(cond=='center')document.execCommand("justifyCenter", false, "")
				if(cond=='full')document.execCommand("justifyFull", false, "")
				if(cond=='right')document.execCommand("justifyRight", false, "")
				if(cond=='left')document.execCommand("justifyLeft", false, "")
			},
			homework_form_make_indent(cond='right'){
				if(cond=='right')document.execCommand("indent", true, "")
				if(cond=='left')document.execCommand("outdent", true, "")
			},
			homework_form_make_list(cond='ol'){
				if(cond=='ol')document.execCommand("insertOrderedList", false, "")
				if(cond=='ul')document.execCommand("insertUnorderedList", false, "")
			},
			homework_form_make_underline(){
				document.execCommand("underline", false, "")
			},
			homework_form_remove_format(){
				document.execCommand("removeFormat", false, null)
			},
			formatNumber(amount, decimalCount = 2, decimal = ".", thousands = ",") {
				try {
					decimalCount = Math.abs(decimalCount);
					decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

					const negativeSign = amount < 0 ? "-" : "";

					const i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
					const j = (i.length > 3) ? i.length % 3 : 0;

					return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
				} catch (e) {
					console.log(e)
				}
			},
		},
		computed:{
			teachers_computed(){
				return this.teachers.filter(tt => tt.id != null)
			},
			students_computed(){
				return this.students.list.filter(tt => tt.id != null)
			},
			students_rating_computed(){
				return this.students_rating.list.filter(tt => tt.id != null)
			},
			homeworks_list_computed(){
				return this.homeworks.list.filter(hh => hh.id != null)
			},
		},
		watch:{
			'$route':function(new_val, old_val){
				if(this.$dev_mode){
					console.log(new_val,old_val)
				}
				this.onMounted()
			},
			'students.order.by':function(new_val,old_val){
				if(this.$dev_mode)console.log("short by ", new_val)
				this.sort_students()
			},
			'students.order.orientation':function(new_val,old_val){
				if(this.$dev_mode)console.log("short by orientation ", new_val)
				this.sort_students()
			},
			'students_rating.order.by':function(new_val,old_val){
				if(this.$dev_mode)console.log("short by ", new_val)
				this.sort_students_rating()
			},
			'students_rating.order.orientation':function(new_val,old_val){
				if(this.$dev_mode)console.log("short by orientation ", new_val)
				this.sort_students_rating()
			},
			'homeworks.form.filename1_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					this.homeworks.form.filename1_size = (new_val.size / (2**20)).toFixed(2)
					if(!this.homeworks.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename1-input'].reset()
						this.homeworks.form.filename1_file = null
						this.homeworks.form.filename1_size = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}else{
					this.homeworks.form.filename1_size = null
				}
			},
			'homeworks.form.filename2_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					this.homeworks.form.filename2_size = (new_val.size / (2**20)).toFixed(2)
					if(!this.homeworks.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename2-input'].reset()
						this.homeworks.form.filename2_file = null
						this.homeworks.form.filename2_size = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}else{
					this.homeworks.form.filename2_size = null
				}
			},
			'homeworks.form.filename3_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					this.homeworks.form.filename3_size = (new_val.size / (2**20)).toFixed(2)
					if(!this.homeworks.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename3-input'].reset()
						this.homeworks.form.filename3_file = null
						this.homeworks.form.filename3_size = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}else{
					this.homeworks.form.filename3_size = null
				}
			},
			'homeworks.form.filename4_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					this.homeworks.form.filename4_size = (new_val.size / (2**20)).toFixed(2)
					if(!this.homeworks.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename4-input'].reset()
						this.homeworks.form.filename4_file = null
						this.homeworks.form.filename4_size = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}else{
					this.homeworks.form.filename4_size = null
				}
			},
			'homeworks.form.filename5_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					this.homeworks.form.filename5_size = (new_val.size / (2**20)).toFixed(2)
					if(!this.homeworks.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename5-input'].reset()
						this.homeworks.form.filename5_file = null
						this.homeworks.form.filename5_size = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}else{
					this.homeworks.form.filename5_size = null
				}
			},
			'homeworks.filters.of_type.selected':function(new_val,old_val){
				this.getCourseHomeworks()
			},
		},
		props:{

		}
	}
</script>
<style lang=scss scoped>
	.teachers-list{
		display: inline-flex;
		flex-direction: row;
		list-style-type:none;
		li{
			position: relative;
			margin-right: 5px;
			border: 1px solid #a0beff;
			padding: 2px 5px;
		}
	}
	.related-courses-list-container{
		text-align: left;
		.related-courses-list{
			padding-left:5px;
			display: inline-flex;
			flex-direction: column;
			flex-flow: row;
			flex-wrap: wrap;
			list-style-type:none;
			li{
				position: relative;
				margin-right: 5px;
				padding: 15px 5px;
				font-style: italic;
				font-size: 14px;
				a{
					color: #908c0a;
					text-transform: uppercase;
					padding: 10px 10px;
					border: 1px solid #999;
					border-radius: 20px;
				}
			}
		}
	}
	#modal_homework_form{
		div[contenteditable]{
			padding: 5px;
			position: relative;
			border:1px solid #aaa;
			width: 100%;
			min-height: 200px;
		}
	}
	.format-btn{
		.btn{
			margin-right: 5px;
		}
	}
	.homework-form-pallete{
		position: absolute;
		left: 100%;
		bottom: 0px;

	}
	.btn-justify, .btn-header, .btn-bold,.btn-italic, .btn-block, .btn-indent,.btn-list, .btn-underline{
		background: #d8d8d8;
		display: inline-block;
		font-size: 20px;
		width: 35px;
		margin: 5px 5px 5px 0px;
		text-align: center;
		border: 1px solid #9a9a9a;
	}
	.btn-group{
		display: inline-block;
	}
	.actions{
		width: 120px;
		.btn{
			margin-right: 5px;
		}
	}
	table{
		&.students{
			th,td{
				text-align: left;
			}
		}
	}
	.rating-details{
		max-width: 150px;
	}
	.row-files{
		>div{
			>div{
				border: 1px solid #777;
				box-shadow: 0px 0px 2px 2px #cecece;
				margin-bottom:10px;
				padding: 10px 5px;
			}
		}
	}
</style>