<template>
	<div>
		<b-modal
			ref='modal_classroom_form'
			id="modal_classroom_form" 
			:title=" `${ classrooms.form.is_new ? 'Nueva aula / salón' : 'Editar aula / salón' }` "
			ok-only 
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			size=md 
		>
			<b-form-group
				label="Título"
			>
				<b-form-input  
					v-model=" classrooms.form.title "
					trim />
			</b-form-group>
			<b-form-group
				label="Descripción"
			>
				<b-form-input  
					v-model=" classrooms.form.description "
					trim />
			</b-form-group>
			<b-btn 
				:disabled="classrooms.form.wait"
				variant=success 
				size=sm 
				@click=" saveClassroom ">
				{{ classrooms.form.is_new ? 'Crear' : 'Modificar' }}
			</b-btn>
		</b-modal>
		<b-modal
			ref='modal_find_student'
			id="modal_find_student" 
			title="Buscar alumno"
			ok-only 
			ok-title="Cerrar cuadro" 
			size=md 
		>

			<b-input-group>
				<template v-slot:append>
					<b-btn 
						variant=primary 
						size=sm 
						@click=" searchStudentForClassroom ">
						Buscar
					</b-btn>
				</template>
				<b-form-input 
					placeholder="Tipee aquí el nombre y/o apellido(s) del alumno"
					name="search-fullname"
					v-model=" students.search_word " 
					v-on:keyup.enter=" searchStudentForClassroom "
					trim />
			</b-input-group><br />
			<div style="max-height: 200px;overflow-y: scroll">
				<table class="table table-hover table-borderer table-stripped table-dark">
					<thead>
						<th>#</th>
						<th>Alumno</th>
					</thead>
					<tbody v-if="students.search_list.length>0">
						<tr v-for=" (it,idx) in students.search_list " :key="idx">
							<td>{{ idx + 1 }}</td>
							<td>
								{{ it.fullname }}
								<b-btn 
									variant=info 
									size=sm 
									@click=" selectStudentForClassroom(it) "
								>
									Seleccionar
								</b-btn>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan="2">Sin resultados</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-modal>
		<b-modal
			ref='modal_find_course'
			id="modal_find_course" 
			title="Buscar curso"
			ok-only 
			ok-title="Cerrar cuadro" 
			size=md 
		>

			<b-input-group>
				<template v-slot:append>
					<b-btn 
						variant=primary 
						size=sm 
						@click=" searchCourseForClassroom ">
						Buscar
					</b-btn>
				</template>
				<b-form-input 
					placeholder="Tipee aquí el nombre del curso"
					name="search-fullname"
					v-model=" courses.search_word " 
					v-on:keyup.enter=" searchCourseForClassroom "
					trim />
			</b-input-group><br />
			<div style="max-height: 200px;overflow-y: scroll">
				<table class="table table-hover table-borderer table-stripped table-dark">
					<thead>
						<th>#</th>
						<th>Curso</th>
					</thead>
					<tbody v-if="courses.search_list.length>0">
						<tr v-for=" (it,idx) in courses.search_list " :key="idx">
							<td>{{ idx + 1 }}</td>
							<td>
								{{ it.name }}
								<b-btn 
									variant=info 
									size=sm 
									@click=" selectCourseForClassroom(it) "
								>
									Seleccionar
								</b-btn>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan="2">Sin resultados</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-modal>
		<b-modal
			ref='modal_find_teacher'
			id="modal_find_teacher" 
			title="Buscar profesor"
			ok-only 
			ok-title="Cerrar cuadro" 
			size=md 
		>

			<b-input-group>
				<template v-slot:prepend>
					<b-btn :to="{name:'panel_teacher_teacher'}" target="_blank"
						variant=success 
						size=sm >
						<fas icon=plus /> Crear
					</b-btn>
				</template>
				<template v-slot:append>
					<b-btn
						variant=primary 
						size=sm 
						@click=" searchTeacherForCourse ">
						Buscar
					</b-btn>
				</template>
				<b-form-input 
					placeholder="Tipee aquí el nombre del profesor"
					name="search-fullname"
					v-model=" teachers.search_word " 
					v-on:keyup.enter=" searchTeacherForCourse "
					trim />
			</b-input-group><br />
			<div style="max-height: 200px;overflow-y: scroll">
				<table class="table table-hover table-borderer table-stripped table-dark">
					<thead>
						<th>#</th>
						<th>Profesor(a)</th>
					</thead>
					<tbody v-if="teachers.search_list.length>0">
						<tr v-for=" (it,idx) in teachers.search_list " :key="idx">
							<td>{{ idx + 1 }}</td>
							<td>
								{{ it.fullname }}
								<b-btn 
									variant=info 
									size=sm 
									@click=" selectTeacherForCourse(it) "
								>
									Seleccionar
								</b-btn>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan="2">Sin resultados</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-modal>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<b-row>
				<b-col lg=4 md=6 sm=12>
					<b-card>
						<div slot="header">
							Aulas / Salones ({{classrooms_list_computed.length}})
							<div style="display: inline-block;">
								<b-btn variant=outline-primary size=sm v-b-modal.modal_classroom_form @click="newClassroom">
									<fas icon="plus" /> 
								</b-btn>&nbsp;
								<b-btn variant=outline-success size=sm @click=" getClassroomList ">
									<fas icon="sync" :class="{spin:classrooms.wait}"/> 
								</b-btn>&nbsp;
								<b-btn variant=outline-success size=sm @click=" classrooms.display_list_block = !classrooms.display_list_block ">
									<fas :icon="`${classrooms.display_list_block ? 'sort-down':'sort-up'}`"/> {{ classrooms.display_list_block ? 'visible':'oculto' }}
								</b-btn>
							</div>
						</div>
						<b-card-text>
							<div v-show=" classrooms.wait ">
								<b-spinner variant="success" small label="Spinning"></b-spinner>&nbsp;Espere por favor...
							</div>
              <b-form-group v-show=" classrooms.display_list_block && !classrooms.wait ">
                <slot name="label" class="mb-1
                2">
                </slot>
                <b-input-group>
                  <b-form-input  
                  v-model=" classrooms.filter_text_in_list " 
                  placeholder="Aula/Salón a buscar en este listado"
                  trim />
                  <template v-slot:append>
                    <b-btn 
                    @click=" classrooms.filter_text_in_list = '' "
                    variant=outline-danger 
                    size=sm>
                    <fas icon=times></fas>
                    </b-btn>
                  </template>
                </b-input-group>
              </b-form-group>
							<div class="list-scrollable" v-show="classrooms.display_list_block" >
								
								<b-list-group v-if=" classrooms_list_computed.length>0 ">
									<b-list-group-item variant="warning"
										v-for=" (it,idx) in classrooms_list_computed " 
										:key="idx"
										:active="selections.classroom.selected.id === it.id"
									>
										<h6 
											class="clasroom-item" 
											@click="selectCurrentClassroom(it)"
											:class="{selected: selections.classroom.selected.id === it.id}"
											>
											{{ it.title }} 
											<fas class="item-checked" :icon=" selections.classroom.selected.id === it.id ? 'check-circle':['far','circle']" />
										</h6>
										<b-btn variant=outline-primary size=sm @click=" editClassroom(it) " v-b-modal.modal_classroom_form>
											<fas icon="edit" />
										</b-btn>&nbsp;
										<b-btn 
											variant=outline-danger 
											size=sm 
											@click="deleteClassroom(it)">
											<fas icon="times" />
										</b-btn>&nbsp;
										<span>{{ it.courses.length }} curso(s), {{ it.students.length }} alumno(s)</span>
										<span> Total profesores: {{ it.unique_teachers.length }}</span>
									</b-list-group-item>
								</b-list-group>
								<b-list-group v-else>
									<b-list-group-item>Sin salones</b-list-group-item>
								</b-list-group>
							</div>
							<div>
								<div class="bottom-classroom-selected" v-if="selections.classroom.selected.id">
									Salón selec: {{selections.classroom.selected.title}}
								</div>
							</div>
						</b-card-text>
					</b-card>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-card>
						<div slot="header">
							Alumnos({{students.list.length}}) de: 
							<div style="display: inline-block;">
								{{ selections.classroom.selected.title ? selections.classroom.selected.title : '' }}
							</div>&nbsp;
							<div style="display: inline-block;">
								<b-btn 
									variant=outline-primary 
									size=sm 
									v-b-modal.modal_find_student>
									<fas icon="plus" /> 
								</b-btn>&nbsp;
								<b-btn variant=outline-success size=sm @click=" getStudentsListForClassroom ">
									<fas icon="sync" :class="{spin: students.list_wait}"/> 
								</b-btn>&nbsp;
								<b-btn variant=outline-success size=sm @click=" students.display_list_block = !students.display_list_block ">
									<fas :icon="`${students.display_list_block ? 'sort-down':'sort-up'}`"/> {{ students.display_list_block ? 'visible':'oculto' }}
								</b-btn>
							</div>
						</div>
						<b-card-text>
							<div v-show=" students.list_wait ">
								<b-spinner variant="success" small label="Spinning"></b-spinner>&nbsp;Espere por favor...
							</div>
							<b-form-group v-show=" students.display_list_block && !students.list_wait ">
								<slot name="label" class="mb-1
								2">
								</slot>
                <b-input-group>
                  <b-form-input  
                  v-model=" students.filter_text_in_list " 
                  placeholder="Alumno a buscar en este listado"
                  trim />
                  <template v-slot:append>
                    <b-btn 
                    @click=" students.filter_text_in_list = '' "
                    variant=outline-danger 
                    size=sm>
                    <fas icon=times></fas>
                    </b-btn>
                  </template>
                </b-input-group>
							</b-form-group>
							<div class="list-scrollable" v-show=" students.display_list_block ">
								
								<b-list-group v-if=" students_list_computed.length > 0 ">
									<b-list-group-item v-for=" (it,idx) in students_list_computed " :key="idx">
										{{ idx + 1 }}) 
										<b-btn 
											variant=outline-danger 
											size=sm 
											@click="removeStudentFromClassroom(it)">
											<fas icon="times" />
										</b-btn>&nbsp;
										{{ it.fullname }}
									</b-list-group-item>
								</b-list-group>
								<b-list-group v-else>
									<b-list-group-item>Sin alumnos en el aula / salón</b-list-group-item>
								</b-list-group>
							</div>
							<div v-if=" classrooms_list_computed.length>0 ">
								<br />
								Actualizar listado de alumnos asignados o no para este aula / salón ?
							</div>
							<b-btn 
								variant=outline-primary 
								size=sm 
								style="margin-top: 5px;"
								@click=" assignStudentsToClassroom "
								:active=" classrooms.assign_students_wait " 
								v-if=" classrooms_list_computed.length>0 "
								> 
								Actualizar listado
							</b-btn>
						</b-card-text>
					</b-card>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-card>
						<div slot="header">
							Cursos asignados({{courses_list_computed.length}}) : 
							<div style="display: inline-block;">
								{{ selections.classroom.selected.title ? selections.classroom.selected.title : '' }}
							</div>&nbsp;
							<div style="display: inline-block;">
								<b-btn 
									variant=outline-primary 
									size=sm 
									v-b-modal.modal_find_course>
									<fas icon="plus" /> 
								</b-btn>&nbsp;
								<b-btn variant=outline-success size=sm @click=" getCoursesListForClassroom ">
									<fas icon="sync" :class="{spin: courses.list_wait}"/> 
								</b-btn>&nbsp;
								<b-btn variant=outline-success size=sm @click=" courses.display_list_block = !courses.display_list_block ">
									<fas :icon="`${courses.display_list_block ? 'sort-down':'sort-up'}`"/> {{ courses.display_list_block ? 'visible':'oculto' }}
								</b-btn>
							</div>
						</div>
						<b-card-text>
							<div v-show=" courses.list_wait ">
								<b-spinner variant="success" small label="Spinning"></b-spinner>&nbsp;Espere por favor...
							</div>
              <b-form-group v-show=" courses.display_list_block && !courses.list_wait ">
                <slot name="label" class="mb-1
                2">
                </slot>
                <b-input-group>
                  <b-form-input  
                  v-model=" courses.filter_text_in_list " 
                  placeholder="Curso a buscar en este listado"
                  trim />
                  <template v-slot:append>
                    <b-btn 
                    @click=" courses.filter_text_in_list = '' "
                    variant=outline-danger 
                    size=sm>
                    <fas icon=times></fas>
                    </b-btn>
                  </template>
                </b-input-group>
              </b-form-group>
							<div class="list-scrollable" v-show="courses.display_list_block" >
								<b-list-group v-if=" courses_list_computed.length>0 ">
									<b-list-group-item v-for=" (it,idx) in courses_list_computed " :key="idx">
										<div>
											{{ idx + 1 }}) 
											<b-btn 
												variant=outline-danger 
												size=sm 
												@click="removeCourseFromClassroom(it)">
												<fas icon="times" />
											</b-btn>&nbsp;
											<u>{{ it.name }}</u>
										</div>
										<div v-if=" it.schedule && it.schedule.id " class="schedule-info">
											Horario: {{ it.schedule.schedule_information }}
										</div>
										<div>Total Actividades: {{ it.total_homeworks}}</div>
										<div 
											class="assign-teacher-to-course" 
											@click=" seeCourse(it) ">
												<fas icon="book-reader" />&nbsp;
												<span>Ver curso</span>
											</div>
										<div 
											class="assign-teacher-to-course" 
											@click=" setTeachersForCourse(it) " 
											v-b-modal.modal_find_teacher >
												<fas icon="user-plus" />&nbsp;
												<span>Asignar profesor(es)</span>
											</div>
										<ul v-if="it.teachers && it.teachers.length > 0" style="list-style-type: decimal-leading-zero;">
											<li v-for="(teacher,teacher_idx) in it.teachers" :key=" teacher_idx ">
												<fas icon="times" style="color:red" @click=" removeTeacherFromCourse(teacher,it) "/>
												{{ teacher.fullname }}
											</li>
										</ul>
									</b-list-group-item>
								</b-list-group>
								<b-list-group v-else>
									<b-list-group-item>Sin cursos en el aula / salón</b-list-group-item>
								</b-list-group>
							</div>
							<div v-if=" classrooms_list_computed.length>0 ">
								<br />
								Actualizar listado de cursos y profesores asignados o no para este aula / salón ?
							</div>
							<b-btn 
								variant=outline-primary 
								size=sm 
								style="margin-top: 5px;"
								@click=" assignCoursesToClassroom " 
								:active=" classrooms.assign_courses_wait " 
								v-if=" classrooms_list_computed.length>0 "
								> 
								Actualizar listado
							</b-btn>
						</b-card-text>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
		<panel-teacher-academic-year-notifications />
	</div>
</template>
<script>

	import Vue from 'vue'
	import PanelTeacherAcademicYearNotifications from '@/components/PanelTeacherAcademicYearNotifications.vue'
	Vue.component('panel-teacher-academic-year-notifications',PanelTeacherAcademicYearNotifications)

	const Swal = require('sweetalert2')
	const url_api = `${process.env.VUE_APP_SERVER_API_URL}/academic-years`
	const url_api_teachers = `${url_api}/for-teachers`
	const url_api_teachers_classrooms = `${url_api_teachers}/classrooms`

	const url_api_teachers_students = `${url_api_teachers}/students`
	const url_api_teachers_find_student = `${url_api_teachers_students}/find`
	const url_api_teachers_classrooms_assign_students = `${url_api_teachers_classrooms}/assign-students`
	
	const url_api_teachers_courses = `${url_api_teachers}/courses`
	const url_api_teachers_find_course = `${url_api_teachers_courses}/find`
	const url_api_teachers_classrooms_assign_courses = `${url_api_teachers_classrooms}/assign-courses`
	
	const url_api_teachers_teachers = `${url_api_teachers}/teachers`
	const url_api_teachers_find_teacher = `${url_api_teachers_teachers}/find`
	const url_api_teachers_classrooms_assign_teachers = `${url_api_teachers_teachers}/assign-teachers`
	export default{
		data(){
			return {
				academic_year:{
					id:null,
				},
				classrooms:{
					display_list_block:true,
					del_wait:false,
					assign_students_wait:false,
					assign_courses_wait:false,
					wait:false,
					list:[
						{ id:null, title:'Aula 5', description:'', academic_year_id:1 },
						{ id:null, title:'Aula 6', description:'', academic_year_id:1 },
					],
					form:{
						wait:false,
						is_new:true,
						title:'',
						description:'',
						academic_year_id:null,
					},
          filter_text_in_list:'',
				},
				students:{
					search_word:'',
					search_list_wait: false,
					search_list:[],
					list:[],
					list_wait:false,
					display_list_block:true,
					filter_text_in_list:'',
				},
				courses:{
					display_list_block:true,
					search_word:'',
					search_list_wait: false,
					search_list:[],
					list:[{id:null,teachers:[]}],
					list_wait:false,
          filter_text_in_list:'',
				},
				teachers:{
					search_word:'',
					search_list_wait: false,
					search_list:[],
					list:[],
					list_wait:false,
				},
				selections:{
					academic_year:{
						selected:{id:null},
					},
					classroom:{
						selected:{id:null},
					},
					course:{
						selected:{id:null},
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Años académicos',
						to:{name:'panel_teacher_academic_years'}
					},
					{
						text:this.$router.history.current.params.id,
						to:null,
					}
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Salones | Cursos')
			this.academic_year.id = this.$router.history.current.params.id
			this.getClassroomList()
		},
		methods:{

			seeCourse(it){
				this.$router.push({name:'panel_teacher_classroom_course_view',params: { classroom_id: this.selections.classroom.selected.id, course_id: it.id }})
			},




			selectTeacherForCourse(it){
				this.classrooms.list.forEach((classroom, classroom_idx) =>{
					if(classroom.id === this.selections.classroom.selected.id){
						if(Array.isArray(classroom.courses)){
							classroom.courses.forEach((course,course_idx) => {
								if(course.id === this.selections.course.selected.id){
									let found = false
									if(course.teachers && course.teachers.length > 0){
										for(const teacher of course.teachers){
											if(teacher.id === it.id){
												found = true
												break
											}
										}
									}
									if(!course.teachers || course.teachers.length == 0)this.$set(course,'teachers',[])
									if(!found)course.teachers.push(it)
									if(this.$dev_mode){
										console.log("Current course",course)
										console.log("Current course teachers ",course.teachers)
									}
									//Vue.set(classroom.courses,course_idx,course)

								}
							})
							//Vue.set(this.classrooms, classroom_idx, classroom)
							this.courses.list = classroom.courses
						}
					}
				})
			},
			setTeachersForCourse(it){
				this.selections.course.selected = it
			},
			assignCoursesToClassroom(){
				Swal.fire({
					title: 'Actualizar listado de cursos y/o profesores para el aula / salón ?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.classrooms.assign_courses_wait )return
						this.classrooms.assign_courses_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						const ids = this.courses.list.map(ss => ss.id)
						const teachers = this.courses.list.map( course => {
							const teachers_ids = []
							if(Array.isArray(course.teachers)){
								course.teachers.forEach(teacher => {
									teachers_ids.push(teacher.id)
								})
							}
							return {course_id: course.id, teachers_ids}
						})
						this.axios({
							method:'PUT',
							url:`${url_api_teachers_classrooms_assign_courses}/${this.selections.classroom.selected.id}`,
							data:{ids,teachers},
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.setSavedAssignedCoursesForClassroom(response.data.values,this.selections.classroom.selected.id)
							Swal.close()
							Swal.fire(
								{
									title:"Cursos asignados al aula / salón",
									icon:'success',
								}
							)
							this.classrooms.assign_courses_wait = false
						}).catch(err =>{
							this.classrooms.assign_courses_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire(
									{
										title:'Error',
										text:"No se pudo asignar los cursos al aula / salón",
										icon:'warning',
									}
								)
							}
						})
					}
				})
			},
			setSavedAssignedCoursesForClassroom(courses, classroom_id){
				this.classrooms.list.forEach((classroom,idx) =>{
					if(classroom.id === classroom_id){
						classroom.courses = courses ? courses : []
						this.courses.list = courses
					}
				})
			},
			selectCourseForClassroom(it){
				this.classrooms.list.forEach((classroom,idx) =>{
					if(classroom.id === this.selections.classroom.selected.id){
						if(!classroom.courses || classroom.courses.length==0){
							classroom.courses = [it]
						}else{
							let found = false
							for(const obj of classroom.courses){
								if(obj.id === it.id){
									found = true
									break
								}
							}
							if(!found)classroom.courses.push(it)
						}
						this.courses.list = classroom.courses
					}
				})
			},
			searchCourseForClassroom(){
				if( this.courses.search_list_wait )return
				this.courses.search_list_wait = true
				this.axios({
					method:'GET',
					url:`${url_api_teachers_find_course}`,
					params:{
						word: this.courses.search_word,
					}
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.courses.search_list_wait = false
					this.courses.search_list = response.data.values
				}).catch(err =>{
					this.courses.search_list_wait = false
					this.courses.search_list = []
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
							Swal.fire(
								{
									title:'Error',
									text:'Error al buscar curso',
									icon:'warning',
								}
							)
					}
				}) 
			},











			searchTeacherForCourse(){
				if( this.teachers.search_list_wait )return
				this.teachers.search_list_wait = true
				this.axios({
					method:'GET',
					url:`${url_api_teachers_find_teacher}`,
					params:{
						word: this.teachers.search_word,
					}
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.teachers.search_list_wait = false
					this.teachers.search_list = response.data.values
				}).catch(err =>{
					this.teachers.search_list_wait = false
					this.teachers.search_list = []
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
						Swal.fire(
							{
								title:'Error',
								text:'Error al buscar profesor(a)',
								icon:'warning',
							}
						)
					}
				}) 
			},
			removeTeacherFromCourse(teacher,course){
				Swal.fire({
					title: 'Retirar profesor del curso ?',
					text: "Deberá guardar el listado para aplicar los cambios",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						course.teachers = course.teachers.filter(tt => tt.id !== teacher.id)
						this.courses.list = this.courses.list.map(cc => {
							if(cc.id === course.id){
								cc.teachers = cc.teachers.filter(tt2 => tt2.id !== teacher.id)
							}
							return cc
						})
					}
				})
			},













			assignStudentsToClassroom(){
				Swal.fire({
					title: 'Actualizar listado de alumnos para el aula / salón ?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.classrooms.assign_students_wait )return
						this.classrooms.assign_students_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						const ids = this.students.list.map(ss => ss.id)
						this.axios({
							method:'PUT',
							url:`${url_api_teachers_classrooms_assign_students}/${this.selections.classroom.selected.id}`,
							data:{ids},
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.setSavedAssignedStudentsForClassroom(response.data.values,this.selections.classroom.selected.id)
							Swal.close()
							Swal.fire(
								{
									title:"Alumnos asignados al curso",
									icon:'success',
								}
							)
							this.classrooms.assign_students_wait = false
						}).catch(err =>{
							this.classrooms.assign_students_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire(
									{
										title:'Error',
										text:"No se pudo asignar los estudiantes al aula / salón",
										icon:'warning',
									}
								)
							}
						})
					}
				})
			},
			setSavedAssignedStudentsForClassroom(students, classroom_id){
				this.classrooms.list.forEach((classroom,idx) =>{
					if(classroom.id === classroom_id){
						classroom.students = students ? students : []
					}
				})
			},
			selectStudentForClassroom(it){
				this.classrooms.list.forEach((classroom,idx) =>{
					if(classroom.id === this.selections.classroom.selected.id){
						if(!classroom.students || classroom.students.length==0){
							classroom.students = [it]
						}else{
							let found = false
							for(const obj of classroom.students){
								if(obj.id === it.id){
									found = true
									break
								}
							}
							if(!found)classroom.students.push(it)
						}
						this.students.list = classroom.students
					}
				})
			},
			searchStudentForClassroom(){
				if( this.students.search_list_wait )return
				this.students.search_list_wait = true
				this.axios({
					method:'GET',
					url:`${url_api_teachers_find_student}`,
					params:{
						word: this.students.search_word,
					}
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.students.search_list_wait = false
					this.students.search_list = response.data.values
				}).catch(err =>{
					this.students.search_list_wait = false
					this.students.search_list = []
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
							Swal.fire(
								{
									title:'Error',
									text:'Error al buscar alumno',
									icon:'warning',
								}
							)
					}
				}) 
			},
			selectCurrentClassroom(it){
				this.selections.classroom.selected = it
				this.students.list = it.students ? it.students : []
			},
			newClassroom(){
				for(const idx in this.classrooms.form){
					const val = this.classrooms.form[idx]
					if(typeof val == 'string'){
						this.classrooms.form[idx] = ''
					}
				}
				this.classrooms.form.id = null
				this.classrooms.form.is_new = true
			},
			editClassroom(it){
				for(const idx in this.classrooms.form){
					if(idx in it){
						this.classrooms.form[idx] = it[idx]
					}
				}
				this.classrooms.form.id = it.id
				this.classrooms.form.is_new = false
			},
			saveClassroom(){
				Swal.fire({
					title: (this.classrooms.form.id ? 'Editar aula?':'Crear aula?'),
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.classrooms.form.wait )return
						this.classrooms.form.wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						const data = {}
						for(const idy in this.classrooms.form){
							const val = this.classrooms.form[idy]
							if(typeof val == 'string' || typeof val =='number' || typeof val == 'boolean'){
								data[idy] = val
							}
						}
						data['academic_year_id'] = this.academic_year.id
						this.axios({
							method:(this.classrooms.form.id ? 'PUT' : 'POST'),
							url:`${url_api_teachers_classrooms}${this.classrooms.form.id ? `/${this.classrooms.form.id}` : ''}`,
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							Swal.close()
							Swal.fire(
								{
									title:`Registro ${ this.classrooms.form.id ? 'actualizado' : 'creado'}`,
									icon:'success',
								}
							)
							this.getClassroomList()
							this.classrooms.form.wait = false
						}).catch(err =>{
							this.classrooms.form.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:`No se pudo ${this.classrooms.form.id ? 'editar':'crear'} el registro`,
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
			deleteClassroom(it){
				Swal.fire({
					title: 'Eliminar aula?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.classrooms.del_wait )return
						this.classrooms.del_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						this.axios({
							method:'DELETE',
							url:`${url_api_teachers_classrooms}/${it.id}`,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							Swal.close()
							Swal.fire(
								{
									title:'Registro eliminado',
									icon:'success',
								}
							)
							this.getClassroomList()
							this.classrooms.del_wait = false
						}).catch(err =>{
							this.classrooms.del_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'No se pudo eliminar el registro',
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
			getClassroomList(){
				if( this.classrooms.wait || this.courses.list_wait || this.students.list_wait)return
				this.classrooms.wait = true
				this.courses.list_wait = true
				this.students.list_wait = true
				this.axios({
					url:`${url_api_teachers_classrooms}/${this.academic_year.id}`,
					method:'GET',
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.classrooms.wait = false
					this.courses.list_wait = false
					this.students.list_wait = false
					if(response && response.data && response.data.values){
						this.classrooms.list = response.data.values
						if(!this.selections.classroom.selected.id){
							const first = response.data.values[0]
							if(first)this.selections.classroom.selected = first
						}
					}else{
						this.classrooms.list = []
					}
				}).catch(err =>{
					this.classrooms.wait = false
					this.courses.list_wait = false
					this.students.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							pass = false
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							pass = false
							this.classrooms.list = []
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
				})
			},
			getCoursesListForClassroom(){
				if( this.courses.list_wait )return
				this.courses.list_wait = true
				this.axios({
					url:`${url_api_teachers_courses}/${this.selections.classroom.selected.id}`,
					method:'GET',
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.courses.list_wait = false
					if(response && response.data && response.data.values){
						this.courses.list = response.data.values
					}else{
						this.courses.list = []
					}
					this.setSavedAssignedCoursesForClassroom(this.courses.list,this.selections.classroom.selected.id)
				}).catch(err =>{
					this.students.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							pass = false
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							pass = false
							this.courses.list = []
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
				})
			},
			removeCourseFromClassroom(it){
				Swal.fire({
					title: 'Retirar curso?',
					text: "Para guardar los cambios deberá clickear en el botón 'Actualizar listado'",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						this.courses.list = this.courses.list.filter(st => st.id !== it.id)
					}
				})
			},
			getStudentsListForClassroom(){
				if( this.students.list_wait )return
				this.students.list_wait = true
				this.axios({
					url:`${url_api_teachers_students}/${this.selections.classroom.selected.id}`,
					method:'GET',
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.students.list_wait = false
					if(response && response.data && response.data.values){
						this.students.list = response.data.values
					}else{
						this.students.list = []
					}
					this.setSavedAssignedStudentsForClassroom(this.students.list,this.selections.classroom.selected.id)
				}).catch(err =>{
					this.students.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							pass = false
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							pass = false
							this.students.list = []
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
				})
			},
			removeStudentFromClassroom(it){
				Swal.fire({
					title: 'Retirar alumno?',
					text: "Para guardar los cambios deberá clickear en el botón 'Actualizar listado'",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						this.students.list = this.students.list.filter(st => st.id !== it.id)
					}
				})
			},
		},
		watch:{
			'selections.classroom.selected.id':function(new_val, old_val){
				if(this.$dev_mode)console.log('selections.classroom.selected.id')
				if(!this.selections.classroom.selected.id){
					if(this.$dev_mode)console.log('empty list')
					this.students.list = []
					this.courses.list = []
					return
				}else{
					if(this.$dev_mode)console.log('new list')
				}
				this.classrooms.list.forEach((classroom,idx) =>{
					if(classroom.id === this.selections.classroom.selected.id){
						this.students.list = classroom.students ? classroom.students : []
						this.courses.list = classroom.courses ? classroom.courses : []
					}
				})
			},
		},
		filters:{

		},
		computed:{
			students_list_computed(){
				if( !this.students.filter_text_in_list ){
					return this.students.list
				}else{
					return this.students.list.filter( ( student ) =>{
						return new RegExp(`${this.students.filter_text_in_list}`,"gi").test( student.fullname )
					})
				}
				
			},
			courses_list_computed(){
        if( !this.courses.filter_text_in_list ){
          return this.courses.list.filter(course => {
            return !!course.id 
          })
        }else{
          return this.courses.list.filter(course => {
            return !!course.id && new RegExp(`${this.courses.filter_text_in_list}`,"gi").test( course.name )
          })
        }

			},
			classrooms_list_computed(){
        if(!this.classrooms.filter_text_in_list){
          return this.classrooms.list.filter(classroom => {
            return !!classroom.id
          })
        }else{
          return this.classrooms.list.filter(classroom => {
            return !!classroom.id && ( new RegExp(`${this.classrooms.filter_text_in_list}`,"gi").test( classroom.title ) || this.selections.classroom.selected.id == classroom.id )
          })
        }
			},
		},
		props:{

		}
	}
</script>
<style lang=scss>
	.schedule-info{
		padding: 5px 2px;
		margin: 5px 1px;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}
	.clasroom-item{
		border: 1px solid #d8d8d8;
		padding: 5px 2px;
		border-radius: 5px;
		box-shadow: 1px 1px 1px 0px #c7c7c7;
		transition: all 0.2s ease-in-out;
		&:hover{
			cursor: pointer;
		}
		.item-checked{
			margin-right: 5px;
			top: 20px;
			right: 20px;
			position: absolute;
		}
		&.selected{
			.item-checked{
			}
		}
	}
	.list-group-item{
		&.active{
			background-color: #9ec540 !important;
			border-color: #6f902d !important;
			color: #5d4207 !important;
		}
	}
	.assign-teacher-to-course{
		font-weight: bold;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    width: auto;
    display: inline-block;
    border: 1px solid #888888;
    padding: 5px 6px;
    padding-left: 3px;
    font-style: italic;
    border-radius: 10px;
    font-size: 13px;
    color: #1542c1;
    box-shadow: 2px 3px 6px 0px #ccc;

		&:hover{
			background: #ddd;
		}
	}
	.bottom-classroom-selected{
		padding: 8px 1px;
		border: 1px solid #e8e8e8;
		margin-top: 5px;
		box-shadow: 1px 1px 5px 0px #bbb;
		font-style: italic;
		background: #283765;
		color: white;
	}
	.list-scrollable{
		text-align: left;
		max-height: 300px;
		overflow-y: scroll;
	}
</style>