<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<b-row class="teacher-menu">
				<b-col lg=4 md=6 sm=12>
					<b-card :img-src="img_settings" img-alt="Card image" img-left class="mb-3">
						<b-card-text>
							<p>Configuración del sistema</p>
							<router-link to="/panel-teacher/settings">
								<b-btn variant=success size=sm>Abrir</b-btn>
							</router-link>
						</b-card-text>
					</b-card>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-card :img-src="img_course" img-alt="Card image" img-left class="mb-3">
						<b-card-text>
							<p>Gestionar cursos</p>
							<router-link to="/panel-teacher/courses">
								<b-btn variant=success size=sm>Abrir</b-btn>
							</router-link>
						</b-card-text>
					</b-card>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-card :img-src="img_teacher" img-alt="Card image" img-left class="mb-3">
						<b-card-text>
							<p>Gestionar profesores</p>
							<router-link to="/panel-teacher/teachers">
								<b-btn variant=success size=sm>Abrir</b-btn>
							</router-link>
						</b-card-text>
					</b-card>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-card :img-src="img_student" img-alt="Card image" img-left>
						<b-card-text>
							<p>Listado de alumnos</p>
							<router-link to="/panel-teacher/students">
								<b-btn variant=success size=sm>Abrir</b-btn>
							</router-link>
						</b-card-text>
					</b-card>
				</b-col>
				<b-col lg=4 md=6 sm=12>
					<b-card :img-src="img_board" img-alt="Card image" img-left>
						<b-card-text>
							<p>Gestionar años académicos</p>
							<ul class="years">
								<li v-for="(year,idx) in years_computed" :key="idx">
									<router-link v-if="year != 'todos'" :to="`/panel-teacher/academic-years/${year}`">
										{{ year }}
									</router-link>
									<router-link v-else :to="`/panel-teacher/academic-years`">
										<b-btn variant=outline-primary size=sm>
											<fas icon=plus />
										</b-btn>
									</router-link>
								</li>
							</ul>
						</b-card-text>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>
<script>
	import logo from '@/assets/logo2.png'
	import img_course from '@/assets/course.png'
	import img_student from '@/assets/student.png'
	import img_board from '@/assets/board.jpg'
	import img_teacher from '@/assets/teacher.png'
	import img_settings from '@/assets/settings.png'
	export default{
		name:'panel',
		data(){
			return {
				logo,
				img_course,
				img_student,
				img_board,
				img_teacher,
				img_settings,
				years:[
					this.$moment().subtract(1,'year').format("YYYY"),
					this.$moment().format("YYYY"),
					this.$moment().add(1,'year').format("YYYY"),
					'todos',
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Panel de gestión')
		},
		methods:{

		},
		computed:{
			years_computed(){
				return this.years
			}
		},
		watch:{

		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
	.top-header{
		background-color: #f9ed2f;
	}
	.teacher-menu{
		margin-top: 10px;
		img{
			position: relative;
			max-width: 100px;
			max-height: 100px;
			padding-left: 3px;
			padding-right: 3px;
		}
		.card{
			align-items: center;
		}
	}
	.years{
		padding-left: 2px;
		list-style-type: none;
		display: inline-flex;
		flex-direction: row;
		margin-bottom: 2px;
		align-items: center;
		li{
			margin-right: 5px;
		}
	}
</style>