<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<b-card 
				header-bg-variant="info"
				body-bg-variant="custom1"
				header-text-variant=light
			>
				<div slot="header">
					<h4>
						Profesor(a): {{ info.fullname }}
						<b-btn variant=warning size=sm @click=" saveInfo " :disabled="info.wait">
							<fas icon="save"/>Guardar
						</b-btn>
					</h4>
					<div style="text-align: left;">
						<b-spinner v-show="info.wait" small type="grow" label="Spinning"></b-spinner>
						<span v-show="info.wait">Espere por favor...</span>
						<span v-show="info.wait">( {{ info.uploaded_percentage }}% )</span>
					</div>
				</div>
				<b-row>
					<b-col md=4 sm=12 lg=3>
						<b-card
							title="Foto"
							:img-src="info.picture_preview_url ? info.picture_preview_url : icon_child"
							img-alt="Image"
							img-top
							tag="article"
						>
							<b-card-text>
								Perfil del profesor(a)
							</b-card-text>

							<b-form-file style="text-align: left;"
								ref="info_picture"
								v-model="info.picture"
								placeholder="Elija la imagen..."
								drop-placeholder="Suelte aquí la imagen..."
								browse-text = "Buscar" 
								accept="image/*"
							>
								<span slot="file-name">Listo</span>
							</b-form-file>
						</b-card>
					</b-col>
					<b-col md=8 sm=12 lg=9>
						<b-card style="text-align: left;">
							<b-card-text>
								<b-form-group
									id="student-personal-information-name"  
									label="Apellidos y Nombres del Profesor(a)"
									label-for="input-student-personal-information-name"
								>
									<b-form-input 
										id="input-student-personal-information-name" 
										v-model="info.fullname" 
										trim />
								</b-form-group>
								<b-form-group
									id="student-personal-information-document-number"  
									label="#Documento del profesor"
									label-for="input-student-personal-information-document-number"
								>
									<b-form-input 
										id="input-student-personal-information-document-number" 
										v-model="info.document_number" 
										trim />
								</b-form-group>
								<b-form-group
									id="student-personal-information-birthday"  
									label="Fecha de nacimiento del profesor"
									label-for="input-student-personal-information-birthday"
									:description="`Edad: ${yearsOld} años`"
								>
									<date-picker 
										v-model="info.onomastic.value" 
										:config="info.onomastic.options" 
										@dp-hide="onomastic_hide" 
										@dp-change="onomastic_change"
									></date-picker>
								</b-form-group>
								<b-row>
									<b-col lg=8 sm=12 md=7>
										<b-form-group
											id="student-personal-information-username"  
											label-for="input-student-personal-information-username"
										>
											<span slot="label">
												Usuario de acceso (min 10 caract.)
												<b-btn variant=danger size=sm @click="info.username = '' ">
													<fas icon=times />  
												</b-btn>
											</span>
											<b-form-input 
												id="input-student-personal-information-username" 
												v-model="info.username" 
												trim />
										</b-form-group>
										<b-btn variant=info size=sm @click=" info.password_form_group_visible = !info.password_form_group_visible ">Configurar password</b-btn>
										<b-form-group
											id="student-personal-information-password" 
											label-for="input-student-personal-information-password" 
											v-if=" info.password_form_group_visible "
										>
											<span slot="label">
												Clave de acceso (min 10 caract.)
												<b-btn variant=danger size=sm @click="info.password = '' ">
													<fas icon=times />  
												</b-btn>
											</span>
											<b-input-group size="md">
												<b-btn variant=danger size=sm slot="append" @click="info.password_visible = !info.password_visible">
													<fas :icon="`${info.password_visible ? 'eye':'eye-slash'}`" />
												</b-btn>
												<b-form-input 
													id="input-student-personal-information-password" 
													v-model="info.password"
													autocomplete="false" 
													:type="`${info.password_visible ? 'text':'password'}`" 
													trim />
											</b-input-group>
										</b-form-group>
									</b-col>
									<b-col lg=4 sm=12 md=5>
										<label>Administrador?:</label><br />
										<toggle-button 
											v-model="info.is_teacher_admin"
											:color="{checked: 'rgb(18, 154, 18)', unchecked: '#FF0000', disabled: '#CCCCCC'}"
											:labels="{checked: 'SI', unchecked: 'NO'}" 
											:width="100" 
											:sync="true"
											/><br />
										<label>Estado:</label><br />
										<toggle-button 
											v-model="info.active"
											:color="{checked: 'rgb(18, 154, 18)', unchecked: '#FF0000', disabled: '#CCCCCC'}"
											:labels="{checked: 'ACTIVO', unchecked: 'INACTIVO'}" 
											:width="100" 
											:sync="true"
											/><br />
										<label>Sexo:</label><br />
										<toggle-button 
											v-model="info.sex"
											:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
											:labels="{checked: 'VARÓN', unchecked: 'MUJER'}" 
											:width="100" 
											:sync="true"
											/>
									</b-col>
								</b-row>
							</b-card-text>

						</b-card>
					</b-col>
				</b-row>
			</b-card>
		</b-container>
	</div>
</template>
<script>
	const Swal = require('sweetalert2')

	const url_api_teachers = `${process.env.VUE_APP_SERVER_API_URL}/teachers`
	const url_api_teacher_teachers = `${url_api_teachers}/for-teachers`

	import icon_child from '@/assets/icon_child.png'
	export default{
		tag:'panel-teacher-student-form',
		data(){
			return {
				wait:false,
				icon_child,
				info:{
					wait:false,
					username:'',
					document_number:'',
					password_form_group_visible:false,
					password_visible:false,
					password:'',
					fullname:'',
					picture:null,
					picture_preview_url:null,
					is_teacher_admin:false,
					sex:false,
					active:false,
					uploaded_percentage:0,
					onomastic:{
						value:'',
						options:{
							locale:'es',
							format: 'DD/MM/YYYY',
							useCurrent: true,
							defaultDate: '',
							icons: {
								time: 'fa fa-clock',
								date: 'fa fa-calendar',
								up: 'fa fa-arrow-up',
								down: 'fa fa-arrow-down',
								previous: 'fa fa-chevron-left',
								next: 'fa fa-chevron-right',
								today: 'fa fa-calendar-check',
								clear: 'fa fa-trash-alt',
								close: 'fa fa-times-circle'
							} 
						},  
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Profesores',
						to:{name:'panel_teacher_teacher'},
					},
					{
						text:'Datos del profesor(a)',
						to: null,
					},
				],
			}
		},
		mounted(){
			this.getInfo()
		},
		methods:{
			getInfo(){
				if(this.wait)return
				this.wait = true
				this.info.id = this.$router.history.current.params.id
				this.axios({
					method:'GET',
					url:`${url_api_teacher_teachers}/${this.info.id}`,
				}).then( response =>{
					console.log(response)
					this.wait = false
					const dd = response.data
					if( 'onomastic' in dd){
						const onomastic = dd['onomastic']
						dd.onomastic = onomastic && /\d{4}-\d{2}-\d{2}/.test(onomastic) ? this.$moment(onomastic,'YYYY-MM-DD').format('DD/MM/YYYY') : ''
					}
					this.info.id = dd.id
					this.info.document_number = dd.document_number
					this.info.username = dd.username
					this.info.fullname = dd.fullname
					this.info.is_teacher_admin = dd.is_teacher_admin
					this.info.active = dd.active
					this.info.sex = dd.sex
					this.info.onomastic.value = dd.onomastic
					this.info.picture_preview_url = dd.picture_filename_uri ? `${process.env.VUE_APP_SERVER_API_URL}/${dd.picture_filename_uri}` : null
				}).catch(err =>{
					this.wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
							pass = false
						}else if( err.response.status == 403 ){
							pass = false
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							)
						}
					}
					if(pass){
							Swal.fire(
								{
									title:'Error',
									text:'Error al obtener la información, quizás el profesor no exista o quizás el servidor no esté funcionando',
									icon:'warning',
								}
							)
					}
				})
			},
			saveInfo(){

				Swal.fire({
					title: 'Actualizar información del profesor(a) ?',
					text: "Evite duplicar datos de otro profesor(a) por favor",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){
						if(this.info.wait)return
						this.info.wait = true
						this.info.uploaded_percentage = 0
						const formData = new FormData()
						const data = {}
						if(this.info.picture instanceof File){
							formData.append('file', this.info.picture)
						}
						for(const idx in this.info){
							const val = this.info[idx]
							if(typeof val =='string' || typeof val == 'number' || typeof val == 'boolean'){
								if(this.info.picture instanceof File){
									formData.append(idx,val)
								}else{
									data[idx] = val
								}
							}
						}
						if(this.info.picture instanceof File){
							formData.delete('picture_preview_url')
							formData.append('onomastic',this.info.onomastic.value)
						}else{
							delete data['picture_preview_url']
							data['onomastic'] = this.info.onomastic.value
						}
						this.axios({
							url:(`${url_api_teacher_teachers}${this.info.id ? `/${this.info.id}` : ''}`),
							method:(this.info.id ? 'PUT':'POST'),
							headers:{
								'Content-Type': ((this.info.picture instanceof File) ? 'multipart/form-data': 'application/json'),
								'Accept': 'application/json',
							},
							data:((this.info.picture instanceof File) ? formData: data),
							onUploadProgress: ( progressEvent ) => {
								this.info.uploaded_percentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
							},
						}).then(response =>{
							this.info.wait = false
							if(this.$dev_mode)console.log(response)
							this.$refs['info_picture'].reset()
							this.info.picture = null
							Swal.fire(
								{
									title:'Datos guardados',
									html:'',
									icon:'success',
								}
							)
							this.getInfo()
						}).catch(err=>{
							this.info.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al procesar esta información',
											icon:'warning',
										}
									)
							}
						})

					}
				})
			},
			onomastic_hide(evt){
				return true
			},
			onomastic_change(evt){
				return true
			},
		},
		computed:{

			yearsOld(){
				const vv = !!this.info.onomastic.value
				if(!vv){
					console.log("yearsOld empty")
					return 0
				}
				const mm = this.$moment(this.info.onomastic.value,'DD/MM/YYYY')
				const diff = this.$moment().diff(mm,'years')
				console.log("yearsOld ",diff)
				return diff
			},
		},
		watch:{
			'info.password_form_group_visible':function(new_val,old_val){
				if(new_val === false){
					this.info.password = ''
				}
			},
			'info.picture':function(new_val,old_val){
				console.log(new_val)
				const reader  = new FileReader()
				reader.onloadend = () => {
					this.info.picture_preview_url = reader.result
				}

				if (new_val) {
					reader.readAsDataURL(new_val);
				} else {
					this.info.picture_preview_url = "";
				}
			}
		},
		props:{

		},
		filters:{

		}
	}
</script>
<style lang=scss scoped>
	
</style>