<template>
	<div>
		<b-modal
			ref='modal_new_form'
			id="modal_new_form" 
			title=" Nuevo año académico "
			ok-only 
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			size=md 
		>
			<b-form-group
				label="Año"
			>
				<b-form-input  
					v-model.number=" academic_years.form.id "
					type="number" 
					trim />
			</b-form-group>
			<b-form-group style="display: none;"
				label="Descripción del año académico"
			>
				<b-form-textarea
					v-model=" academic_years.form.description "
					placeholder="Descripción del año académico"
					rows="3"
					max-rows="6"
				></b-form-textarea>
			</b-form-group>
			<b-btn 
				:disabled=" academic_years.form.new_wait "
				variant=success 
				size=sm 
				@click=" createNewAcademicYear ">
					Crear&nbsp;<fas icon=sync class="spin" v-if=" academic_years.form.new_wait " />
				</b-btn>
		</b-modal>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<div class="panel-top">
				<h3 class="ml-1">
					Años Académicos
				</h3>
				<span>Total: {{ academic_years.total_records }}</span>
				<div  style="display: inline-block;">
					<b-spinner small variant=primary v-show="academic_years.wait_list " type="grow" label="Spinning"></b-spinner>
					<span v-show="academic_years.wait_list ">&nbsp;{{ academic_years.server_msg }}</span>
				</div>
			</div>
			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:academic_years.current_page<=1}" @click="paginationChangeAcademicYear(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:academic_years.current_page<=1}" @click="paginationChangeAcademicYear(academic_years.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(academic_years.current_page,academic_years.total_pages)" 
							:class="{active:academic_years.current_page==page}"
							@click="page!='...' ? paginationChangeAcademicYear(page) : ''"
						>
							<a v-if="academic_years.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:academic_years.current_page>=academic_years.total_pages}"
							@click="paginationChangeAcademicYear(academic_years.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeAcademicYear (academic_years.total_pages)"
							:class="{disabled:academic_years.current_page>=academic_years.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					:disabled="academic_years.wait_list"
					size=sm 
					variant=info 
					:text="`${ academic_years.regs_x_page } filas`" 
					class="m-md-2 ml-1">
					<b-dropdown-item 
						v-for="it in 5" 
						:key="it" 
						@click=" changePaginationAcademicYear(it * 10) "
						>{{ it * 10 }} filas</b-dropdown-item>
				</b-dropdown>
				<b-btn 
					class="ml-1"
					variant=success 
					size=sm 
					v-b-modal.modal_new_form>
					<fas icon="plus" />
				</b-btn>
			</div>
			<div class="table-container">
				<table class="table table-hover table-stripped table-borderer">
					<thead>
						<th>
							<b-btn 
								:disabled="academic_years.wait_list"
								variant=success 
								size=sm 
								@click=" getAcademicYearsList ">
								<fas icon="sync" :class='{spin : academic_years.wait_list }' />
							</b-btn>
						</th>
						<th @click="getOrderActionAcademicYear('year')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: academic_years.order.by == 'year',
									unordered : academic_years.order.by != 'year', 
									asc: academic_years.order.orientation, 
									desc : !academic_years.order.orientation 
								}">
									Año
							</label>
						</th>
						<th>Creado el</th>
						<th>Actualizado el</th>
						<th></th>
					</thead>
					<tbody v-if=" academic_years.list.length>0 ">
						<tr v-for="(it,idx) in academic_years.list" :key="idx+1">
							<td>
								{{(academic_years.current_page-1)*academic_years.regs_x_page + idx + 1}}
							</td>
							<td class="data-year">
								<div class="mb-2">{{it.id}}</div>
							</td>
							<td>
								{{it.created_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td>
								{{it.updated_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td class="actions">
								<b-btn 
									class="mb-1"
									variant=danger 
									size=sm 
									@click="delAcademicYear(it)">
									<b-icon-trash />
								</b-btn>
								<router-link 
									:to="`/panel-teacher/academic-years/${it.id}`">
									<b-btn 
										class="mb-1"
										variant=primary 
										size=sm >
										<fas icon="external-link-alt" />
									</b-btn>
								</router-link>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=6>Sin registros</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')

	const url_api = `${process.env.VUE_APP_SERVER_API_URL}/academic-years`
	const url_api_teachers = `${url_api}/for-teachers`
	export default{
		name:'panel',
		data(){
			return {
				academic_years:{
					server_msg:'',
					wait_list:false,
					form:{
						new_wait:false,
						del_wait:false,
						is_new:false,
						id:this.$moment().format('Y'),
						description:'',
					},
					list:[
					],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Años académicos',
						to:null
					},
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Años académicos')
			this.getAcademicYearsList()
		},
		methods:{
			createNewAcademicYear(){
				Swal.fire({
					title: 'Crear nuevo año académico?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){
						if(this.academic_years.form.new_wait)return
						this.academic_years.form.new_wait = true
						const data = {}
						for(const idx in this.academic_years.form){
							const val = this.academic_years.form[idx]
								if(typeof val == 'string' || typeof val =='number' || typeof val == 'boolean'){
									data[idx] = val
								}
						}
						this.axios({
							method:'POST',
							url:`${url_api_teachers}`,
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.academic_years.form.new_wait = false
							this.getAcademicYearsList()
							Swal.fire(
								{
									title:'Se creo nuevo año académico',
									icon: 'success',
								}
							)
						}).catch(err =>{
							this.academic_years.form.new_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							let msg = 'Error al crear nuevo año académico'
							if( err && err.response ){
								if(err.response.data){
									if(err.response.data.msg){
										msg = err.response.data.msg
									}
								}
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error al crear un nuevo año académico',
											text:msg,
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			changePaginationAcademicYear(tt){
				this.academic_years.regs_x_page = tt
				this.getAcademicYearsList()
			},
			getOrderActionAcademicYear(str){
				if(this.academic_years.wait_list )return
				this.academic_years.order.by_last = this.academic_years.order.by
				this.academic_years.order.orientation_last = this.academic_years.order.orientation
				this.academic_years.order.by = str
				this.academic_years.order.orientation = !this.academic_years.order.orientation
				this.getAcademicYearsList()
			},
			pag(current,total){
				return pag(current,total);
			},
			paginationChangeAcademicYear(page){
				if(this.academic_years.wait_list )return
				if(this.academic_years.current_page==this.academic_years.total_pages && this.academic_years.current_page==page)return
				if(this.academic_years.current_page==page && page==1)return;
				if(page>0 && page<=this.academic_years.total_pages){
					this.academic_years.current_page = page;
					this.getAcademicYearsList();
				}
			},
			editAcademicYear(it){
				return true
			},
			delAcademicYear(it){
				Swal.fire({
					title: 'Eliminar a este año académico?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar',
				}).then(result=>{
					if(result.value === true){
						if( this.academic_years.form.del_wait )return
						this.academic_years.form.del_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						this.axios({
							method:'DELETE',
							url:`${url_api_teachers}/${it.id}`,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.academic_years.form.del_wait = false
							this.getAcademicYearsList()
							Swal.close()
							Swal.fire(
								{
									title:'Registro eliminado',
									icon:'success',
								}
							)
						}).catch(err =>{
							this.academic_years.form.del_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'No se pudo eliminar el año académico, quizás ya existe',
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
			getAcademicYearsList(){
				if( this.academic_years.wait_list )return
				this.academic_years.wait_list = true
				this.academic_years.server_msg = 'Espere porfavor...'
				this.axios.get(url_api_teachers,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						order_by:this.academic_years.order.by,
						order_orientation:this.academic_years.order.orientation,
						page:this.academic_years.current_page,
						regs_x_page:this.academic_years.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.academic_years.wait_list = false
					if(response && response.data && response.data.values){

						this.academic_years.order.by = response.data.order_by
						this.academic_years.order.orientation = response.data.order_orientation

						this.academic_years.current_page = response.data.current_page
						this.academic_years.total_pages = response.data.total_pages
						this.academic_years.total_records = response.data.total_records
						this.academic_years.regs_x_page = response.data.regs_x_page

						this.academic_years.list = response.data.values
						this.academic_years.server_msg = 'Listo'
					}else{
						this.academic_years.server_msg = 'Sin registros'
					}
				}).catch(err =>{
					this.academic_years.wait_list = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.academic_years.server_msg = 'Error al recuperar los registros'
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							this.list = []
							this.academic_years.server_msg = this.$permission_message
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			getDataFrom(obj){
				const _data = {}
				for(const idx in obj){
					const reg = obj[idx]
					if( typeof reg == 'string' || typeof reg == 'number' || typeof reg == 'boolean' ){
						_data[idx] = reg
					}else if( reg!=null && typeof reg == 'object' ){
						if( 'value' in reg ){
							_data[idx] = reg.value
						}
						if( 'selected' in reg ){
							_data[idx] = reg.selected
						}
					}else{
						//TODO
					}
				}
				return _data
			},
		},
		computed:{

		},
		watch:{

		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
.actions{
	button{
		margin-right: 5px;
	}
}
.course-types{
	list-style-type: decimal-leading-zero;
	padding-left: 10px;
	text-align: left;
}
.panel-top{
	text-align: left;
}
.data-name{
	text-align: left;
}
</style>