<template>
	<div>
		<panel-student-top-header />
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<h4 class="title">Publicaciones del año {{ academic_year.id }}</h4>
			<b-row>
				<b-col lg=7 md=7 sm=12>
					<div style="width: 100%;text-align: left">
						<i>{{ notification_view.title }}</i>
					</div>
					<div class="notification-content" v-html=" notification_view.desc ">
					</div>
					<div class="noselect writted-by" v-if=" notification_view.teacher ">
						<custom-avatar 
							v-if=" notification_view.teacher && notification_view.teacher.picture_filename "
							:src="`${url_base}/profiles/${notification_view.teacher.picture_filename}`"
						/>&nbsp;
						<b-avatar variant=warning v-if=" !notification_view.teacher.picture_filename " :text=" getTeacherTextAvatar(notification_view.teacher.fullname) "></b-avatar>
						<span>{{ notification_view.teacher.fullname }}</span>&nbsp;
						<span>{{ notification_view.updated_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}</span>
					</div>
				</b-col>
				<b-col lg=5 md=5 sm=12>
					<div style="text-align: left">
						<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
							<ul class="pagination">
								<li class="page-item" :class="{disabled:notifications.current_page<=1}" @click="paginationChangeNotifications(1)">
									<span class="page-link">
										<fas icon="angle-double-left"/>
									</span>
								</li>
								<li class="page-item" :class="{disabled:notifications.current_page<=1}" @click="paginationChangeNotifications(notifications.current_page-1)">
									<span class="page-link">
										<fas icon="chevron-left"/>
									</span>
								</li>
								<li :key="index"
									class="page-item" 
									v-for="(page,index) in pag(notifications.current_page,notifications.total_pages)" 
									:class="{active:notifications.current_page==page}"
									@click="page!='...' ? paginationChangeNotifications(page) : ''"
								>
									<a v-if="notifications.current_page!=page" class="page-link">{{page}}</a>
									<span v-else class="page-link">
										{{page}}
										<span class="sr-only">0</span>
									</span>
								</li> 
								<li 
									class="page-item" 
									:class="{disabled:notifications.current_page>=notifications.total_pages}"
									@click="paginationChangeNotifications(notifications.current_page+1)"
								>
									<span class="page-link">
										<fas icon="chevron-right" />
									</span>
								</li>
								<li 
									class="page-item"  
									@click="paginationChangeNotifications (notifications.total_pages)"
									:class="{disabled:notifications.current_page>=notifications.total_pages}"
								>
									<span class="page-link">
										<fas icon="angle-double-right" />
									</span>
								</li>
							</ul>
						</nav>
						<b-dropdown 
							:disabled=" notifications.list_wait "
							size=sm 
							variant=info 
							:text="`${ notifications.regs_x_page } filas`" class="m-md-2">
							<b-dropdown-item v-for="it in 5" :key="it" @click=" changePaginationNotifications(it * 10) ">{{ it * 10 }} filas</b-dropdown-item>
						</b-dropdown>
						<b-btn variant=outline-primary size=sm @click=" getNotificationsList ">
							<fas icon=sync :class="{spin: notifications.list_wait }" />
						</b-btn>
					</div>
					<table class="table table-hover table-stripped table-notifications">
						<thead>
							<th class="top-filters">
								<label @click="getOrderActionNotifications('notification_title')"
									class="table-header noselect" 
									:class="{
										ordered: notifications.order.by == 'notification_title',
										unordered : notifications.order.by != 'notification_title', 
										asc: notifications.order.orientation, 
										desc : !notifications.order.orientation 
									}">
										Título
								</label>
								<label @click="getOrderActionNotifications('notification_updated_at')"
									class="table-header noselect" 
									:class="{
										ordered: notifications.order.by == 'notification_updated_at',
										unordered : notifications.order.by != 'notification_updated_at', 
										asc: notifications.order.orientation, 
										desc : !notifications.order.orientation 
									}">
										F. Actualización
								</label>
							</th>
						</thead>
						<tbody v-if =" notifications_list_computed.length > 0 ">
							<tr style="cursor: pointer;" v-for="(it,idx) in notifications_list_computed " :key="idx">
								<td @click="notification_view = it">
									<div>
										{{ ( notifications.current_page-1 ) * notifications.regs_x_page + idx + 1 }})&nbsp;
										<fas class="not-icon-arrow" :icon="['far','arrow-alt-circle-right']" v-if=" notification_view.id == it.id "/>&nbsp;
										{{ it.title }} 
										<div class="not-datetime">
											<i>
												{{ it.updated_at | moment('timezone',timezone,'DD/MM/YYYY hh:mm:ss a') }}
											</i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tbody v-else>
							<tr>
								<td colspan=8 style="text-align: left;">
									Sin actividades
								</td>
							</tr>
						</tbody>
					</table>
				</b-col>
			</b-row>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')
	const url_base = process.env.VUE_APP_SERVER_API_URL
	const url_api = `${url_base}/students/notifications`
	export default{
		data(){
			return {
				url_base,
				academic_year:{
					id:null,
				},
				notification_view:{
					id:null,
					title:'',
					desc:'',
				},
				notifications:{
					list_wait:false,
					list:[{id:null,title:'',desc:'',teacher:{id:null,picture_filename:null}}],
					order:{
						by:'notification_updated_at',
						orientation:false,
						by_last:'',
						orientation_last:true,
					},
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_student'}
					},
					{
						text:`Publicaciones ${this.$router.history.current.params.id}`,
						to:null,
					}
				],
			}
		},
		mounted(){
			this.$store.commit('websiteTitle','Panel de notificación')
			this.academic_year.id = this.$router.history.current.params.id
			this.getNotificationsList()
		},
		methods:{
			getTeacherTextAvatar(txt){
				const [a,b] = txt.split(/\s+/)
				if(this.$dev_mode)console.log(a,b)
				let str = null
				if(a)str = !str ? a.charAt(0) : `${str}${a.charAt(0)}`
				if(b)str = !str ? b.charAt(0) : `${str}${b.charAt(0)}`
				if(!str) str = 'Me'
				return str
			},
			changePaginationNotifications(tt){
				this.notifications.regs_x_page = tt
				this.getNotificationsList()
			},
			getOrderActionNotifications(str){
				if(this.notifications.list_wait )return
				this.notifications.order.by_last = this.notifications.order.by
				this.notifications.order.orientation_last = this.notifications.order.orientation
				this.notifications.order.by = str
				this.notifications.order.orientation = !this.notifications.order.orientation
				this.getNotificationsList()
			},
			pag(current,total){
				return pag(current,total)
			},
			paginationChangeNotifications(page){
				if(this.notifications.list_wait )return
				if(this.notifications.current_page==this.notifications.total_pages && this.notifications.current_page==page)return
				if(this.notifications.current_page==page && page==1)return
				if(page>0 && page<=this.notifications.total_pages){
					this.notifications.current_page = page
					this.getNotificationsList()
				}
			},
			getNotificationsList(){
				if(this.notifications.list_wait)return
				this.notifications.list_wait = true
				this.axios.get(`${url_api}/${this.academic_year.id}`,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						order_by:this.notifications.order.by,
						order_orientation:this.notifications.order.orientation,
						page:this.notifications.current_page,
						regs_x_page:this.notifications.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.notifications.list_wait = false
					if(response && response.data && response.data.values && response.data.values.length>0){

						this.notifications.order.by = response.data.order_by
						this.notifications.order.orientation = response.data.order_orientation

						this.notifications.current_page = response.data.current_page
						this.notifications.total_pages = response.data.total_pages
						this.notifications.total_records = response.data.total_records
						this.notifications.regs_x_page = response.data.regs_x_page

						this.notifications.list = response.data.values
						if(!this.notification_view.id){
							this.notification_view = this.notifications.list[0]
						}
					}else{
						throw "error"
					}
				}).catch(err =>{
					this.notifications.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					let pass = true
					if( err && err.response ){
						if( err.response.status == 401 ){
							pass = false
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							pass = false
							this.notifications.list = []
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
					if(pass){
						Swal.fire({
							title:"No se pudo recuperar el listado de notificaciones",
							icon:"warning"
						})
					}
				})
			},
		},
		computed:{
			notifications_list_computed(){
				return this.notifications.list.filter(tt => tt.id != null)
			},
		},
	}
</script>
<style lang=scss scoped>
	.table-notifications{
		th,td{
			text-align: left;
		}
	}
	.title{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 40px;
		position: relative;
		&:after{
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			content: "";
			width: 200px;
			height: 2px;
			background-color: #d8d8d8;
		}
	}
	.notification-content{
		position: relative;
		width: 100%;
		border: 1px solid #bbb;
		min-height: 400px;
		display: inline-block;
		padding: 10px 5px;
		box-shadow: 2px 2px 2px 2px #e6e6e6;
		margin-bottom: 5px;
		text-align: left;
	}
	.not-icon-arrow{
		color:#d2a42b;
	}
	.top-filters{
		>label{
			display: inline-block !important;
			padding-right: 10px;
		}
	}
	.not-datetime{
		color: #999;
	}
	.writted-by{
		text-align: left;
    margin-bottom: 10px;
    padding: 5px 5px;
    font-style: italic;
    display: flex;
    align-items: center;
		>span{
			color: #555;
			margin-right: 10px;
		}
	}
</style>