<template>
	<div>
		<panel-student-top-header />
		<b-modal
			ref='modal_new_form'
			id="modal_new_form" 
			title=" Nuevo profesor(a) "
			ok-only 
			ok-title="Cerrar cuadro" 
			ok-variant=dark
			size=md 
		>
			<b-alert show variant="danger">
				Verifique que el profesor no exista para evitar 
				duplicidad antes de crear un registro nuevo
			</b-alert>
			<b-form-group
				label="Apellidos y nombres del profesor(a)"
			>
				<b-form-input  
					v-model=" teachers.form.fullname "
					type="text" 
					trim />
			</b-form-group>
			<b-form-group
				label="#Documento del profesor(a)"
			>
				<b-form-input  
					v-model=" teachers.form.document_number "
					type="text" 
					trim />
			</b-form-group>
			<b-btn 
				:disabled=" teachers.form.new_wait "
				variant=success 
				size=sm 
				@click=" createNewTeacher ">
					Crear&nbsp;<fas icon=sync class="spin" v-if=" teachers.form.new_wait " />
				</b-btn>
		</b-modal>
		<b-container>
			<b-breadcrumb>
				<b-breadcrumb-item 
					v-for="(it,idx) in relatives_link " 
					:key="idx" 
					:to="it.to" 
					:active=" it.to ? false : true ">
					{{ it.text }}
				</b-breadcrumb-item>
			</b-breadcrumb>
			<div class="panel-top">
				<h3>
					Listado de Profesores
				</h3>
				<b-row>
					<b-col lg=3 md=4 sm=12>
						<b-form-group 
							label="Administrador"
						> 
						<b-form-radio-group class="noselect"
							:disabled="teachers.wait_list"
							stacked
							name="search-radios-admin"
							v-model=" teachers.search_list.is_admin.selected" 
							:options=" teachers.search_list.is_admin.options "/>
						</b-form-group>
					</b-col>
					<b-col lg=3 md=4 sm=12>
						<b-form-group 
							label="Sexo"
						> 
						<b-form-radio-group class="noselect"
							:disabled="teachers.wait_list"
							stacked
							name="search-radios-sex"
							v-model=" teachers.search_list.is_sex.selected" 
							:options=" teachers.search_list.is_sex.options "/>
						</b-form-group>
					</b-col>
					<b-col lg=3 md=4 sm=12>
						<b-form-group 
							label="Activo / Inactivo"
						> 
						<b-form-radio-group class="noselect"
							:disabled="teachers.wait_list"
							stacked
							name="search-radios-active"
							v-model=" teachers.search_list.is_active.selected" 
							:options=" teachers.search_list.is_active.options "/>
						</b-form-group>
					</b-col>
				</b-row>
				<span>Total: {{ teachers.total_records }}</span>
				<div  style="display: inline-block;">
					<b-spinner small variant=primary v-show="teachers.wait_list " type="grow" label="Spinning"></b-spinner>
					<span v-show="teachers.wait_list ">&nbsp;{{ teachers.server_msg }}</span>
				</div>
			</div>
			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:teachers.current_page<=1}" @click="paginationChangeTeacher(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:teachers.current_page<=1}" @click="paginationChangeTeacher(teachers.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(teachers.current_page,teachers.total_pages)" 
							:class="{active:teachers.current_page==page}"
							@click="page!='...' ? paginationChangeTeacher(page) : ''"
						>
							<a v-if="teachers.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:teachers.current_page>=teachers.total_pages}"
							@click="paginationChangeTeacher(teachers.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeTeacher (teachers.total_pages)"
							:class="{disabled:teachers.current_page>=teachers.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					:disabled=" teachers.wait_list "
					size=sm 
					variant=info 
					:text="`${ teachers.regs_x_page } filas`" 
					class="m-md-2 ml-1">
					<b-dropdown-item v-for="it in 5" :key="it" @click=" changePaginationTeacher(it * 10) ">{{ it * 10 }} filas</b-dropdown-item>
				</b-dropdown>
				<b-btn 
					class="ml-1"
					:disabled=" teachers.wait_list " 
					variant=success 
					size=sm 
					v-b-modal.modal_new_form>
					<fas icon="plus" />
				</b-btn>
			</div>
			<b-input-group>
				<template v-slot:append>
					<b-btn 
						:disabled=" teachers.wait_list "
						variant=primary 
						size=sm 
						@click=" getTeachersList ">
						Buscar
					</b-btn>
				</template>
				<b-form-input 
					:disabled=" teachers.wait_list "
					placeholder="Tipee aquí el nombre y/o apellidos del profesor(a)"
					name="search-fullname"
					v-model=" teachers.search_word " 
					v-on:keyup.enter=" getTeachersList "
					trim />
			</b-input-group>
			<div class="table-container">
				<table class="table table-hover table-stripped table-borderer">
					<thead>
						<th>
							<b-btn 
								:disabled=" teachers.wait_list "
								variant=success 
								size=sm 
								@click=" getTeachersList ">
								<fas icon="sync" :class='{spin : teachers.wait_list }' />
							</b-btn>
						</th>
						<th @click="getOrderActionTeacher('fullname')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: teachers.order.by == 'fullname',
									unordered : teachers.order.by != 'fullname', 
									asc: teachers.order.orientation, 
									desc : !teachers.order.orientation 
								}">
									Profesor
							</label>
						</th>
						<th @click="getOrderActionTeacher('is_admin')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: teachers.order.by == 'is_admin',
									unordered : teachers.order.by != 'is_admin', 
									asc: teachers.order.orientation, 
									desc : !teachers.order.orientation 
								}">
									Administrador?
							</label>
						</th>
						<th @click="getOrderActionTeacher('active')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: teachers.order.by == 'active',
									unordered : teachers.order.by != 'active', 
									asc: teachers.order.orientation, 
									desc : !teachers.order.orientation 
								}">
									Activo?
							</label>
						</th>
						<th @click="getOrderActionTeacher('sex')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: teachers.order.by == 'sex',
									unordered : teachers.order.by != 'sex', 
									asc: teachers.order.orientation, 
									desc : !teachers.order.orientation 
								}">
									Sexo
							</label>
						</th>
						<th>Creado el</th>
						<th>Actualizado el</th>
						<th></th>
					</thead>
					<tbody v-if=" teachers.list.length>0 ">
						<tr v-for="(it,idx) in teachers.list" :key="idx+1" :class="{active:it.active,inactive:!it.active}">
							<td>
								{{(teachers.current_page-1)*teachers.regs_x_page + idx + 1}}
							</td>
							<td class="data-name">
								<span>{{it.fullname}}</span>
								<custom-avatar 
									v-if=" it.picture_filename "
									:src="`${url_base}/profiles/${it.picture_filename}`"
								/>
							</td>
							<td>
								{{ it.is_teacher_admin ? 'SI' : 'NO' }}
							</td>
							<td>
								{{ it.active ? 'Activo' : 'Inactivo' }}
							</td>
							<td>
								<fas style="font-size: 25px;" :icon="  it.sex ? 'male':'female'"/>
								{{ it.sex ? 'Varón' : 'Mujer' }}
							</td>
							<td>
								{{it.created_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td>
								{{it.updated_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss') }}
							</td>
							<td class="actions">
								<b-btn 
									class="mb-1"
									variant=danger 
									size=sm 
									@click="delTeacher(it)">
									<b-icon-trash />
								</b-btn>
								<router-link :to="`/panel-teacher/teachers/${it.id}`">
									<b-btn 
										class="mb-1"
										variant=primary 
										size=sm >
										<fas icon="external-link-alt" />
									</b-btn>
								</router-link>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=9>Sin registros</td>
						</tr>
					</tbody>
				</table>
			</div>
		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')

	const url_base = process.env.VUE_APP_SERVER_API_URL
	const url_api = `${url_base}/teachers`
	const url_api_teachers = `${url_api}/for-teachers`
	export default{
		name:'panel',
		data(){
			return {
				url_base,
				teachers:{
					search_list:{
						is_admin:{
							selected:'',
							options:[
								{text:'Administradores',value:1},
								{text:'NO Administradores',value:0},
								{text:'Todos',value:''},
							],
						},
						is_sex:{
							selected:'',
							options:[
								{text:'Varón',value:1},
								{text:'Mujer',value:0},
								{text:'Todos',value:''},
							],
						},
						is_active:{
							selected:'',
							options:[
								{text:'Activo',value:1},
								{text:'Inactivo',value:0},
								{text:'Todos',value:''},
							],
						},
					},
					search_word:'',
					server_msg:'',
					wait_list:false,
					form:{
						del_wait:false,
						is_new:false,
						new_wait:false,
						fullname:'',
						document_number:'',
					},
					list:[
					],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
				},
				relatives_link:[
					{
						text:'Panel',
						to:{name: 'panel_teacher'}
					},
					{
						text:'Profesores',
						to:null,
					}
				],
			}
		},
		mounted(){
			this.getTeachersList()
			this.$store.commit('websiteTitle','Profesores')
		},
		methods:{
			createNewTeacher(){
				Swal.fire({
					title: 'Crear nuevo profesor(a)?',
					text: "Evite duplicar el registro de profesores por favor",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(this.$dev_mode)console.log("swal result = ",result)
					if(result.value === true){
						if(this.teachers.form.new_wait)return
						this.teachers.form.new_wait = true
						const data = {}
						for(const idx in this.teachers.form){
							const val = this.teachers.form[idx]
								if(typeof val == 'string' || typeof val =='number' || typeof val == 'boolean'){
									data[idx] = val
								}
						}
						this.axios({
							method:'POST',
							url:`${url_api_teachers}`,
							data,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.teachers.form.new_wait = false
							this.$router.push({ name: 'panel_teacher_teacher_view', params: { id: response.data.value.id } })
						}).catch(err =>{
							this.teachers.form.new_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							let msg = 'Error al crear nuevo profesor(a)'
							if( err && err.response ){
								if(err.response.data){
									if(err.response.data.msg){
										msg = err.response.data.msg
									}
								}
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error al crear un nuevo profesor(a)',
											text:msg,
											icon:'warning',
										}
									)
							}
						}) 
					}
				})
			},
			changePaginationTeacher(tt){
				this.teachers.regs_x_page = tt
				this.getTeachersList()
			},
			getOrderActionTeacher(str){
				if(this.teachers.wait_list )return
				this.teachers.order.by_last = this.teachers.order.by
				this.teachers.order.orientation_last = this.teachers.order.orientation
				this.teachers.order.by = str
				this.teachers.order.orientation = !this.teachers.order.orientation
				this.getTeachersList()
			},
			pag(current,total){
				return pag(current,total);
			},
			paginationChangeTeacher(page){
				if(this.teachers.wait_list )return
				if(this.teachers.current_page==this.teachers.total_pages && this.teachers.current_page==page)return
				if(this.teachers.current_page==page && page==1)return;
				if(page>0 && page<=this.teachers.total_pages){
					this.teachers.current_page = page;
					this.getTeachersList();
				}
			},
			editTeacher(it){
				return true
			},
			delTeacher(it){
				Swal.fire({
					title: 'Eliminar a este profesor(a)?',
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar',
				}).then(result=>{
					if(result.value === true){
						if( this.teachers.form.del_wait )return
						this.teachers.form.del_wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)
						this.axios({
							method:'DELETE',
							url:`${url_api_teachers}/${it.id}`,
						}).then( response =>{
							if(this.$dev_mode)console.log(response)
							this.teachers.form.del_wait = false
							this.getTeachersList()
							Swal.close()
							Swal.fire(
								{
									title:'Registro eliminado',
									icon:'success',
								}
							)
						}).catch(err =>{
							this.teachers.form.del_wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
									Swal.fire(
										{
											title:'Error',
											text:'Error al eliminar al profesor(a), quizás esté vinculado a otros registros',
											icon:'warning',
										}
									)
							}
						})
					}
				})
			},
			getTeachersList(){
				if( this.teachers.wait_list )return
				this.teachers.wait_list = true
				this.teachers.server_msg = 'Espere porfavor...'
				this.axios.get(url_api_teachers,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						is_admin:this.teachers.search_list.is_admin.selected,
						is_sex:this.teachers.search_list.is_sex.selected,
						is_active:this.teachers.search_list.is_active.selected,
						word: this.teachers.search_word,
						order_by:this.teachers.order.by,
						order_orientation:this.teachers.order.orientation,
						page:this.teachers.current_page,
						regs_x_page:this.teachers.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.teachers.wait_list = false
					if(response && response.data && response.data.values){

						this.teachers.order.by = response.data.order_by
						this.teachers.order.orientation = response.data.order_orientation

						this.teachers.current_page = response.data.current_page
						this.teachers.total_pages = response.data.total_pages
						this.teachers.total_records = response.data.total_records
						this.teachers.regs_x_page = response.data.regs_x_page

						this.teachers.list = response.data.values
						this.teachers.server_msg = 'Listo'
					}else{
						this.teachers.server_msg = 'Sin registros'
					}
				}).catch(err =>{
					this.teachers.wait_list = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.teachers.server_msg = 'Error al recuperar los registros'
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							this.list = []
							this.teachers.server_msg = this.$permission_message
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
			getDataFrom(obj){
				const _data = {}
				for(const idx in obj){
					const reg = obj[idx]
					if( typeof reg == 'string' || typeof reg == 'number' || typeof reg == 'boolean' ){
						_data[idx] = reg
					}else if( reg!=null && typeof reg == 'object' ){
						if( 'value' in reg ){
							_data[idx] = reg.value
						}
						if( 'selected' in reg ){
							_data[idx] = reg.selected
						}
					}else{
						//TODO
					}
				}
				return _data
			},
		},
		computed:{

		},
		watch:{
			'teachers.search_list.is_admin.selected':function(new_val,old_val){
				this.getTeachersList()
			},
			'teachers.search_list.is_active.selected':function(new_val,old_val){
				this.getTeachersList()
			},
			'teachers.search_list.is_sex.selected':function(new_val,old_val){
				this.getTeachersList()
			},
		},
		filters:{

		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
.actions{
	button{
		margin-right: 5px;
	}
}
.course-types{
	list-style-type: decimal-leading-zero;
	padding-left: 10px;
	text-align: left;
}
.panel-top{
	text-align: left;
}
.data-name{
	text-align: left;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
}
.table-container{
	position: relative;
	width: 100%;
	overflow-x: scroll;
	table{
		background-color:#ffeeb1;
		tr{
			&.inactive{
				font-style: italic;
				background: #ffc3c3;
				color: #656565;
			}
		}
	}
}
</style>