<template>
	<div>
		<ul class="cc-colors">
			<li v-for="(it,idx) in colors" :key="idx">
				<button :color="it" :style="`background-color:${it}`" @click="onSelect(it)"></button>
			</li>
		</ul>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				colors:["#4D4D4D","#999999","#FFFFFF","#F44E3B","#FE9200","#FCDC00","#DBDF00","#A4DD00","#68CCCA","#73D8FF","#AEA1FF","#FDA1FF","#333333","#808080","#CCCCCC","#D33115","#E27300","#FCC400","#B0BC00","#68BC00","#16A5A5","#009CE0","#7B64FF","#FA28FF","#000000","#666666","#B3B3B3","#9F0500","#C45100","#FB9E00","#808900","#194D33","#0C797D","#0062B1","#653294","#AB149E"],
			}
		},
		mounted(){
			return true
		},
		methods:{
			onSelect(it){
				this.$emit('select',it)
			}
		}
	}
</script>
<style lang=scss scoped>
	.cc-colors{
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 204px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		flex-wrap: wrap;
		li{
			position: relative;
			display: inline-flex;
			padding: 0px;
			margin: 0px;
			list-style: none;
			button{
				border: 0px solid #ddd;
				width:15px;
				height:15px;
				margin-right: 2px;
				margin-bottom: 2px;
			}
		}
	}
</style>