<template>
	<div>
		<div 
			class="custom-avatar" 
			v-if=" src " >
			<img 
				class="noselect" 
				draggable="false" 
				v-on:contextmenu.prevent="" 
				:src=" src ">
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				name:'custom-avatar',
			}
		},
		mounted(){
			return true
		},
		methods:{

		},
		props:{
			src:{
				type: String,
				default: null
			}
		}
	}
</script>
<style lang=scss scoped>
	.custom-avatar{
		margin-left: 5px;
		margin-right: 5px;
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: relative;
		border-radius: 50%;
		display: inline-block;
		box-shadow: 0px 0px 5px 2px #949494;
		background: white;
		>img{
			position: absolute;
			width: 50px;
			height: auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
</style>