<template>
	<div>
		<b-modal
			:title=" `Previsualización de ${is_video(src) ? 'video' : 'archivo'} ${fileExtension(src).toUpperCase()}` "
			ref="modal_preview_media" 
			ok-only
			ok-title="Cerrar"
			ok-variant=dark
			:size=" is_pdf(src) ? 'xl':'md' "
		>
			<div class="modal-view">
				<video 
					v-if="
						(
							is_media(src)=='mp4' || 
							is_media(src)=='mpeg4' || 
							is_media(src)=='flv'
						) " 
						controls 
						preload="metadata"
					>
					<source :src="`${src}`" :type="`video/${is_media(src)}`">
					Archivo {{ is_media(src) }} no soportado
				</video>
				<audio 
					v-if=" 
						(
							is_media(src)=='mp3' || 
							is_media(src) == 'ogg' || 
							is_media(src) == 'wav'
						) 
						" 
						controls 
						preload="metadata" 
					>
					<source v-if=" is_media(src) == 'ogg' " :src="src" type="audio/ogg">
					<source v-if="is_media(src)=='mp3'" :src=" src " type="audio/mpeg">
					<source v-if="is_media(src)=='wav'" :src=" src " type="audio/wav">
					Archivo {{ is_media(src) }} de audio no soportado
				</audio>
				<img 
					v-if=" is_image(src) "
					:src="src" />
				<b-embed 
					v-if=" is_pdf(src) "
					type="iframe"
					aspect="16by9"
					:src="src"
					allowfullscreen
				></b-embed>
			</div>
		</b-modal>
		<div class="flex-elements">
			<a style="margin-left: 5px;margin-right: 5px;" :href="src" target="_blank">
				<b-btn 
					variant=outline-primary 
					size=sm 
					class="mt-1 mb-1">
					<fas icon="external-link-alt" />
				</b-btn>
			</a>
			<label>{{ is_video(src) ? 'Video' : 'Archivo' }} {{ (is_media(src) ? is_media(src) : fileExtension(src)).toUpperCase() }}</label>
			<label class="icon-label">
				<fas style="font-size: 25px;color:green;"
					v-if=" is_image(src) " 
					:icon="['far','file-image']" @click=" show_modal_mode "/>
				<fas style="font-size: 25px;color:red;"
					v-if=" is_pdf(src) " 
					:icon="['far','file-pdf']" @click=" show_modal_mode "/>
				<fas style="font-size: 25px;color:blue;"
					v-if=" is_word(src) " 
					:icon="['far','file-word']"/>
				<fas style="font-size: 25px;color:orange;"
					v-if=" is_powerpoint(src) " 
					:icon="['far','file-powerpoint']"/>
				<fas style="font-size: 25px;color:#00c3ff;"
					v-if=" is_media(src) " 
					:icon="['far','play-circle']" @click=" show_modal_mode "/>
			</label><label>{{ size }} MB</label>
		</div>
		<br />
		<b-btn 
			class="mt-2 mb-2"
			@click=" preview_media =  !preview_media "
			v-if=" is_media(src) && mode == 'inline' " 
			variant=primary 
			size=sm>
			{{ !preview_media ? 'Previsualizar' : 'Ocultar' }}
		</b-btn>
		<div v-if=" mode == 'inline' ">
			<video 
				v-if="
					preview_media && 
					(
						is_media(src)=='mp4' || 
						is_media(src)=='mpeg4' || 
						is_media(src)=='flv'
					) " 
					controls 
					preload="metadata"
				>
				<source :src="`${src}`" :type="`video/${is_media(src)}`">
				Archivo {{ is_media(src) }} no soportado
			</video>
			<audio 
				v-if=" 
					preview_media && 
					(
						is_media(src)=='mp3' || 
						is_media(src) == 'ogg' || 
						is_media(src) == 'wav'
					) 
					" 
					controls 
					preload="metadata" 
				>
				<source v-if=" is_media(src) == 'ogg' " :src="src" type="audio/ogg">
				<source v-if="is_media(src)=='mp3'" :src=" src " type="audio/mpeg">
				<source v-if="is_media(src)=='wav'" :src=" src " type="audio/wav">
				Archivo {{ is_media(src) }} de audio no soportado
			</audio>
		</div>

	</div>
</template>
<script>
	import Vue from 'vue'
	Vue.directive('inlined',{
		inserted(el){
			console.log("inserted directive call")
		},
	})
	export default{
		data(){
			return {
				preview_media : false,
			}
		},
		mounted(){
			return false
		},
		methods:{
			show_modal_mode(evt){
				if(this.mode == 'modal'){
					this.$refs['modal_preview_media'].show()
				}
			},
			is_image(str){
				if(this.fileExtension(str)=='jpg') return 'jpg'
				if(this.fileExtension(str)=='png') return 'png'
				if(this.fileExtension(str)=='jpeg') return 'jpeg'
				return false
			},
			is_pdf(str){
				if(this.fileExtension(str)=='pdf')return 'pdf'
				return false
			},
			is_word(str){
				if(this.fileExtension(str)=='doc')return 'doc'
				if(this.fileExtension(str)=='docx')return 'docx'
				return false
			},
			is_powerpoint(str){
				if(this.fileExtension(str)=='ppt')return 'ppt'
				if(this.fileExtension(str)=='pptx')return 'pptx'
				return false
			},
			is_media(str){
				if(this.fileExtension(str)=='mp4')return 'mp4'
				if(this.fileExtension(str)=='mpeg4')return 'mpeg4'
				if(this.fileExtension(str)=='flv')return 'flv'
				if(this.fileExtension(str)=='mp3')return 'mp3'
				if(this.fileExtension(str)=='wav')return 'wav'
				if(this.fileExtension(str)=='ogg')return 'ogg'
				return false
			},
			is_video(str){
				const nn = this.is_media(str)
				return nn == 'mp4' || nn == 'mpeg4' || nn == 'flv'
			},
			fileExtension(ff){
				return ff.split('.').pop().toLowerCase() 
			},
		},
		props:{
			src:{
				type:String,
				default:null,
			},
			size:{
				type:Number,
				default: 0,
			},
			mode:{
				type:String,
				default:'inline',/*inline, modal*/
			},
		},
	}
</script>
<style lang=scss scoped>
	video,audio, img{
		width: 100%;
		max-width: 400px;
	}
	.modal-view{
		position: relative;
		width: 100%;
		video,audio, img{
			max-width: 100% !important;
		}
	}
	label{
		margin-bottom: 0px !important;
	}
	.flex-elements{
		min-width: 180px;
		label{
			margin-right: 5px;
		}
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	.icon-label{
		cursor: pointer;
		display: flex;
    vertical-align: middle;
	}
</style>