<template>
	<div class="splash">
		<b-modal
			id="modal_how_to_login"
			title="Cómo ingresar"
			ok-only
			ok-title="Cerrar"
			ok-variant="dark"
		>
			<div>
				<b-alert
					show 
					variant=info>
					La administración le otorga un usuario y contraseña 
					que debe mantener en secreto y no brindarlo a terceras personas.
				</b-alert>
				<b-alert
					show 
					variant=danger>
					Si usted olvidó su contraseña o por primera vez intenta acceder, escriba un mensaje a la 
					página de facebook o  
					por whatsapp a la coordinadora o administradora del centro 
					educativo para que le brinde un nuevo usuario y contraseña.
				</b-alert>
			</div>
			<div v-if="false">
				<b-alert 
					show 
					variant="info">
					<label>Usuario:</label><br />
					Número de documento de identidad del alumno + año de nacimiento del alumno
				</b-alert>
				<b-alert 
					show 
					variant="info">
					<label>Contraseña:</label><br /> 
					Número de documento de identidad del padre o madre + apellido materno del padre o madre
				</b-alert>
				<b-alert show variant="warning">
					<label>Ejemplo de usuario:</label><br />
					<label>DNI del alumno = 87654321</label><br />
					<label>Año nacimiento del alumno = 2016</label><br />
					<label>Usuario = 876543212016</label>
				</b-alert>
				<b-alert show variant="warning">
					<label>Ejemplo de contraseña:</label><br />
					<label>DNI de mamá = 45654321</label><br />
					<label>Apellido materno de la mamá = Santiago</label><br />
					<label>Contraseña = 45654321santiago</label>
				</b-alert>
				<b-alert 
					show 
					variant="danger"
				>Solicite su usuario y contraseña al área administrativa si no puede ingresar.</b-alert>
				
			</div>
		</b-modal>
		<div class="login-container">
			<div>
				<b-card no-body class="overflow-hidden login-card">
					<h6 class="header-title" :style="`color:${login_header_color_title};background-color:${login_header_background_color_title}`"> {{ login_header_title }} </h6>
					<b-row no-gutters>
						<b-col lg=5 md=4 sm=4>
							<div class="image-logo">
								<b-card-img :src="schoolLogo" class="rounded-0"></b-card-img>
							</div>
						</b-col>
						<b-col lg=7 md=8 sm=8>
							<b-card-body :title=" login_title ">
								<b-card-text>
									<b-alert v-if=" showAlternate " show variant="danger">Vuelva a ingresar sus credenciales por favor</b-alert>
									<b-form @submit="onSubmit" @reset="onReset" >
										<b-form-group
											id="input-group-username"
											label="Usuario:"
											label-for="input-username"
											description=""
										>
											<b-form-input
												id="input-username"
												v-model="form.username"
												type="text"
												required
												placeholder="Ingrese su usuario"
											></b-form-input>
										</b-form-group>

										<b-form-group 
											id="input-group-password" 
											label="Contraseña:" 
											label-for="input-password">
											<b-form-input
												id="input-password"
												v-model="form.password"
												type="password"
												required
												placeholder="Contraseña"
											></b-form-input>
										</b-form-group>

										<div v-show="form.wait">
											<b-spinner small variant="primary" label="Spinning"></b-spinner>
											<span>&nbsp;Espere por favor...</span><br /><br />
										</div>
										<b-btn 
											type="submit" 
											variant="primary" 
											size=sm
										>Ingresar</b-btn>
										<fas 
											v-b-modal.modal_how_to_login
											class="ml-2" 
											style="font-size: 20px;" 
											:icon="['far','question-circle']" />
									</b-form>
								</b-card-text>
							</b-card-body>
						</b-col>
					</b-row>
				</b-card>
			</div>
		</div>
	</div>
</template>
<script>
/* prettier-ignore */
import Vue from 'vue'

import schoolLogo from '@/assets/logo2.png'

import Swal from 'sweetalert2'

const url_authentication = `${process.env.VUE_APP_SERVER_API_URL}/authenticate`
export default{
	data(){
		return {
			schoolLogo: (process.env.VUE_APP_UNDER_NGINX_SERVER === "Y" ? "/school_logo.png" : schoolLogo),
			login_title:'',
			login_header_title:'',
			login_header_color_title:'',
			login_header_background_color_title:'',
			form:{
				wait:false,
				username:'',
				password:'',
				type:'A',
			},
		}
	},
	mounted(){
		this.setTitles()
	},
	methods:{
		setTitles(){
			let ss = 'Login Title'
			try{
				ss = document.querySelector('meta[name="login_title"]')
				if(!ss){
					ss = 'Login'
				}else{
					ss = ss.content
				}
			}catch(e){
				console.log("can't set login title")
			}
			this.login_title = ss
			try{
				ss = document.querySelector('meta[name="login_header_title"]')
				if(!ss){
					ss = 'Intranet - Virtual Classroom'
				}else{
					ss = ss.content
				}
			}catch(e){
				console.log("can't set login header title")
			}
			this.login_header_title = ss
			try{
				ss = document.querySelector('meta[name="login_header_color_title"]')
				if(!ss){
					ss = '#fff'
				}else{
					ss = ss.content
				}
			}catch(e){
				console.log("can't set login header color title")
			}
			this.login_header_color_title = ss
			try{
				ss = document.querySelector('meta[name="login_header_background_color_title"]')
				if(!ss){
					ss = '#f00'
				}else{
					ss = ss.content
				}
			}catch(e){
				console.log("can't set login header background color title")
			}
			this.login_header_background_color_title = ss
		},
		onSubmit(evt){
			evt.preventDefault()
			if(this.form.wait)return
			this.form.wait = true
			const data = {
				username: this.form.username,
				password: this.form.password,
			}
			Swal.fire({
				icon: 'info',
				title: 'Espere por favor...',
				text: '',
			})
			this.axios({
				url:url_authentication,
				method:'POST',
				data,
			}).then(response=>{
				this.form.wait = false
				Swal.close()
				console.log(response)
				this.$store.commit('setProfile',response.data.user_info)
				this.$emit('success',response.data)
			}).catch((err)=>{
				this.$emit('error',err)
				window.err_login = err
				let msg = 'Sus credenciales han cambiado o no se encuentra activo'
				if(err && err.message == 'Network Error'){
					msg = 'El sistema se encuentra deshabilitado'
				}
				this.form.wait = false
				this.$store.commit('setProfile',{})
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: msg,
				})
			})
		},
		onReset(evt){
			evt.preventDefault()
		},
	},
	filters:{

	},
	computed:{

	},
	props:{
		showAlternate:{
			type:Boolean,
			default:false,
		}
	},
}
</script>
<style lang=scss coped>
	.login-container{
		width: 100%;
		position: relative;
		>div{
			margin: 5px auto;
			display: inline-block;
		}
		form{
			text-align: left;
		}
		.header-title{
			padding: 7px 1px;
		}
	}
	.login-card{
		margin: 0px 5px;
	}
	.modal-dialog{
		.splash{
			width: 100% !important;
			height: auto !important;
			>div{
				position: relative !important;
				width: 100% !important;
				>div{
					width: 100%;
				}
			}
		}
	}
	.image-logo{
		position: relative;
		width: 100%;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		img{
			margin: 1px auto;
		}
	}
	@media(max-width: 600px){
		.card-img{
			max-width: 100px;
		}
	}
	@media(min-width: 800px){
		.login-card{
			max-width: 540px;
		}
	}

</style>