<template>
	<b-btn 
		class="mr-1"
		variant=danger 
		size=sm 
		@click="logout">
		<fas icon='power-off'/>Salir
	</b-btn>
</template>
<script>

const url_logout = `${process.env.VUE_APP_SERVER_API_URL}/logout`
import Swal from 'sweetalert2'
export default{
	tag:'logout',
	data(){
		return {
			wait:false,
		}
	},
	mounted(){
		return false
	},
	methods:{
		logout(){
			if(this.wait)return
				this.wait = true
			Swal.fire({
				icon: 'info',
				title: 'Espere por favor...',
				text: '',
			})
			const data = {}
			this.axios({
				url:url_logout,
				method:'POST',
				data,
			}).then(response=>{
				this.wait = false
				Swal.close()
				this.$store.commit('setLoggedOut')
				if(this.$dev_mode)console.log(response)
			}).catch((err)=>{
				Swal.close()
				this.wait = false
				this.$store.commit('setLoggedOut')
			})
		},
	},
	watch:{

	},
	computed:{

	},
	filters:{

	},
	props:{

	}
}
</script>
<style lang=scss scoped>
	
</style>