<template>
	<b-container class="panel-student-top-header">
		<b-card no-body class="overflow-hidden">
			<b-row no-gutters class="top-header">
				<b-col md="1">
					<b-card-img :src="logo" class="rounded-0"></b-card-img>
				</b-col>
				<b-col md="11">
					<b-card-body>
						<b-card-title style="font-family: 'Baloo Paaji 2', cursive;">{{ user_settings_school_name }}</b-card-title>
						<b-card-text>
							{{ user_settings_school_motto }}
						</b-card-text>
					</b-card-body>
				</b-col>
			</b-row>
		</b-card>
		<div class="body-logout">
			<Logout />
		</div>
		<hr />
		<div class="user-info-header">
			Hola {{ user_fullname }}!
		</div>
	</b-container>
</template>
<script>
	import logo from '@/assets/logo2.png'

	import Swal from 'sweetalert2'
	export default{
		tag:'panel-student-top-header',
		data(){
			return {
				logo: (process.env.VUE_APP_UNDER_NGINX_SERVER === "Y" ? "/school_logo.png" : logo),
			}
		},
		mounted(){
			return true
		},
		methods:{
		},
		computed:{
			user_fullname:{
				get(){
					const val = this.$store.state.profile
					return (val && val.fullname) ? val.fullname : ''
				}
			},
			user_settings_school_name:{
				get(){
					return this.$store.state.profile.settings.school_name
				}
			},
			user_settings_school_motto:{
				get(){
					return this.$store.state.profile.settings.school_motto
				}
			},
		},
		watch:{

		},
		filters:{

		},
		props:{

		}
	}
</script>
<style lang=scss scoped>
	.top-header{
		background-color: #ffe37c;
		align-items: center;
		img{
			max-width: 90px;
			position: relative;
		}
	}
	.body-logout{
		padding: 3px 0px 20px 0px;
		width: 100%;
		button{
			float: right;
		}
	}
	.user-info-header{
		text-align: left;
    background: #d4f5ff;
    width: 100%;
    position: relative;
    padding: 3px 5px;
    font-style: italic;
    box-shadow: 0px 3px 4px 0px #9cc2cc;
	}
</style>