<template>
	<div class="homework-video-view">
		<div>
			<b-btn :it-btn="it" style="margin: 5px;" @click="video_class_size = `size${it}`"
			v-for="it in 3" :key="it"
			variant=outline-success 
			size=sm>
				{{ (it+1)*25 }}%
			</b-btn>
		</div>
		<video
				controls 
				preload="metadata" 
				:class="[video_class_size]"
			>
			<source 
				:src="src" 
				:type="`video/${is_video(src)}`" />
			Archivo {{ is_video(src) }} no soportado
		</video>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				name:'component',
				video_class_size:'size1'
			}
		},
		mounted(){
			return true
		},
		methods:{
			setVideoSize(num){
				const percent = (num + 1) * 25
			},	
			is_video(str){
				const nn = this.fileExtension(str)
				if(nn == 'mp4')return nn
				if(nn == 'mpeg4')return nn
				if(nn == 'flv')return nn
				return false
			},
			fileExtension(ff){
				return ff.split('.').pop().toLowerCase() 
			},
		},
		props:{
			src:{
				type:String,
				default: null,
			}
		}
	}
</script>
<style lang=scss scoped>
	.homework-video-view{
		position: relative;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    background: #101010;
    box-shadow: 2px 2px 6px 2px #232323;
    border-radius: 15px;
		>video{
			position: relative; 
			padding:5px 10px; 
			margin:0px auto;

			&.size1{
				width: 100%;
				max-width: 50%;
			}
			&.size2{
				width: 100%;
				max-width: 75%;
			}
			&.size3{
				width: 100%;
				max-width: 100%;
			}
		}
	}
</style>