<template>
	<div>

		<b-modal
			id="modal_notification_form"
			name="modal_notification_form"
			:title=" notification_form.id ? 'Editar notificación' : 'Nueva notificación' "
			ok-only
			ok-title="Cerrar formulario"
			ok-variant=dark 
			size=xl
		>
			<b-alert show variant="warning">
				Asegúrese de no repetir registros de notificaciones
			</b-alert>
			<b-btn 
				:disabled="notification_form.wait" 
				class="mb-1" 
				variant=success 
				size=sm 
				@click="saveNotification">
				{{ notification_form.id ? 'Actualizar':'Crear' }} Notificación&nbsp;
				<fas v-if=" notification_form.wait " icon="sync" class="spin" />&nbsp;
				<span v-if=" notification_form.wait ">{{ notification_form.uploaded_percentage }} %</span>
			</b-btn>
			<b-form-group
				label="Título"
			>
				<b-form-input  
					v-model=" notification_form.title " 
					maxlength="200"
					trim />
			</b-form-group>
			<b-row>
				<b-col lg=4 md=6 sm=12>
					<b-form-group
						label="Público o Borrador?"
					>
						<toggle-button 
						v-model=" notification_form.is_public "
						:color="{checked: 'rgb(18, 154, 18)', unchecked: '#FF0000', disabled: '#CCCCCC'}"
						:labels="{checked: 'Público', unchecked: 'Borrador'}" 
						:width="100" 
						:sync="true"
						/>
					</b-form-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col lg=6 md=6 sm=12>
					Colores de texto:
					<color-picker @select="notification_form_make_fore_color($event)"/>
				</b-col>
				<b-col lg=6 md=6 sm=12>
					Colores de fondo de texto:
					<color-picker @select="notification_form_make_hilite_color($event)"/>
				</b-col>
			</b-row>
			<div class="format-btn">
				<div>
					Eliminar formato:
					<b-btn variant=info size=sm @click="notification_form_remove_format">
						<fas icon=times />
					</b-btn>
				</div>
				<b-dropdown style="margin-right: 5px;" size=sm variant=info :text="`Tamaño ${notifications.tools.selected_font_size}`" class="m-md-2">
					<b-dropdown-item v-for="(it,ii) in 7" :key="ii" @click="notification_form_make_font_size(ii+1)" :active=" notifications.tools.selected_font_size == ii+1 ">
						<span>Fuente: {{ii+1}}</span>
					</b-dropdown-item>
				</b-dropdown>
				<div class="btn-group">
					<button class="btn-header" size=sm variant=info @click="notification_form_make_header('h1')">
						<b-icon-type-h1 />
					</button>
					<button class="btn-header" size=sm variant=info @click="notification_form_make_header('h2')">
						<b-icon-type-h2 />
					</button>
					<button class="btn-header" size=sm variant=info @click="notification_form_make_header('h3')">
						<b-icon-type-h3 />
					</button>
				</div>
				<div class="btn-group">
					<button class="btn-block" size=sm variant=info @click="notification_form_make_p">
						P
					</button>
					<button class="btn-block" size=sm variant=info @click="notification_form_make_div">
						<b-icon-square />
					</button>
					<button class="btn-bold" size=sm variant=info @click="notification_form_make_bold">
						<b-icon-type-bold />
					</button>
					<button class="btn-italic" size=sm variant=info @click="notification_form_make_italic">
						<b-icon-type-italic />
					</button>
					<button class="btn-underline" @click="notification_form_make_underline">
						<b-icon icon="type-underline" />
					</button>
				</div>
				<div class="btn-group">
					<button class="btn-justify" @click="notification_form_make_justify('left')">
						<b-icon icon="justify-left" />
					</button>
					<button class="btn-justify" @click="notification_form_make_justify('full')">
						<b-icon icon="justify" />
					</button>
					<button class="btn-justify" @click="notification_form_make_justify('right')">
						<b-icon icon="justify-right" />
					</button>
					<button class="btn-justify" @click="notification_form_make_justify('center')">
						<b-icon icon="text-center" />
					</button>
					<button class="btn-indent" @click="notification_form_make_indent('left')">
						<b-icon icon="text-indent-right" />
					</button>
					<button class="btn-indent" @click="notification_form_make_indent('right')">
						<b-icon icon="text-indent-left" />
					</button>
					<button class="btn-list" @click="notification_form_make_list('ol')">
						<b-icon icon="list-ol" />
					</button>
					<button class="btn-list" @click="notification_form_make_list('ul')">
						<b-icon icon="list-ul" />
					</button>
					<button class="btn-list" @click="notification_form_make_delete_fills">
						<b-icon icon="x-square" />
					</button>
				</div>
			</div>
			<div 
				class="view-notification-content"
				:contenteditable=" !notification_form.wait " 
				id="notification-content-edit-space" 
				v-html=" notification_form.desc " 
				@input=" onNotificationContentEdit "
				v-on:drop="onNotificationDrop"
				v-on:dragover="onNotificationDragOver"
			>
				
			</div>

			<hr />
			<h6>Usted puede adjuntar hasta 3 archivos de tipo PDF, Word ó imágenes para esta notificación</h6>
			<div v-if=" notification_form.wait ">
				<b-spinner 
					label="Spinning" 
					small 
					class="mr-1" />Espere por favor...({{ notification_form.uploaded_percentage }}%)
			</div>
			<b-row>
				<b-col lg=4 md=12 sm=12>


					<div style="margin-bottom: 5px;">
						Nuevo archivo:&nbsp;
						<b-btn variant=danger size=sm @click=" removeNewFile($event,1) ">
							<fas icon=times />
						</b-btn>
					</div>
					<b-form-file style="text-align: left;overflow: hidden;"
						ref="filename1-input" 
						v-model="notification_form.filename1_file"
						placeholder="Elija un archivo..."
						drop-placeholder="Suelte aquí el archivo..."
						browse-text = "Buscar" 
						accept="*/*" 
					>
						<template slot="file-name" slot-scope="{ names }">
							<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
						</template>
					</b-form-file>
					<div v-if=" notification_form.filename1 ">
						<hr />
						<label>Archivo subido:</label><br />
						<filename-icon-display :src=" `${url_base}/notifications/${notification_form.academic_year_id}/${notification_form.filename1}` " />
						<div>
							<b-form-group
								label="Eliminar archivo subido ?"
							>
								<toggle-button 
									v-model=" notification_form.filename1_delete "
									:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
									:labels="{checked: 'SI', unchecked: 'NO'}" 
									:width="60" 
									:sync="true"
									/>
							</b-form-group>
						</div>
					</div>
					
				</b-col>
				<b-col lg=4 md=12 sm=12>


					<div style="margin-bottom: 5px;">
						Nuevo archivo:&nbsp;
						<b-btn variant=danger size=sm @click=" removeNewFile($event,2) ">
							<fas icon=times />
						</b-btn>
					</div>
					<b-form-file style="text-align: left;overflow: hidden;" 
						ref="filename2-input" 
						v-model="notification_form.filename2_file"
						placeholder="Elija un archivo..."
						drop-placeholder="Suelte aquí el archivo..."
						browse-text = "Buscar" 
						accept="*/*"
					>
						<template slot="file-name" slot-scope="{ names }">
							<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
						</template>
					</b-form-file>

					<div v-if=" notification_form.filename2 ">
						<hr />
						<label>Archivo subido:</label><br />
						<filename-icon-display :src=" `${url_base}/notifications/${notification_form.academic_year_id}/${notification_form.filename2}` " />
						<div>
							<b-form-group
								label="Eliminar archivo subido ?"
							>
								<toggle-button 
									v-model=" notification_form.filename2_delete "
									:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
									:labels="{checked: 'SI', unchecked: 'NO'}" 
									:width="60" 
									:sync="true"
									/>
							</b-form-group>
						</div>
					</div>
				</b-col>
				<b-col lg=4 md=12 sm=12>

					<div style="margin-bottom: 5px;">
						Nuevo archivo:&nbsp;
						<b-btn variant=danger size=sm @click=" removeNewFile($event,3) ">
							<fas icon=times />
						</b-btn>
					</div>
					<b-form-file style="text-align: left;overflow: hidden;"
						ref="filename3-input" 
						v-model="notification_form.filename3_file"
						placeholder="Elija un archivo..."
						drop-placeholder="Suelte aquí el archivo..."
						browse-text = "Buscar" 
						accept="*/*"
					>
						<template slot="file-name" slot-scope="{ names }">
							<label>{{ names.length >0 ? names[0].substr(-20) : '' }}</label>
						</template>
					</b-form-file>

					<div v-if=" notification_form.filename3 ">
						<hr />
						<label>Archivo subido:</label><br />
						<filename-icon-display :src=" `${url_base}/notifications/${notification_form.academic_year_id}/${notification_form.filename3}` " />
						<div>
							<b-form-group
								label="Eliminar archivo subido ?"
							>
								<toggle-button 
									v-model=" notification_form.filename3_delete "
									:color="{checked: 'rgb(18, 141, 154)', unchecked: 'rgb(197, 32, 124)', disabled: '#CCCCCC'}"
									:labels="{checked: 'SI', unchecked: 'NO'}" 
									:width="60" 
									:sync="true"
									/>
							</b-form-group>
						</div>
					</div>
				</b-col>
			</b-row>
		</b-modal>
		<b-container>
			<div style="text-align: left;margin-top: 20px;">
				<h4 class="ml-1">
					Notificaciones del año académico {{ academic_year.id }}
				</h4>
			</div>
			<div style="text-align: left">

				<nav aria-label="table-pag" class="noselect" style="display: inline-block;">
					<ul class="pagination">
						<li class="page-item" :class="{disabled:notifications.current_page<=1}" @click="paginationChangeNotifications(1)">
							<span class="page-link">
								<fas icon="angle-double-left"/>
							</span>
						</li>
						<li class="page-item" :class="{disabled:notifications.current_page<=1}" @click="paginationChangeNotifications(notifications.current_page-1)">
							<span class="page-link">
								<fas icon="chevron-left"/>
							</span>
						</li>
						<li :key="index"
							class="page-item" 
							v-for="(page,index) in pag(notifications.current_page,notifications.total_pages)" 
							:class="{active:notifications.current_page==page}"
							@click="page!='...' ? paginationChangeNotifications(page) : ''"
						>
							<a v-if="notifications.current_page!=page" class="page-link">{{page}}</a>
							<span v-else class="page-link">
								{{page}}
								<span class="sr-only">0</span>
							</span>
						</li> 
						<li 
							class="page-item" 
							:class="{disabled:notifications.current_page>=notifications.total_pages}"
							@click="paginationChangeNotifications(notifications.current_page+1)"
						>
							<span class="page-link">
								<fas icon="chevron-right" />
							</span>
						</li>
						<li 
							class="page-item"  
							@click="paginationChangeNotifications (notifications.total_pages)"
							:class="{disabled:notifications.current_page>=notifications.total_pages}"
						>
							<span class="page-link">
								<fas icon="angle-double-right" />
							</span>
						</li>
					</ul>
				</nav>
				<b-dropdown 
					size=sm 
					variant=info 
					:text="`${ notifications.regs_x_page } filas`" 
					class="m-md-2 ml-1">
					<b-dropdown-item 
						v-for="it in 5" 
						:key="it" 
						@click=" changePaginationNotifications(it * 10) "
					>{{ it * 10 }} filas</b-dropdown-item>
				</b-dropdown>
				<b-btn 
					class="ml-1"
					variant=success 
					size=sm 
					@click=" getAcademicYearNotifications " >
					<fas icon=sync :class=" {spin: notifications.list_wait } "/>
				</b-btn>
			</div>
			<div class="table-container">
				<table class="table table-hover table-stripped students">
					<thead>
						<th style="width: 100px;">
							<b-btn  
								variant=success 
								size=sm 
								v-b-modal.modal_notification_form 
								@click=" newNotification "
							>
								<fas icon=plus />
							</b-btn>
						</th>
						<th @click="getOrderActionNotifications('notification_title')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: notifications.order.by == 'notification_title',
									unordered : notifications.order.by != 'notification_title', 
									asc: notifications.order.orientation, 
									desc : !notifications.order.orientation 
								}">
									Título
							</label>
						</th>
						<th @click="getOrderActionNotifications('notification_is_public')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: notifications.order.by == 'notification_is_public',
									unordered : notifications.order.by != 'notification_is_public', 
									asc: notifications.order.orientation, 
									desc : !notifications.order.orientation 
								}">
									PÚBLICO / BORRADOR
							</label>
						</th>
						<th>
							Archivos
						</th>
						<th @click="getOrderActionNotifications('notification_created_at')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: notifications.order.by == 'notification_created_at',
									unordered : notifications.order.by != 'notification_created_at', 
									asc: notifications.order.orientation, 
									desc : !notifications.order.orientation 
								}">
									Creado el
							</label>
						</th>
						<th @click="getOrderActionNotifications('notification_updated_at')">
							<label 
								class="table-header noselect" 
								:class="{
									ordered: notifications.order.by == 'notification_updated_at',
									unordered : notifications.order.by != 'notification_updated_at', 
									asc: notifications.order.orientation, 
									desc : !notifications.order.orientation 
								}">
									Actualizado el
							</label>
						</th>
						<th></th>
					</thead>
					<tbody v-if=" notifications_list_computed.length >0 ">
						<tr v-for =" (it,idx) in notifications_list_computed " :key="idx">
							<td>
								{{(notifications.current_page-1)*notifications.regs_x_page + idx + 1}}
							</td>
							<td>
								{{ it.title }}
							</td>
							<td>
								{{ it.is_public ? 'PÚBLICO': 'BORRADOR' }}
							</td>
							<td>
								<filename-icon-display 
									v-if=" it.filename1 "
									:mode="`modal`" 
									:src=" `${url_base}/notifications/${it.academic_year_id}/${it.filename1}` " />
								<filename-icon-display 
									v-if=" it.filename2 "
									:mode="`modal`" 
									:src=" `${url_base}/notifications/${it.academic_year_id}/${it.filename2}` " />
								<filename-icon-display 
									v-if=" it.filename3 "
									:mode="`modal`" 
									:src=" `${url_base}/notifications/${it.academic_year_id}/${it.filename3}` " />
							</td>
							<td>{{ it.created_at | moment('timezone', timezone, 'DD/MM/YYYY hh:mm:ss a') }}</td>
							<td>{{ it.updated_at | moment('timezone', timezone, 'DD/MM/YYYY hh:mm:ss a') }}</td>
							<td class=actions>
								<b-btn 
									class="mb-1"
									variant=primary 
									size=sm 
									@click=" editNotification(it) " 
									v-b-modal.modal_notification_form>
									<b-icon-pencil/>
								</b-btn>
								<b-btn 
									class="mb-1"
									variant=danger 
									size=sm 
									@click=" deleteNotification(it) ">
									<b-icon-trash/>
								</b-btn>
							</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan=7 >Sin notificaciones</td>
						</tr>
					</tbody>
				</table>
			</div>


		</b-container>
	</div>
</template>
<script>
	import {pag} from '@/assets/js/utils.js'
	const Swal = require('sweetalert2')

	const url_base = process.env.VUE_APP_SERVER_API_URL

	const url_api = `${url_base}/academic-years/notifications`
	const url_api_teachers_academic_year_notifications = `${url_api}/for-teachers`

	export default{
		data(){
			return {
				url_base,
				academic_year:{
					id:null,
				},
				notifications:{
					files_accepted_formats:[
						'jpg',
						'jpeg',
						'png',
						'ppt',
						'pptx',
						'doc',
						'docx',
						'pdf',
						'mpeg4',
						'mp4',
						'mp3',
						'wav',
						'ogg',
						'flv',
					],
					tools:{
						show_pallete:false,
						selected_font_size:1,
						color_picker:'#194d33',
					},
					list_wait:false,
					list:[
						{
							id:null,
							academic_year_id:null,
							desc:'',
							title:'',
							is_public:false,
							filename1:null,
							filename2:null,
							filename3:null,
						}
					],
					current_page:1,
					total_pages:1,
					total_records:0,
					regs_x_page:10,
					order:{
						by:'',
						orientation:true,
						by_last:'',
						orientation_last:true,
					},
					im_admin:false,
				},
				notification_form:{
					wait:false,
					id:null,
					academic_year_id:null,
					desc:'',
					desc_current:'',
					title:'',
					teacher_id:null,
					is_public:false,

					filename1_file:null,
					filename2_file:null,
					filename3_file:null,

					filename1_delete:false,
					filename2_delete:false,
					filename3_delete:false,

					filename1:null,
					filename2:null,
					filename3:null,

					uploaded_percentage:0,

					updated_at:null,
					created_at:null
				},
			}
		},
		mounted(){
			this.academic_year.id = this.$router.history.current.params.id
			this.notifications.list = []
			this.getAcademicYearNotifications()
		},
		methods:{

			fileExtension(ff){
				return ff.split('.').pop().toLowerCase()
			},
			saveNotification(){
				Swal.fire({
					title: (this.notification_form.id ? 'Actualizar notificación ?':'Crear nueva notificación ?'),
					text: "",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'SI',
					cancelButtonText: 'NO',
				}).then(result=>{
					if(result.value === true){
						if( this.notification_form.wait )return
						this.notification_form.wait = true
						Swal.fire(
							{
								title:'Espere por favor...',
								icon:'info',
							}
						)

						const form_has_any_file = ( this.notification_form.filename1_file instanceof File ) || 
																			( this.notification_form.filename2_file instanceof File ) || 
																			( this.notification_form.filename3_file instanceof File )

						let data = this.getSNBvalues(this.notification_form)
						delete data['updated_at']
						delete data['created_at']
						data.academic_year_id = this.academic_year.id
						data.desc_current = ''
						data.desc = document.getElementById("notification-content-edit-space").innerHTML
						if(form_has_any_file){
							const formData = new FormData()
							for(const idx in data){
								formData.append(idx,data[idx])
							}
							if(this.notification_form.filename1_file instanceof File ){
								formData.append('filename1_file',this.notification_form.filename1_file)
							}
							if(this.notification_form.filename2_file instanceof File ){
								formData.append('filename2_file',this.notification_form.filename2_file)
							}
							if(this.notification_form.filename3_file instanceof File ){
								formData.append('filename3_file',this.notification_form.filename3_file)
							}
							data = formData
						}

						this.axios({
							method:(this.notification_form.id ? 'PUT':'POST'),
							url:`${url_api_teachers_academic_year_notifications}${this.notification_form.id ? `/${this.notification_form.id}`:''}`,
							headers:{
								'Content-Type': ( form_has_any_file ? 'multipart/form-data' : 'application/json'),
								'Accept':'application/json',
							},
							data,
							onUploadProgress: ( progressEvent ) => {
								this.notification_form.uploaded_percentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
							},
						}).then( response =>{
							this.notification_form.wait = false
							Swal.close()
							Swal.fire(
								{
									title: ( this.notification_form.id ? 'Notificación actualizada' : 'Notificación creada' ),
									icon:'success',
								}
							)
							if(this.$dev_mode){
								console.log(response)
								console.log("current form = ",this.notification_form)
							}
							this.clearFormFilesInput()
							this.getSNBvalues(response.data,this.notification_form)


							this.notification_form.filename1_delete = false
							this.notification_form.filename2_delete = false
							this.notification_form.filename3_delete = false
							this.getAcademicYearNotifications()
						}).catch(err =>{
							this.notification_form.wait = false
							if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
							let pass = true
							if( err && err.response ){
								if( err.response.status == 401 ){
									this.$store.commit('showModalLogin')
									pass = false
								}else if( err.response.status == 403 ){
									pass = false
									Swal.fire(
										{
											title:this.$permission_message,
											icon: 'warning',
										}
									)
								}
							}
							if(pass){
								Swal.fire(
									{
										title:'Error',
										text:(this.notification_form.id ? 'No se pudo actualizar la notificación' : 'No se pudo crear la notificación'),
										icon:'warning',
									}
								)
							}
						})
					}
				})
			},

			newNotification(){
				this.notification_form.id = null
				this.notification_form.title = ''
				this.notification_form.desc = ''

				this.clearFormFilesInput()

				this.notification_form.filename1_file = null
				this.notification_form.filename2_file = null
				this.notification_form.filename3_file = null
				this.notification_form.filename1_delete = false
				this.notification_form.filename2_delete = false
				this.notification_form.filename3_delete = false

				this.notification_form.uploaded_percentage = 0
				this.notification_form.folder = null

			},
			clearFormFilesInput(){
				this.notification_form.filename1 = null
				this.notification_form.filename2 = null
				this.notification_form.filename3 = null

				let file_input = this.$refs['filename1-input']
				if(file_input)file_input.reset()
				file_input = this.$refs['filename2-input']
				if(file_input)file_input.reset()
				file_input = this.$refs['filename3-input']
				if(file_input)file_input.reset()
			},
			editNotification(it){

				this.clearFormFilesInput()
					
				this.notification_form.filename1_file = null
				this.notification_form.filename2_file = null
				this.notification_form.filename3_file = null
				this.notification_form.filename1_delete = false
				this.notification_form.filename2_delete = false
				this.notification_form.filename3_delete = false

				this.notification_form.uploaded_percentage = 0
				this.notification_form.folder = null
				this.getSNBvalues(it,this.notification_form)
				this.notification_form.id = it.id

				if(this.$dev_mode)console.log("this.notification_form => ",this.notification_form)
			},
			getSNBvalues(src,dest = null){
				const data = dest ? dest : {}
				for(const idx in src){
					const val = src[idx]
					if(idx == 'due_date'){
						if(!data.due_date)data.due_date = {}
						data.due_date.value = this.$moment(val)
					}
					else if(idx == 'of_type'){
						if(!data.of_type)data.of_type = {}
						data.of_type.selected = val
					}else{
						if(typeof val =='string' || typeof val == 'number' || typeof val == 'boolean' || val === null || val ===undefined){
							data[idx] = val
						}
					}
				}
				return data
			},
			onNotificationContentEdit(evt){
				this.notification_form.desc_current = evt.target.innerHTML
			},
			onNotificationDrop(evt){
				evt.preventDefault()
				if(this.$dev_mode)console.log(evt)
			},
			onNotificationDragOver(evt){
				evt.preventDefault()
				if(this.$dev_mode)console.log(evt)
			},
			notification_form_make_delete_fills(){
				const node = window.getSelection().getRangeAt(0).startContainer.parentNode

				node.style.marginBottom = '0px'
				node.style.marginTop = '0px'
				node.style.marginLeft = '0px'
				node.style.marginRight = '0px'

				node.style.paddingBottom = '0px'
				node.style.paddingTop = '0px'
				node.style.paddingLeft = '0px'
				node.style.paddingRight = '0px'
				
				//document.execCommand('delete', false, null);
			},
			notification_form_make_bold(){
				document.execCommand('bold',false,null)
			},
			notification_form_make_italic(){
				document.execCommand('italic',false,null)
			},
			notification_form_make_font_size(val){
				this.notifications.tools.selected_font_size = val
				document.execCommand('fontSize',false,val)
			},
			notification_form_make_fore_color(color = null){
				document.execCommand('foreColor',false,color)
			},
			notification_form_make_hilite_color(color = null){
				document.execCommand('hiliteColor',false,color)
			},
			notification_form_make_header(tag = 'h1'){
				document.execCommand('formatBlock',false,`<${tag}>`)
			},
			notification_form_make_p(){
				document.execCommand('formatBlock',false,'<p>')
			},
			notification_form_make_div(){
				document.execCommand('formatBlock',false,'<div>')
			},
			notification_form_make_justify(cond=''){
				if(cond=='center')document.execCommand("justifyCenter", false, "")
				if(cond=='full')document.execCommand("justifyFull", false, "")
				if(cond=='right')document.execCommand("justifyRight", false, "")
				if(cond=='left')document.execCommand("justifyLeft", false, "")
			},
			notification_form_make_indent(cond='right'){
				if(cond=='right')document.execCommand("indent", true, "")
				if(cond=='left')document.execCommand("outdent", true, "")
			},
			notification_form_make_list(cond='ol'){
				if(cond=='ol')document.execCommand("insertOrderedList", false, "")
				if(cond=='ul')document.execCommand("insertUnorderedList", false, "")
			},
			notification_form_make_underline(){
				document.execCommand("underline", false, "")
			},
			notification_form_remove_format(){
				document.execCommand("removeFormat", false, null)
			},
			formatNumber(amount, decimalCount = 2, decimal = ".", thousands = ",") {
				try {
					decimalCount = Math.abs(decimalCount);
					decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

					const negativeSign = amount < 0 ? "-" : "";

					const i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
					const j = (i.length > 3) ? i.length % 3 : 0;

					return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
				} catch (e) {
					console.log(e)
				}
			},
			
			changePaginationNotifications(tt){
				this.notifications.regs_x_page = tt
				this.getAcademicYearNotifications()
			},
			getOrderActionNotifications(str){
				if(this.notifications.list_wait )return
				this.notifications.order.by_last = this.notifications.order.by
				this.notifications.order.orientation_last = this.notifications.order.orientation
				this.notifications.order.by = str
				this.notifications.order.orientation = !this.notifications.order.orientation
				this.getAcademicYearNotifications()
			},
			pag(current,total){
				return pag(current,total)
			},
			paginationChangeNotifications(page){
				if(this.notifications.list_wait )return
				if(this.notifications.current_page==this.notifications.total_pages && this.notifications.current_page==page)return
				if(this.notifications.current_page==page && page==1)return
				if(page>0 && page<=this.notifications.total_pages){
					this.notifications.current_page = page
					this.getAcademicYearNotifications()
				}
			},
			getAcademicYearNotifications(){
				if(this.notifications.list_wait)return
				this.notifications.list_wait = true
				this.axios.get(`${url_api_teachers_academic_year_notifications}/${this.academic_year.id}`,{ 
					headers:{  
						'Accept':'application/json', 
						'Content-Type':'application/json',
					},
					params:{
						order_by:this.notifications.order.by,
						order_orientation:this.notifications.order.orientation,
						page:this.notifications.current_page,
						regs_x_page:this.notifications.regs_x_page,
					}, 
				}).then( response =>{
					if(this.$dev_mode)console.log(response)
					this.notifications.list_wait = false

					this.notifications.order.by = response.data.order_by
					this.notifications.order.orientation = response.data.order_orientation

					this.notifications.current_page = response.data.current_page
					this.notifications.total_pages = response.data.total_pages
					this.notifications.total_records = response.data.total_records
					this.notifications.regs_x_page = response.data.regs_x_page

					this.notifications.list = response.data.values
					this.notifications.im_admin = response.data.im_admin

				}).catch(err =>{
					this.notifications.list_wait = false
					if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
					this.notifications.list = []
					if( err && err.response ){
						if( err.response.status == 401 ){
							this.$store.commit('showModalLogin')
						}else if( err.response.status == 403 ){
							Swal.fire(
								{
									title:this.$permission_message,
									icon: 'warning',
								}
							);
						}
					}
				})
			},
		},
		watch:{
			
			'notification_form.filename1_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					if(!this.notifications.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename1-input'].reset()
						this.notification_form.filename1_file = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}
			},
			'notification_form.filename2_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					if(!this.notifications.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename2-input'].reset()
						this.notification_form.filename2_file = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}
			},
			'notification_form.filename3_file':function(new_val,old_val){
				if(this.$dev_mode){
					console.log("new_val",new_val)
					console.log("old_val",old_val)
				}
				if(new_val instanceof File){
					if(!this.notifications.files_accepted_formats.includes(new_val.name.split('.').pop().toLowerCase())){
						if(this.$dev_mode)console.log("formato no aceptado")
						this.$refs['filename3-input'].reset()
						this.notification_form.filename3_file = null
					}else{
						if(this.$dev_mode)console.log("formato aceptado")
					}
				}
			},
		},
		computed:{
			notifications_list_computed(){
				return this.notifications.list.filter(not => not.id != null)
			},
		},
		props:{

		},
	}
</script>
<style lang=scss scoped>
	
	#modal_notification_form{
		div[contenteditable]{
			padding: 5px;
			position: relative;
			border:1px solid #aaa;
			width: 100%;
			min-height: 200px;
		}
	}
	.format-btn{
		.btn{
			margin-right: 5px;
		}
	}
	.notification-form-pallete{
		position: absolute;
		left: 100%;
		bottom: 0px;

	}
	.btn-justify, .btn-header, .btn-bold,.btn-italic, .btn-block, .btn-indent,.btn-list, .btn-underline{
		background: #d8d8d8;
		display: inline-block;
		font-size: 20px;
		width: 35px;
		margin: 5px 5px 5px 0px;
		text-align: center;
		border: 1px solid #9a9a9a;
	}
	.btn-group{
		display: inline-block;
	}
	.actions{
		width: 120px;
		.btn{
			margin-right: 5px;
		}
	}
	.list-files{
		padding-left: 2px;
		list-style-type: decimal-leading-zero;
		svg{
			margin-left: 5px;
			font-size: 30px;
		}
	}
</style>