<template>
  <div id="app">
    <b-modal 
      v-model='showModalLogin' 
      ok-only
      ok-title="Cerrar diálogo"
      ok-variant=dark
      size='md' 
      title="Su sesión ha expirado"
    >
      <Login @success="onLogin" :show-alternate="true" />

    </b-modal>
    <Login 
      v-if=" 
        onLoggedStateChange === false && 
        user_info_reached ===true " 
      @success="onLogin" 
      @error="onFailedLogin"/>
    <router-view v-if=" onLoggedStateChange === true && user_info_reached ===true "/>
    <div v-if="user_info_reached === false " class="splash">
      <div>
        <b-img :src="logo2" style="max-width: 100px;position: relative;" />  
        <h5>Sistema fuera de servicio</h5>
      </div>
    </div>
    <div v-if=" user_info_reached === null " class="splash">
      <div>
        <b-img :src="logo2" style="max-width: 100px;position: relative;" />  
        <h5>Espere por favor...</h5>
      </div>
    </div>
  </div>
</template>

<script>
/* prettier-ignore */
import Vue from 'vue'
Vue.use(require('@/customs'))

import VueCookies from 'vue-cookies'
Vue.use(VueCookies)
Vue.$cookies.config('1d')

import { Component,Prop, Watch } from 'vue-property-decorator'

import Login from '@/components/Login.vue'
Vue.component('Login',Login)
  import Logout from '@/components/Logout.vue'
Vue.component('Logout',Logout)

import PanelStudentTopHeader from '@/components/PanelStudentTopHeader.vue'
Vue.component(PanelStudentTopHeader.tag,PanelStudentTopHeader)

import axios from 'axios'
import VueAxios from 'vue-axios'
 
Vue.use(VueAxios, axios)


import ToggleButton from 'vue-js-toggle-button'
Vue.use(ToggleButton)
import { Chrome, Compact } from 'vue-color'
Vue.component('chrome-picker', Chrome)
Vue.component('compact-picker', Compact)

import ColorPicker from '@/components/ColorPicker.vue'
Vue.component('color-picker', ColorPicker)

import CustomAvatar from '@/components/CustomAvatar.vue'
Vue.component('custom-avatar', CustomAvatar)

import FilenameIconDisplay from '@/components/FilenameIconDisplay.vue'
Vue.component('filename-icon-display', FilenameIconDisplay)

import PanelStudentHomeworkVideoBlock from '@/components/PanelStudentHomeworkVideoBlock.vue'
Vue.component('panel-student-homework-view-block', PanelStudentHomeworkVideoBlock)


const TOKEN_KEY = 'jwt_code'
const USER_TYPE = 'user_type'

const url_api = process.env.VUE_APP_SERVER_API_URL
const url_api_user_info = `${url_api}/basic-profile`

import logo2 from '@/assets/logo2.png'

export default{
  data(){
    return {
      name:'',
      user_type:null,
      user_info_reached:null,
      logo2: (process.env.VUE_APP_UNDER_NGINX_SERVER === "Y" ? "/school_logo.png" : logo2),
    }
  },
  mounted(){

    if(this.$dev_mode){
      console.log(this.$router)
      console.log("existToken ? ",this.existToken())
      console.log("this.$router.history.current.name",this.$router.history.current.name)
    }
    if(
      this.$router.history.current.name !='' && 
      this.$router.history.current.name != null 
    ){
      if(!this.existToken()){
        this.$router.push({ path: "/" })
      }else{
        this.$store.commit('setLoggedIn')
      }
    }else{
      this.$store.commit('setLoggedState',this.existToken())
    }


    this.axios.interceptors.request.use(config => {
      // Do something before request is sent
      config.headers.Authorization = `JWT ${this.$cookies.get(TOKEN_KEY)}`
      return config
    }, function (error) {
      // Do something with request error
      return Promise.reject(error)
    })  
    this.getUserInfo()
  },
  methods:{
    existToken(){
      const token = this.$cookies.get(TOKEN_KEY)
      return !!token 
    },
    onLogin(data){
      if(this.$dev_mode)console.log("App[onLogin] => ",data)
      this.$cookies.set(TOKEN_KEY,data.auth_token)
      this.$cookies.set(USER_TYPE,data.type ? 1 : 0)
      this.user_type = data.type
      this.$store.commit('setLoggedIn')
      this.$store.commit('hideModalLogin')
      this.getUserInfo()
    },
    onFailedLogin(err){
      if(this.$dev_mode)console.log("App[onFailedLogin] => ",err)
      this.$store.commit('setLoggedOut')
    },
    getUserInfo(){
      this.user_info_reached = null
      this.axios.get(url_api_user_info,{ 
        headers:{  
          'Accept':'application/json', 
          'Content-Type':'application/json',
        },
      }).then( response =>{
        this.user_info_reached = true
        this.user_type = response.data.user_type
        this.$store.commit('setProfile',response.data)
      }).catch(err =>{
        if(this.$dev_mode)console.log(err.response)
        if(err && err.response){
          if(err.response.status == 401){
            this.user_info_reached = true
          }else{
            this.user_info_reached = false
          }
        }else{
          this.user_info_reached = false
        }
        this.$store.commit('setProfile',{})
      })
    },
    setProperPath(){
      if(this.user_type===null || this.user_type === undefined){
        return
      }
      if(this.user_type){
        if(!/student/.test(this.$router.history.current.path))this.$router.push({ name: 'panel_student' })
      }else{
        if(!/teacher/.test(this.$router.history.current.path))this.$router.push({ name: 'panel_teacher' })
      }
    },
  },
  watch:{
    '$route':function(to, from){
      if(this.$dev_mode){
        console.log("change route")
        console.log("to",to);
        console.log("from",from)
      }
      if(to.path == '' || to.path == '/'){

        if(!this.existToken()){
          this.$store.commit('setLoggedOut')
          return
        }
      }
      if(this.user_type !== null && this.user_type !== undefined ){
        if(this.user_type){//student
          if(!/student/.test(to.name))this.$router.push({ name: 'panel_student' })
        }else{
          if(!/teacher/.test(to.name))this.$router.push({ name: 'panel_teacher' })
        }

      }
    },
    onLoggedStateChange(val,old_val){

      if(val === false){
        this.$cookies.remove(TOKEN_KEY)
        this.$cookies.remove(USER_TYPE)
        if(
          this.$router.history.current.name != null && 
          this.$router.history.current.name != '' && 
          this.$router.history.current.name != '/' 
        ){
          this.$router.push({ path: "/" })
        }
      }
      if(val === true){
        this.setProperPath()
      }
    },
    user_type(new_val,old_val){
      this.setProperPath()
    },
  },
  computed:{
    onLoggedStateChange:{
      get(){
        const val = this.$store.state.logged
        if(this.$dev_mode)console.log("computed onLoggedStateChange, value = ",val)
        return val
      }
    },
    showModalLogin:{
      get(){
        const val = this.$store.state.modals.login
        if(this.$dev_mode)console.log("computed showModalLogin, value = ",val)
        return val
      },
      set(val){
        this.$store.commit('setModalLoginState',val)
      },
    },
  },
  props:{

  }
}
</script>

<style lang=scss>
@import url('https://fonts.googleapis.com/css?family=Lobster|Baloo+Paaji+2|Abel|Ubuntu&display=swap');

@import "assets/scss/_variables.scss";
@import "assets/fontawesome-free-5.12.1-web/scss/fontawesome.scss";
@import "assets/fontawesome-free-5.12.1-web/scss/solid.scss";
@import "assets/scss/_common.scss";   
#app {
  margin-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.splash{
  width: 100vw;
  height: 100vh;
  >div{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: fit-content;
    margin: auto;
  }
}
@media(min-width: 800px){
  .splash{
    >div{
      width: 50%;
    }
  }
}
@media(max-width: 300px){
  .splash{
    >div{
      position: relative;
    }
  }
}
@media(max-height: 400px){
  .splash{
    >div{
      position: relative;
    }
  }
}
</style>
